{% extends 'socialside/base.html' %}
{% load i18n %}
{% block title %} {{ page_title }} {% endblock %}
{% block body %}
    {% include 'socialside/updates/update_header.html' %}
    <div class="main-content">
        <div class="row">
            <div class="col-md-12 col-12">
                <div class="card card-body" id="update-list">
{##}
{##}
{#                    <h5><strong>1.0.1</strong><br>#}
{#                        <small>December 04, 2017</small>#}
{#                    </h5>#}
{#                    <pre> - Add    : Boxed layout (see layout/layout.html)#}
{# - Add    : Quickview - Ajax load from toggler (see /layout/quickview-doc.html)#}
{# - Update : Smaller gap-{size} for mobile devices#}
{# - Update : Larger aside-toggler in small devices#}
{# - Update : Statistic widgets - Better responsive behaviour on mobile devices#}
{# - Update : Ability to make a quickview fullscreen on mobile (see docs)#}
{# - Update : Ability to have transparent .topbar#}
{# - Update : Plugins (VueJS, intercooler.js)#}
{# - Update : Minor CSS and JS improvements#}
{#</pre>#}
{##}
{#                    <hr>#}
{##}
{#                    <h5><strong>1.0.0</strong><br>#}
{#                        <small>November 08, 2017</small>#}
{#                    </h5>#}
{#                    <pre> - Update : To Bootstrap-4 beta-2#}
{# - Update : Plugins (SweetAlert2, Quill, Chartjs, VueJS)#}
{# - Fix    : .topbar-search to hide placeholder without requiring script.js#}
{# - Fix    : Minor bug fixes#}
{#</pre>#}


                </div>
            </div>
        </div>

    </div>
{% endblock %}