{% load i18n %}

<header class="header card-shadowed mb-25">
    <div class="header-info mt-30 mb-0">
        <h2 class="header-title">{% trans 'Leapcrowd <strong>Changelog</strong>' %}</h2>
    </div>
    <div class="header-info m-0">
        <p>
            <small>{% trans 'Track the changes in every release.' %}</small>
            <br/>
            <span class="badge badge-{{ message_class }}">{{ message_type }}</span>
            <small class="text-{{ message_class }}">{{ message }}</small>
        </p>
    </div>
</header>