{% load i18n %}

<div class="card card-shadowed">
              <h4 class="card-title"><strong>Account</strong> information</h4>

              <div class="card-body">
                <div class="row">
                  <div class="form-group col-md-6">
                    <label class="text-fader">Username</label>
                    <input class="form-control" type="text">
                  </div>

                  <div class="form-group col-md-6">
                    <label class="text-fader">Email</label>
                    <input class="form-control" type="text">
                  </div>

                  <div class="form-group col-md-6">
                    <label class="text-fader">New password</label>
                    <input class="form-control" type="password">
                  </div>

                  <div class="form-group col-md-6">
                    <label class="text-fader">Confirm new password</label>
                    <input class="form-control" type="password">
                  </div>
                </div>
              </div>

            </div>