{% load i18n %}
{% load static %}

<div class="card card-shadowed">
    <h4 class="card-title"><strong>Personal</strong> information</h4>
    <div class="card-body">
        <div class="row">
            <div class="form-group col-md-6">
                <label class="text-fader">First name</label>
                <input class="form-control" type="text" name="firstname" />
            </div>

            <div class="form-group col-md-6">
                <label class="text-fader">Last name</label>
                <input class="form-control" type="text" name="lastname">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label class="text-fader">Country</label>
                <select class="form-control" title="&#xA0;" data-provide="selectpicker">
                    <option>United States</option>
                    <option>Canada</option>
                    <option>Mexico</option>
                    <option>United Kingdom</option>
                </select>
            </div>

            <div class="form-group col-md-6">
                <label class="text-fader">Phone</label>
                <input class="form-control" type="text">
            </div>
        </div>


        <div class="form-group">
            <label class="text-fader">Address</label>
            <input class="form-control" type="text">
        </div>

    </div>

</div>