{% load i18n %}
<div class="card card-shadowed">
    <h4 class="card-title"><strong>Avatar</strong></h4>

    <div class="card-body">
        <div class="flexbox gap-items-4">
            <img class="avatar avatar-xl" src="../assets/img/avatar/2.jpg" alt="...">

            <div class="flex-grow">
                <h5>Hossein Shams</h5>
                <div class="flexbox justify-content-start mt-16">
                    <div class="file-group file-group-inline">
                        <button class="btn btn-sm btn-bold btn-secondary file-browser" type="button">Change</button>
                        <input type="file">
                    </div>

                    <a class="btn btn-sm btn-bold btn-danger" href="#">Delete</a>
                </div>
            </div>

        </div>
    </div>
</div>