{% load i18n %}

<div class="card card-shadowed">
              <h4 class="card-title">Notifications</h4>


              <div class="media">
                <div class="media-body">
                  <p><strong>Notifications</strong></p>
                  <p>Receive notifications from other users</p>
                </div>

                <label class="switch">
                  <input type="checkbox" checked="">
                  <span class="switch-indicator"></span>
                </label>
              </div>


              <div class="media">
                <div class="media-body">
                  <p><strong>Messages</strong></p>
                  <p>Allow other users to send you messages</p>
                </div>

                <label class="switch">
                  <input type="checkbox">
                  <span class="switch-indicator"></span>
                </label>
              </div>


              <div class="media">
                <div class="media-body">
                  <p><strong>Message email</strong></p>
                  <p>Email me when someone message me here</p>
                </div>

                <label class="switch">
                  <input type="checkbox" checked="">
                  <span class="switch-indicator"></span>
                </label>
              </div>


              <div class="media">
                <div class="media-body">
                  <p><strong>Applicant email</strong></p>
                  <p>Email me when an applicant applied for a job</p>
                </div>

                <label class="switch">
                  <input type="checkbox">
                  <span class="switch-indicator"></span>
                </label>
              </div>


              <div class="media">
                <div class="media-body">
                  <p><strong>Job expiration</strong></p>
                  <p>Email me when a position expired</p>
                </div>

                <label class="switch">
                  <input type="checkbox" checked="">
                  <span class="switch-indicator"></span>
                </label>
              </div>

            </div>