{% extends 'socialside/base.html' %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %} {{ page_title }} {% endblock %}
{% block body %}
    <div class="main-content pt-35">
        <div class="row">

            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="text-uppercase text-primary">Beginner</h5>
                        <br>
                        <h3 class="price text-primary">
                            <sup>{% trans "$" %}</sup>0
                            <span>{% trans "per month" %}</span>
                        </h3>

                        <hr>
                        <ul class="list-unstyled text-left">
                            {% if "tr" in LANGUAGE_CODE %}
                                <li><p>1 adet proje sayfası oluşturabilme.</p></li>
                                <li><p>Konumunuzdaki kişilerle anında iletişim kurabilme.</p></li>
                                <li><p>Konumunuzdaki kişilere 1 adet takım isteği gönderebilme.</p></li>
                                <li><p>Soru/Fikir paylaşabilme.</p></li>
                                <li><p>Takım isteği toplama ve değerlendirebilme.</p></li>
                                <li><p>3 kişilik bir ekip oluşturabilme.</p></li>
                                <li><p>Ekibinizi yönetebilme.</p></li>
                            {% else %}
                                <li><p>Building 1 project page.</p></li>
                                <li><p>Instant communication with people at your location.</p></li>
                                <li><p>Sending a team request to one person in your location.</p></li>
                                <li><p>Share question/idea.</p></li>
                                <li><p>Collect and evaluate team requests.</p></li>
                                <li><p>Building team for 3 persons 1 project.</p></li>
                                <li><p>Managing your team.</p></li>

                            {% endif %}

                        </ul>
                        <br><br>
                        <a class="btn btn-bold btn-block btn-primary"
                           href="javascript:void(0);">{% trans "Already Started" %}</a>
                    </div>
                </div>
            </div>


            <div class="col-lg-4">
                <div class="card card-shadowed bring-front">
                    <div class="card-body text-center">
                        <h5 class="text-uppercase text-warning">Growing</h5>
                        <br>
                        <h3 class="price text-warning">
                            <sup>{% trans "$" %}</sup>60<sup>.00</sup>
                            <span>{% trans "per month" %}</span>
                        </h3>
                        <hr>
                        <ul class="list-unstyled text-left">
                           {% if "tr" in LANGUAGE_CODE %}
                               <li><p>3 adet proje sayfası oluşturabilme.</p></li>
                               <li><p>Konumunuzdaki kişilerle anında iletişim kurabilme.</p></li>
                               <li><p>Konumunuz dışındaki kişilerle anında iletişim kurabilme.</p></li>
                               <li><p>Konumunuz dışındaki kişilere 50 adet takım isteği gönderebilme.</p></li>
                               <li><p>Soru/Fikir paylaşabilme.</p></li>
                               <li><p>Takım isteği toplama ve değerlendirebilme.</p></li>
                               <li><p>8 kişilik ekip kurabilme.</p></li>
                               <li><p>Profil detaylarını görebilme.</p></li>
                               <li><p>Ekibinizi yönetebilme.</p></li>
                           {% else %}
                               <li><p>Building 3 project pages.</p></li>
                               <li><p>Instant communication with people at your location.</p></li>
                               <li><p>Instant communication with people at outside your location.</p></li>
                               <li><p>Sending 50 team requests to everyone at outside your location.</p></li>
                               <li><p>Share question/idea.</p></li>
                               <li><p>Collect and evaluate team requests.</p></li>
                               <li><p>Building team for 8 persons per project.</p></li>
                               <li><p>View details of contacts.</p></li>
                               <li><p>Managing your team.</p></li>
                           {% endif %}

                        </ul>
                        <br><br>
                        <a class="btn btn-bold btn-block btn-outline btn-warning"
                           href="javascript:void(0);">{% trans "Get Started" %}</a>
                    </div>
                </div>
            </div>


            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="text-uppercase text-info">Connected</h5>
                        <br>
                        <h3 class="price text-info">
                            <sup>{% trans "$" %}</sup>120<sup>.00</sup>
                            <span class="text-muted">{% trans "per month" %}</span>
                        </h3>

                        <hr>
                        <ul class="list-unstyled text-left">
                            {% if "tr" in LANGUAGE_CODE %}
                                <li><p>Sınırsız sayıda proje oluşturabilme.</p></li>
                                <li><p>Platformdaki herkes ile anında iletişim kurabilme.</p></li>
                                <li><p>Platformdaki herkese takım isteği gönderebilme.</p></li>
                                <li><p>Soru/Fikir paylaşabilme.</p></li>
                                <li><p>Takım isteği toplama ve değerlendirebilme.</p></li>
                                <li><p>Sınırsız sayıda kişiyle ekip oluşturabilme.</p></li>
                                <li><p>Profil detaylarını görebilme.</p></li>
                                <li><p>Ekibinizi yönetebilme.</p></li>
                            {% else %}
                                <li><p>Add unlimited project page.</p></li>
                                <li><p>Communicate instantly with everyone.</p></li>
                                <li><p>Send team request to everyone.</p></li>
                                <li><p>Share question/idea.</p></li>
                                <li><p>Collect and evaluate team requests.</p></li>
                                <li><p>Team building with an unlimited number of people.</p></li>
                                <li><p>View details of contacts.</p></li>
                                <li><p>Managing your team.</p></li>
                            {% endif %}


                        </ul>

                        <br><br>
                        <a class="btn btn-bold btn-block btn-outline btn-info"
                           href="javascript:void(0);">{% trans "Get Started" %}</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}