
{% load i18n %}

<div class="card form-type-combine tab-pane fade active show card-shadowed" role="tabpanel" id="project1">
    <h4 class="card-title fw-400 pt-12 pb-12">{% trans "General information of the Project" %}</h4>
    <div class="card-body">
        <form method="post" enctype="multipart/form-data" id="upload-project-img">
            <div class="flexbox gap-items-4">
                <img class="avatar avatar-xl project-logo" src="{{ project_logo }}" alt="...">
                <div class="flex-grow">
                    <h5>{% trans "Project Logo" %}</h5>
                    <div class="d-flex flex-column flex-sm-row gap-y gap-items-2 mt-16">
                        <div class="file-group file-group-inline">
                            <button class="btn btn-sm btn-w-lg btn-bold btn-secondary file-browser" type="button">{% trans 'Upload' %}
                            </button>
                            <input type="file" id="file-project" name="myfile">
                        </div>
                        <button class="btn btn-sm btn-w-lg btn-bold btn-danger remove-logo" type="button">{% trans 'Remove' %}</button>
                    </div>

                </div>
            </div>
        </form>
        <hr>
        <div class="row">
            <div class="col-md-12 col-12">
                <div class="form-group">
                    <label for="project-name">{% trans "Project Name" %}</label>
                    <input type="text" class="form-control" placeholder="{% trans "Enter your project name" %}"
                           name="project-name" id="project-name" value="{{ title }}"/>
                    <div class="invalid-feedback">{% trans "Please provide a valid value." %}</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="project-summary">{% trans "Project Summary" %}</label>
                    <!-- Projeniz hangi soruna çözüm oluyor, neyi hedefliyor? -->
                    <textarea class="form-control b-0" id="project-summary" rows="6"
                              placeholder="{% trans 'Which problem do you offer a solution in your project? What do you target?' %}">{{ summary }}</textarea>
                    <div class="invalid-feedback">{% trans "Please provide a valid value." %}</div>
                    <div class="text-dark"><i class="fa fa-info"></i>&nbsp; {% trans 'You should make a narration of at least 120 characters.' %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-12">
                <div class="form-group">
                    <label for="project-website">{% trans "Website Address" %}</label>
                    <input type="text" class="form-control" placeholder="{% trans "Enter your website url" %}"
                           name="project-website" id="project-website" value="{{ website }}"/>
                    <div class="invalid-feedback">{% trans "Please provide a valid value." %}</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="sector">{% trans "Project Area/Sector" %}</label>
                    <select class="form-control" id="project-sector">

                    </select>
                    <div class="invalid-feedback">{% trans "Please provide a valid value." %}</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-12">
                <div class="form-group">
                    <label>{% trans "Project Usage Type" %}</label>
                </div>
                <div class="custom-controls ml-12 mr-12" id="usage-types">

                </div>
                <div class="invalid-feedback">{% trans "Please provide a valid value." %}</div>
            </div>
        </div>
    </div>

    <footer class="card-footer text-right">
        <button class="btn btn-outline btn-success" type="button" id="project-generals-save">{% trans "Save" %}</button>
    </footer>
</div>