{% load i18n %}

<div class="card form-type-combine tab-pane fade" id="project2" role="tabpanel">
    <h4 class="card-title fw-400">{% trans "Business Model of your Project" %}</h4>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="target-group">{% trans "Target Group" %}</label>
                    <textarea class="form-control b-0" id="target-group" rows="6"
                              data-placeholder="{% trans "Who are the target group of your project?" %}" name="target-group" data-toolbar="light" data-height="150" data-provide="summernote">{{ target_group }}</textarea>
                    <div class="invalid-feedback">{% trans "Please provide a valid value." %}</div>
                    <div class="text-info"><i
                            class="fa fa-info"></i>&nbsp; {% trans 'You should make a narration of at least 70 characters.' %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="revenue-model">{% trans "Revenue Model" %}</label>
                    <textarea class="form-control b-0" id="revenue-model" rows="6" name="revenue-model"
                              data-placeholder="{% trans "What's the revenue model of your project? ex: ads, micro payments, etc." %}" data-toolbar="light" data-height="150" data-provide="summernote">{{ revenue_model }}</textarea>
                    <div class="invalid-feedback">{% trans "Please provide a valid value." %}</div>
                    <div class="text-info"><i
                            class="fa fa-info"></i>&nbsp; {% trans 'You should make a narration of at least 70 characters.' %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="card-footer text-right">
        <button class="btn btn-outline btn-success" type="button" id="projcts-business-save">{% trans "Save" %}</button>
    </footer>
</div>