{% load i18n %}

<div class="card form-type-combine tab-pane fade" id="project3" role="tabpanel">
    <h4 class="card-title fw-400">{% trans "The requirements of your project" %}</h4>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="existing-requirements">{% trans "What are your possibilities for your project to work?" %}</label>
                    <textarea class="form-control b-0" id="existing-requirements" rows="6"
                              data-placeholder="{% trans 'What will you provide for the project? Ex: network, software, hosting, raw materials, etc.' %}" name="existing-requirements" data-toolbar="light" data-height="150" data-provide="summernote">{{ existing_requirements }}</textarea>
                    <div class="invalid-feedback">{% trans "Please provide a valid value." %}</div>
                    <div class="text-info"><i
                            class="fa fa-info"></i>&nbsp; {% trans 'You should make a narration of at least 70 characters.' %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="needed-requirements">{% trans "What do you need to make your project run?" %}</label>
                    <textarea class="form-control b-0" id="needed-requirements" name="needed-requirements" rows="6" data-height="150"
                              data-placeholder="{% trans 'What do you need for the project? Ex: network, software, hosting, raw materials, etc.' %}" data-toolbar="light" data-provide="summernote">{{ needed_requirements }}</textarea>
                    <div class="invalid-feedback">{% trans "Please provide a valid value." %}</div>
                    <div class="text-info"><i
                            class="fa fa-info"></i>&nbsp; {% trans 'You should make a narration of at least 70 characters.' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="card-footer text-right">
        <button class="btn btn-outline btn-success" type="button" id="project-requirements-save">{% trans "Save" %}</button>
    </footer>
</div>