{% load i18n %}

<div class="card form-type-combine tab-pane fade" id="project4" role="tabpanel">
    <h4 class="card-title fw-400">{% trans "Competitors" %}</h4>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="competitors">{% trans "Who're your current competitors?" %}</label>
                    <textarea class="form-control b-0" id="competitors" rows="6"
                              data-placeholder="{% trans 'Enter your current competitors name and web addresses.' %}" data-toolbar="light" data-height="150" data-provide="summernote">{{ competitor_content }}</textarea>
                    <div class="invalid-feedback">{% trans "Please provide a valid value." %}</div>
                    <div class="invalid-feedback">{% trans "Please provide a valid value." %}</div>
                    <div class="text-info"><i class="fa fa-info"></i>&nbsp; {% trans 'You should make a narration of at least 15 characters.' %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="card-footer text-right">
        <button class="btn btn-outline btn-success" type="button" id="project-competitors-save">{% trans "Save" %}</button>
    </footer>
</div>