{% load i18n %}

<div class="card tab-pane fade" id="project5" role="tabpanel">
    <h4 class="card-title fw-400">{% trans "Business Stage" %}</h4>
    <div class="card-body text-center" id="business-stages">

    </div>
</div>