{% load i18n %}

<div class="card tab-pane fade" id="project6" role="tabpanel">
    <h4 class="card-title fw-400">{% trans "Project Options" %}</h4>
    <div class="card-body">
        <h5 class="fs-14 fw-300 text-light">{% trans "Project Visibility Settings" %}</h5>
        <div class="form-group mt-25">
            <label class="switch switch-dark disabled">
                <input type="checkbox" disabled>
                <span class="switch-indicator"></span>
                <span class="switch-description">{% trans "Only paid persons can see the project details." %}</span>
            </label>
        </div>
        <div class="form-group">
            <label class="switch switch-dark disabled">
                <input type="checkbox" disabled>
                <span class="switch-indicator"></span>
                <span class="switch-description">{% trans "Only technical persons can see the project details" %}</span>
            </label>
        </div>
        <div class="form-group">
            <label class="switch switch-dark disabled">
                <input type="checkbox" disabled>
                <span class="switch-indicator"></span>
                <span class="switch-description">{% trans "Only entrepreneurs can see the project details" %}</span>
            </label>
        </div>
        <div class="form-group">
            <label class="switch switch-dark disabled">
                <input type="checkbox" disabled>
                <span class="switch-indicator"></span>
                <span class="switch-description">{% trans "Only my teammates can see the project details" %}</span>
            </label>
        </div>
        <hr>

        <h5 class="fs-14 fw-300 text-light">{% trans "Project Situation" %}</h5>
        <div class="form-group mt-25">
            <label class="switch switch-dark" id="give-feedback">
                <input type="checkbox" name="feedback" data-value="give-feedback" data-situation="">
                <span class="switch-indicator"></span>
                <span class="switch-description">{% trans "Persons can send feedback to project." %}</span>
            </label>
        </div>
        <div class="form-group">
            <label class="switch switch-dark" id="send-teamrequest">
                <input type="checkbox" name="teamrequest" data-value="send-teamrequest" data-situation="">
                <span class="switch-indicator"></span>
                <span class="switch-description">{% trans "Persons can send request to join team." %}</span>
            </label>
        </div>
        <div class="form-group">
            <label class="switch switch-dark" id="publish-project">
                <input type="checkbox" data-value="publish-project" data-situation="">
                <span class="switch-indicator"></span>
                <span class="switch-description">{% trans "Publish Project" %}</span>
            </label>
        </div>
    </div>
{#    <footer class="card-footer text-right">#}
{#        <a href="/dashboard/myprojects/" class="btn btn-outline btn-success" id="project-options-save">{% trans "Save" %}</a>#}
{#    </footer>#}
</div>