{% load static %}
{% load i18n %}

<div class="card form-type-combine tab-pane fade active show card-shadowed" role="tabpanel" id="profil1">
    {% csrf_token %}
    <h4 class="card-title fw-400 pt-12 pb-12">{% trans 'General Informations' %}</h4>
    <div class="card-body">
        <form method="post" enctype="multipart/form-data" id="upload-img">
            <div class="flexbox gap-items-4">
                <img class="avatar avatar-xl" src="{{ picture }}" alt="{{ picname }}">
                <div class="flex-grow">
                    <h5>{% trans 'Profile Picture' %}</h5>
                    <div class="d-flex flex-column flex-sm-row gap-y gap-items-2 mt-16">
                        <div class="file-group file-group-inline">
                            <button class="btn btn-sm btn-w-lg btn-bold btn-secondary file-browser"
                                    type="button" id="upload-img">{% trans 'Upload' %}
                            </button>
                            <input type="file" id="file" name="myfile">
                        </div>
                        {#                        <button class="btn btn-sm btn-w-lg btn-bold btn-danger remove-avatar" type="button">{% trans 'Remove' %}</button>#}
                    </div>
                    <div class="image-messages image-messages d-flex flex-column flex-sm-row gap-y"></div>
                </div>
            </div>
        </form>
        <hr>
        <div class="row">
            <div class="col-md-12 col-12">
                <div class="form-group">
                    <label for="text">{% trans 'Position title' %}</label>
                    <input class="form-control text-capitalize" type="text" placeholder="{% trans 'Enter your last position title' %}" value="{{ position_title }}" maxlength="150" id="position-titles"/>
                </div>
                <div class="card b-0" id="position-title-list">
                    <div class="media-list media-list-hover media-list-divided scrollable ps-theme-default b-1 positions-result"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-12">
                <div class="form-group">
                    <label for="text">{% trans 'Enter your headline' %}</label>
                    <input class="form-control" type="text" placeholder="{% trans 'Enter your headline text' %}"
                           value="{{ headline }}" maxlength="150" id="headline"/>
                    <span class="btn btn-sm btn-secondary lefted-character"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="textarea">{% trans 'Summary About Yourself' %}</label>
                    <textarea class="form-control pb-3" id="summary" rows="6"
                              placeholder="Tell About Yourself to Persons" maxlength="700">{{ summary }}</textarea>
                    <span class="btn btn-sm btn-secondary lefted-character"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-12">
                <label for="select">{% trans 'Where do you live?' %}</label>
                {% if isThereLocation %}
                    <div class="form-group disabled">
                        <label for="select">{% trans 'Where do you live?' %}</label>
                        <input class="form-control" id="place-address" disabled type="text"
                               placeholder="{% trans 'Enter your location' %}" value="{{ address_text }}">
                    </div>
                {% else %}
                    <div class="form-group">
                        <label for="select">{% trans 'Where do you live?' %}</label>
                        <input id="location-place-profile" class="form-control" type="text"
                               placeholder="{% trans 'Enter your location' %}">
                        <input type="hidden" id="place-name-profile" value=""/>
                        <input type="hidden" id="country-name-profile" value=""/>
                        <input type="hidden" id="city-name-profile" value=""/>
                        <input type="hidden" id="district-name-profile" value=""/>
                        <input type="hidden" id="neighborhood-name-profile" value=""/>
                        <input type="hidden" id="lat-position-profile" value=""/>
                        <input type="hidden" id="lng-position-profile" value=""/>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <footer class="card-footer text-right">
        <button class="btn btn-outline btn-success" id="general-update" type="button">{% trans 'Save' %}</button>
    </footer>
</div>