{% load i18n %}

{% include 'socialside/persons/saved_experiences.html' %}

<div class="card form-type-combine tab-pane fade card-shadowed" id="profil2" role="tabpanel">
    <h4 class="card-title fw-400">{% trans 'Add New Experience' %} </h4>
    <div class="card-body" id="experiences-container">
        <!-- bunların her birini dinamik olarak ekleyeceğiz -->
        <div class="main-div">
            <div class="row">
                <div class="col-md-12 col-12">
                    <div class="form-group">
                        <label for="company-name"
                               class="c-title">{% trans "What's the name of the company you work for?" %}</label>
                        <input class="form-control company-name" type="text" name="company-name"
                               placeholder="{% trans 'Enter your company name' %}">
                        <div class="invalid-feedback">Please provide a valid value.</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-12">
                    <div class="form-group">
                        <label for="position-title" class="p-title">{% trans "What's your position at work?" %}</label>
                        <input class="form-control position-title" type="text" name="position-title"
                               placeholder="{% trans 'Enter your job description' %}">
                        <div class="invalid-feedback">Please provide a valid value.</div>

                    </div>
                    <div class="card positions-result-container">
                        <div class="media-list media-list-hover media-list-divided scrollable ps-container ps-theme-default ps-active-y positions-result border"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-6">
                    <div class="form-group">
                        <label for="start-year" class="s-year">{% trans "What's your start date at work?" %}</label>
                        <input class="form-control start-year" type="text" name="start-year" data-provide="datepicker"
                               placeholder="{% trans 'Enter your only start year' %}"/>
                        <!-- is-invalid -->
                        <div class="invalid-feedback">Please provide a valid value.</div>
                    </div>
                </div>
                <div class="col-md-6 col-6 end-year-container">
                    <div class="form-group">
                        <label for="end-year" class="e-year">{% trans "What's your end date at work?" %}</label>
                        <input class="form-control end-year" type="text" name="end-year" data-provide="datepicker"
                               placeholder="{% trans 'Enter your only ended year' %}"/>
                        <div class="invalid-feedback">Please provide a valid value.</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-12">
                    <label class="custom-control custom-checkbox still-there">
                        <input type="checkbox" class="custom-control-input" data-endyear-title="end-year-container">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">{% trans 'Still Working' %}</span>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-12 text-center py-3" id="add-positions-result">

                </div>
            </div>
        </div>
    </div>

    <footer class="card-footer text-right">
        <button class="btn btn-outline btn-success" id="experience-save" data-situation="create" data-id="" type="button">{% trans 'Save' %}</button>
    </footer>
</div>



