{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<div class="card form-type-combine tab-pane fade card-shadowed" id="profil4" role="tabpanel">
    <h4 class="card-title fw-400">{% trans 'Basic Informations' %}</h4>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12 col-12">
                <div class="form-group">
                    <label for="project-supply">{% trans 'What kind of support will you have give for the project?' %}</label>
                    <select class="form-control" id="project-supply" name="project-supply">

                    </select>
                </div>
            </div>
        </div>
        <div class="row" id="project-hours-container">
            <div class="col-md-12 col-12">
                <div class="input-group">
                    <span class="input-group-addon fs-18">{{ hour_cost }}</span>
                    <div class="input-group-input">
                        <label>{% trans 'Hourly Cost' %}</label>
                        <input type="text" class="form-control"
                               placeholder="{% trans 'What is your hourly cost?' %}" aria-describedby="basic-addon1" maxlength="3" id="project-hour-cost">
                    </div>
                    <span class="input-group-addon">.00</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-12">
                <div class="form-group">
                    <label for="project-hour">{% trans 'How many hours do you take time for your project in a week?' %}</label>
                    <select class="form-control" id="project-hour" name="project-hour">

                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-12">
                <div class="form-group">
                    <label for="startup-history">{% trans 'Do you have a Startup History?' %}</label>
                    <select class="form-control" id="startup-history">

                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-12">
                <div class="form-group">
                    {% if "tr" in LANGUAGE_CODE %}
                        <label for="member-type">{% trans 'Hangi üyelik tipine aitsiniz?' %}</label>
                    {% else %}
                        <label for="member-type">{% trans "What's your member type?" %}</label>
                    {% endif %}

                    <select class="form-control" id="member-type">
                        {% if "tr" in LANGUAGE_CODE %}
                            <option value="0">Seçiniz</option>
                            <option value="entrepreneur">Girişimci</option>
                            <option value="technical">Teknik Kişi</option>
                        {% else %}
                            <option value="0">Select</option>
                            <option value="entrepreneur">Entrepreneur</option>
                            <option value="technical">Technical Person</option>
                        {% endif %}
                    </select>
                </div>
            </div>
        </div>
    </div>
    <footer class="card-footer text-right">
        <button class="btn btn-outline btn-success" type="button" id="save-basics">Kaydet</button>
    </footer>
</div>