{% load i18n %}

<div class="card form-type-combine tab-pane fade card-shadowed" id="profil3" role="tabpanel">
    <h4 class="card-title fw-400">{% trans 'Your Skills' %}</h4>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12 col-12 text-center" id="skill-result">
                <h4 class="text-center">{% trans 'Enter your professional skills.' %}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-12">
                <input type="text" class="form-control text-center fs-20 py-2 my-4 fw-500" id="skills" name="skills"
                       placeholder="{% trans 'Enter a skill name...' %}">
                <div class="card" id="skill-container">
                    <div class="media-list media-list-hover media-list-divided scrollable ps-container ps-theme-default ps-active-y" id="skill-list"></div>
                </div>
            </div>
        </div>
    </div>
    <footer class="card-footer text-right">
        <button class="btn btn-outline btn-success" type="button" id="save-skills">Kaydet</button>
    </footer>
</div>

