{% extends "socialside/base.html" %}
{% load i18n %}
{% block title %} {{ page_title }} {% endblock %}
{% block body %}
    <div class="main-content">
        {% if "success" in message_type %}
            <div class="row">
                <div class="col-md-12 col-12 col-lg-12">
                    {% include 'socialside/persons/details/profile_cover.html' %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-12 col-lg-12">
                    {% include 'socialside/persons/details/profile_about.html' %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-12 col-lg-12">
                    {% include 'socialside/persons/details/profile_skills.html' %}
                </div>
            </div>
            <div class="row" id="profile-experiences-header">
                <div class="col-12">
                    <div class="divider text-uppercase fw-500">{% trans "Experiences" %}</div>
                </div>
            </div>

            {% include 'socialside/persons/details/profile_experiences.html' %}

            <div class="row">
                <div class="col-12">
                    <div class="divider text-uppercase fw-500">{% trans "Support Type" %}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-12 col-lg-12">
                    {% include 'socialside/persons/details/profile_supporttype.html' %}
                </div>
            </div>
        {% else %}
            <div class="row no-margin pt-80">
                <div class="col-12">
                    <div class="card card-transparent center-h text-center">
                        <p style="font-size: 200px;" class="text-center text-fader"><i class="fa fa-exclamation-circle"></i></p>
                        <p class="result-message text-center fs-20 px-90 lh-2">{{ message }}</p>
                        <p class="text-center">
                            <a href="/dashboard/memberships/" class="btn btn-outline btn-info">{% trans "Our Paid Memberships" %}</a>
                        </p>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}