{% extends 'socialside/base.html' %}
{% load i18n %}
{% block title %} {{ page_title }} {% endblock %}

{% block body %}
    <div class="main-content">
        <div class="row">
            <div class="col-lg-9 col-9 col-md-9 col-sm-12 col-12 tab-content">
                {% include 'socialside/persons/persons_info_content.html' %}

            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                {% include 'socialside/persons/persons_right_menu.html' %}
                {% include 'socialside/persons/completed_info.html' %}

            </div>
        </div>

    </div>
{% endblock %}