{% load i18n %}

<aside class="aside aside-expand-md" id="filter-profiles">
    <div class="aside-body">
        <div class="aside-block form-type-line">
            <p>
                <small class="text-uppercase">{% trans "Filter" %}</small>
            </p>
            <div class="custom-controls-stacked">
                {% if "entrepreneur" in member_type %}
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="member-type" value="entrepreneur" checked="checked">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">{% trans "Entrepreneurs" %}</span>
                    </label>
                {% else %}
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="member-type" value="entrepreneur">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">{% trans "Entrepreneurs" %}</span>
                    </label>
                {% endif %}

                {% if "technical" in member_type %}

                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="member-type" value="technical" checked="checked">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">{% trans "Tech Persons" %}</span>
                    </label>
                {% else %}
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="member-type" value="technical">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">{% trans "Tech Persons" %}</span>
                    </label>
                {% endif %}

                {% if "team" in member_type %}
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="member-type" value="team" checked="checked">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">{% trans "Outsource Teams" %}</span>
                    </label>
                {% else %}
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="member-type" value="team">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">{% trans "Outsource Teams" %}</span>
                    </label>
                {% endif %}
            </div>
            <hr>
            <div class="input-group">

            </div>
            <div class="flexbox mt-50">
                <button type="button" class="btn btn-sm btn-block btn-info" data-page="1" id="filter-profiles-btn">{% trans "Filter" %}</button>
            </div>

        </div>
    </div>

    <button class="aside-toggler"></button>
</aside>