{% extends "socialside/base.html" %}
{% load i18n %}
{% block title %} {{ page_title }} {% endblock %}
{% block body %}
    {% include "socialside/persons/filterbar.html" %}

    <div class="main-content pb-15">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-12" id="person-list">
                {% include "socialside/persons/personslist.html" %}
            </div>
        </div>
        {% if has_next %}
            <div class="row" id="load-more-container">
                <div class="col-md-12 col-12 text-center py-10">
                    <button type="button" data-page="2"
                            class="btn btn-w-md btn-round btn-primary my-30">{% trans "Load More" %}</button>
                </div>
            </div>
        {% else %}
            <div class="row" id="load-more-container">
                <div class="col-md-12 col-12 text-center py-10">
                    <p class="result-message">{% trans "End of the list or you have to sign up paid membership." %}</p>
                    <button type="button" data-page="2" style="display: none;" class="btn btn-w-md btn-round btn-primary my-30">{% trans "Load More" %}</button>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}