{% load i18n %}



{% for profile in profiles %}
    <div class="card b-1 hover-shadow-2 mb-20 ">
        <div class="media card-body profile-popup" data-id="{{ profile.id }}">
            <div class="media-left pr-2 mr-0 mt-1">
                <a href="#qv-user-details" data-toggle="quickview">
                    <img class="avatar avatar-xl" src="{{ profile.profile_picture }}" alt="...">
                </a>
            </div>
            <div class="media-body">
                <div class="mb-0">
                    <a href="#qv-user-details" data-toggle="quickview"><span
                            class="fs-16 pr-16 text-capitalize">{{ profile.profile_name }}</span></a>
                </div>
                <small class="text-fade fs-13 fw-300 text-capitalize">{{ profile.position_title }}</small>
                <p>
                    <small class="text-lighter">{{ profile.profile_location }}</small>
                </p>
            </div>
            <div class="media-right text-right d-none d-md-block">
                <div data-provide="easypie" data-percent="{{ profile.profile_point }}" data-size="70"
                     data-line-width="2">
                    <span class="easypie-data fs-14">{{ profile.profile_point }}%</span>
                </div>
            </div>
        </div>
        <footer class="card-footer flexbox align-items-center">
            <div class="media media-single m-0 p-0">
                {% if "technical" in profile.member_type %}
                    <span class="badge badge-ring badge-dark m-0"></span>
                {% elif "entrepreneur" in profile.member_type %}
                    <span class="badge badge-ring badge-success m-0"></span>
                {% else %}
                    <span class="badge badge-ring badge-danger m-0"></span>
                {% endif %}
                <small class="ml-1 mr-1 pl-1 pr-1 text-capitalize">{{ profile.member_type }}</small>
            </div>
            <div class="card-hover-show">
                <a class="btn btn-xs fs-10 btn-bold btn-dark ml-1 send-team-request"
                   href="#">{% trans "Send Team Request" %}</a>
                <a class="btn btn-xs fs-10 btn-bold btn-secondary ml-1 send-dm-message" href="#" data-toggle="modal"
                   data-target="#modal-contact">{% trans "Send Message" %}</a>
            </div>
        </footer>
    </div>
{% endfor %}


