{% load i18n %}

<div class="card card-shadowed" id="profile-right-menu">
    <ul class="nav nav-lg nav-tabs flex-column" role="tablist">
        <li class="nav-item">
            <a class="nav-link text-left pl-15 pr-15 active" href="#profil1" data-toggle="tab"
               role="tab">{% trans 'General Informations' %}</a>
        </li>
        <li class="nav-item" id="profil-experience">
            <a class="nav-link text-left pl-15 pr-15" href="#profil2" data-toggle="tab"
               role="tab">{% trans 'Experiences' %}</a>
        </li>
        <li class="nav-item" id="skill-dict">
            <a class="nav-link text-left pl-15 pr-15" href="#profil3" data-toggle="tab"
               role="tab">{% trans 'Skills' %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-left pl-15 pr-15" href="#profil4" data-toggle="tab"
               role="tab">{% trans 'Basic Informations' %}</a>
        </li>

    </ul>
</div>
