{% load i18n %}
<div class="card mb-2" id="saved-experiences">
    <div class="accordion accordion-connected" id="accordion-2">
        <div class="card">
            <h5 class="card-title">
                <a data-toggle="collapse" data-parent="#accordion-2" href="#collapse-2-1">
                    {% trans 'Your Experiences' %}</a>
            </h5>
            <div id="collapse-2-1" class="collapse show">
                <div class="card-body bt-1" id="experiences-list">

                </div>
            </div>
        </div>
    </div>

</div>

