{% load i18n %}


{% for msg in messages %}
    <div class="card">
        <header class="card-header cursor-pointer" data-toggle="collapse" data-target="#email-{{ forloop.counter }}">
            <div class="card-title flexbox">
                <img class="avatar" src="{{ msg.profile_image }}" alt="...">
                <div>
                    <h6 class="mb-0 text-capitalize">{{ msg.profile_name }}</h6>
                    <small>{{ msg.sended_date }}</small>
                </div>
            </div>
        </header>
        {% if forloop.first %}
            <div class="collapse show" id="email-{{ forloop.counter }}">
                <div class="card-body">
                    {{ msg.message_content|safe }}
                </div>
            </div>
        {% else %}
            <div class="collapse" id="email-{{ forloop.counter }}">
                <div class="card-body">
                    {{ msg.message_content|safe }}
                </div>
            </div>
        {% endif %}

    </div>
{% endfor %}
