{% extends "socialside/base.html" %}
{% load i18n %}
{% block title %} {{ title }} {% endblock %}
{% block body %}
    {% include 'socialside/messagebox/left_menu.html' %}
    {% include "socialside/messagebox/header_detail.html" %}
    <div class="main-content">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-12" id="detail-msg-content">
                {% include "socialside/messagebox/content_detail.html" %}
            </div>
        </div>
        {% if has_next %}
            <div class="row">
                <div class="col-md-12 col-lg-12 col-12 text-center">
                    <button type="button" class="btn btn-w-md btn-round btn-primary my-30" data-page="{{ page }}"
                            style="" id="loadmore-msg-detail">{% trans "Load More" %}</button>
                </div>
            </div>
        {% endif %}

        {% if can_reply %}
            <div class="divider fs-15">{% trans "Reply" %}</div>
            <div id="reply-form">
                <div class="form-group">
                <textarea data-provide="summernote" rows="6" name="reply-content" id="reply-content"
                          data-toolbar="light-video" data-min-height="170" class="form-control b-0"
                          data-placeholder="{% trans "Write an answer..." %}"></textarea>
                </div>
                <footer class="flexbox flex-justified align-items-center">
                    <div class="d-md-flex">
{#                        <div class="sticker-msg-position">#}
{#                            <div class="dropdown sticker-dropdown">#}
{#                            <span class="topbar-btn fs-20 sticker-btn" data-toggle="dropdown" aria-expanded="false"><i#}
{#                                    class="ti-face-smile"></i></span>#}
{#                                <div class="dropdown-menu dropdown-grid cols-3 sticker-list scrollable "#}
{#                                     style="height: 200px;">#}
{#                                    {% if "tr" in LANGUAGE_CODE %}#}
{#                                        <div class="sticker-inbox sticker-inbox-msg">#}
{#                                            <input placeholder="Bir kelime yaz.." class="form-control mb-2"#}
{#                                                   id="search-sticker-quick-answer" type="text"/>#}
{#                                        </div>#}
{#                                    {% else %}#}
{#                                        <div class="sticker-inbox sticker-inbox-msg">#}
{#                                            <input placeholder="Write a word..." class="form-control mb-2"#}
{#                                                   id="search-sticker-quick-answer"#}
{#                                                   type="text"/>#}
{#                                        </div>#}
{#                                    {% endif %}#}
{##}
{##}
{#                                </div>#}
{##}
{#                            </div>#}
{#                        </div>#}
                    </div>
                    <div class="text-right">
                        <button class="btn btn-outline btn-success" id="send-reply-message"
                                type="button">{% trans "Reply" %}</button>
                    </div>
                </footer>

            </div>
        {% endif %}
        <br/><br/>

    </div>
{% endblock %}