{% load i18n %}
<header class="flexbox align-items-center media-list-header bg-transparent b-0 py-16 pl-20">
    <div class="flexbox align-items-center" id="select-all-messages">
        <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-indicator"></span>
        </label>

        <span class="divider-line mx-1"></span>

        <div class="btn-group" id="messages-btn-group">
            <button class="btn send-archive" title="{% trans "Archive" %}" data-provide="tooltip"><i class="fa fa-archive "></i></button>
            <button class="btn send-trash" title="{% trans "Trash" %}" data-provide="tooltip"><i class="fa fa-trash"></i></button>
        </div>

        <span class="divider-line mx-1"></span>
    </div>
</header>