{% load i18n %}

<header class="header">
    <div class="header-info align-items-center">
        <div class="left">
            <h1 class="header-title">{{ title }}</h1>
        </div>

        <div class="right flexbox align-items-center">

        {% if "kiyo" in is_network %}
                <a class="btn btn-pure text-lighter no-letter-spacing fw-300 fs-13" data-toggle="dropdown"
                   href="javascript:void(0);"><span
                        class="badge badge-ring fill badge-purple mr-1"></span> {% trans "Leapcrowd" %}</a>
        {% else %}
            {% if is_network %}
                <a class="btn btn-pure text-lighter no-letter-spacing fw-300 fs-13" data-toggle="dropdown"
                   href="javascript:void(0);"><span
                        class="badge badge-ring badge-success mr-1"></span> {% trans "Your Network" %}</a>

            {% else %}
                <a class="btn btn-pure text-lighter no-letter-spacing fw-300 fs-13" data-toggle="dropdown"
                   href="javascript:void(0);"><span
                        class="badge badge-ring badge-info mr-1"></span> {% trans "Outside Your Network" %}</a>
            {% endif %}
        {% endif %}
        </div>
    </div>
</header>