{% extends "socialside/base.html" %}
{% load i18n %}
{% block title %} {{ page_title }} {% endblock %}
{% block body %}
    {% include 'socialside/messagebox/left_menu.html' %}
    <div class="main-content">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-12">
                <div class="media-list media-list-divided media-list-hover mb-35" data-provide="selectall">
                    {% include 'socialside/messagebox/header.html' %}
                    {% include 'socialside/messagebox/unread_messages.html' %}
                </div>
            </div>
        </div>
        {% if has_next %}
            <div class="row">
                <div class="col-md-12 col-lg-12 col-12 text-center">
                    <button type="button" class="btn btn-w-md btn-round btn-primary my-30" data-page="{{ page }}" style="" id="loadmore-inbox">{% trans "Load More" %}</button>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}