{% load i18n %}
<aside class="aside aside-sm aside-expand-sm aside-expand-md">
    <div class="aside-body pt-0">
        <ul class="nav nav-lg nav-pills flex-column" id="messages-menu">
            <li class="nav-item">
                <i class="fa fa-inbox"></i>
                <a class="nav-link" href="/dashboard/messages/inbox/">{% trans 'Inbox' %}</a>
                {% if unread_count > 0 %}
                    <span class="badge badge-pill badge-info">{{ unread_count }}</span>
                {% endif %}
            </li>
            <li class="nav-item">
                <i class="fa fa-inbox"></i>
                <a class="nav-link" href="/dashboard/messages/sent/">{% trans 'Sent' %}</a>
            </li>
            <li class="nav-item">
                <i class="fa fa-trash"></i>
                <a class="nav-link" href="/dashboard/messages/trash/">{% trans 'Trash' %}</a>
            </li>
            <li class="nav-item">
                <i class="fa fa-archive"></i>
                <a class="nav-link" href="/dashboard/messages/archive/">{% trans 'Archive' %}</a>
            </li>
        </ul>
        <hr>
        <div class="aside-block">
            <div class="flexbox align-items-center mb-1">
                <h6 class="aside-title fs-13">{% trans 'Labels' %}</h6>
            </div>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="#">
                        <span class="badge badge-ring fill badge-purple"></span>
                        <span>Leapcrowd</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span class="badge badge-ring badge-success"></span>
                        <span>{% trans "Your Network" %}</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span class="badge badge-ring badge-info"></span>
                        <span>{% trans "Outside Your Network" %}</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <button class="aside-toggler"></button>
</aside>