{% load i18n %}

<div class="fab fab-fixed" id="new-message-btn">
    <a class="btn btn-float btn-primary" href="javascript:void(0);" title="New Email" data-provide="tooltip">
        <i class="ti-pencil"></i>
    </a>
</div>


