{% load i18n %}

<div class="media-list-body bg-white b-1" id="messages-list">
    {% if messages|length > 0 %}
        {% for message in messages %}
            <div class="media align-items-center {{ message.is_readed }}">

                <label class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" value="{{ message.id }}">
                    <span class="custom-control-indicator"></span>
                </label>
                {% if "kiyo" in message.is_network %}
                    <span class="badge badge-ring fill badge-purple ml-3 mr-0"></span>
                {% else %}
                    {% if True is message.is_network %}
                        <span class="badge badge-ring badge-success ml-3 mr-0"></span>
                    {% else %}
                        <span class="badge badge-ring badge-info ml-3 mr-0"></span>
                    {% endif %}
                {% endif %}

                <a href="javascript:void(0);">
                    <img class="avatar" src="{{ message.profile_image }}" alt="{{ message.sender_name }}">
                </a>
                <a class="media-body text-truncate" href="/dashboard/messages/detail/{{ message.id }}/">
                    <h6>{{ message.sender_name }}</h6>
                    {% if message.title|length > 0 %}
                        <span class="text-fade fs-12">
                            <strong>{{ message.title }}</strong>&nbsp;{{ message.message_content }}
                        </span>
                    {% else %}
                        <span class="text-fade fs-12">
                            {{ message.message_content }}
                        </span>
                    {% endif %}
                </a>
                <time>{{ message.sended_date }}</time>
            </div>
        {% endfor %}
    {% else %}
        <div class="card-body text-center">
            {% if "inbox" in page_type %}
                <p>{% trans "You have not received a message yet." %}</p>
            {% elif "sent" in page_type %}
                <p>{% trans "You have not sent a message yet." %}</p>
            {% elif "trash" in page_type %}
                <p>{% trans "You have not deleted a message yet." %}</p>
            {% else %}
                <p>{% trans "You have not archived a message yet." %}</p>
            {% endif %}
        </div>
    {% endif %}

</div>

