{% load i18n %}

<div class="card">
    <ol class="timeline timeline-activity timeline-point-sm timeline-content-right w-100 py-20 pr-20"
        id="notifications-timeline">
        {% if notifications|length > 0 %}
            {% for notification in notifications %}

                <li class="timeline-block">
                    <div class="timeline-point">
                        <span class="badge badge-ring badge-secondary"></span>
                    </div>
                    <div class="timeline-content">
                        <time>{{ notification.created_date }}</time>
                        <h5>
                            <small class="subtitle"><a href="#">{{ notification.title }}</a></small>
                        </h5>
                        <a href="#qv-user-details" data-toggle="quickview" data-provide="tooltip"
                           data-placement="bottom" data-original-title="{{ notification.profile_name }}"
                           class="profile-popup" data-id="{{ notification.profile_id }}">
                            {{ notification.profile_name }}
                        </a>&nbsp;{{ notification.message }}
                        <hr>
                    </div>
                </li>
            {% endfor %}
        {% endif %}
    </ol>
</div>