{% extends 'socialside/base.html' %}
{% load i18n %}
{% block title %} {{ page_title }} {% endblock %}
{% block body %}
    <div class="main-content">
        <div class="row">
            <div class="col-md-12 col-12">
                {% include 'socialside/notifications/teamrequest_list.html' %}
            </div>

        </div>


        {% if has_next %}
            <div class="row" id="loadmore-ntf-requests">
                <div class="col-md-12 col-12 text-center py-10 text-center">
                    <button type="button" class="btn btn-w-md btn-round btn-primary my-30"
                            data-page="2">{% trans "Load More" %}
                    </button>
                </div>
            </div>
        {% else %}
            <div class="row" id="loadmore-ntf-requests" >
                <div class="col-md-12 col-12 text-center py-10 text-center">
                    <p class="result-message text-center">{% trans "You do not have any team request." %}</p>
                    <button type="button" class="btn btn-w-md btn-round btn-primary my-30" style="display: none;"
                            data-page="2">{% trans "Load More" %}
                    </button>
                </div>
            </div>
        {% endif %}
{#        <div class="row">#}
{#            <div class="col-md-12 col-12">#}
{#                <p class="text-center">{{ message }}</p>#}
{#            </div>#}
{#        </div>#}
    </div>
{% endblock %}