{% load i18n %}
{% regroup teamrequests|dictsort:"created_date" by type as teamrequest_list %}

<div class="card">
    <ol class="timeline timeline-activity timeline-point-sm timeline-content-right w-100 py-20 pr-20"
        id="teamrequests-timeline">

        {% for type in teamrequest_list %}

            <li class="timeline-block">
                <div class="timeline-point">
                    <span class="badge badge-ring badge-secondary"></span>
                </div>
                <div class="timeline-content">
                    {% for user in type.list %}
                        {% if forloop.counter == 1 %}
                            <time>{{ user.created_date }}</time>
                            {% if "post" in user.type %}
                                <p class="pb-0 mb-0 mt-2 mb-3">{% trans "You have received a team request to the following idea." %}
                                    <br>
                                    <a href="{{ user.redirect_url }}">{{ user.title|truncatechars:50 }}</a>
                                </p>
                                <a href="#qv-user-details" data-toggle="quickview" data-provide="tooltip"
                                   data-placement="bottom" data-original-title="{{ user.profile_name }}"
                                   class="profile-popup"
                                   data-id="{{ user.id }}">
                                    <img class="avatar avatar-lg" src="{{ user.profile_image }}"
                                         alt="{{ user.profile_name }}">
                                </a>
                            {% elif "dm_project" in user.type %}
                                <p class="pb-0 mb-0 mt-2 mb-3">{% trans "You have received a team request for the following project." %}
                                    <br>
                                    <a href="{{ user.redirect_url }}">{{ user.title|truncatechars:50 }}</a>
                                </p>
                                <a href="#qv-user-details" data-toggle="quickview" data-provide="tooltip"
                                   data-placement="bottom" data-original-title="{{ user.profile_name }}"
                                   class="profile-popup"
                                   data-id="{{ user.id }}">
                                    <img class="avatar avatar-lg" src="{{ user.profile_image }}"
                                         alt="{{ user.profile_name }}">
                                </a>
                            {% elif "answers" in user.type %}
                                <p class="pb-0 mb-0 mt-2 mb-3">{% trans "Team request is answered for the following project." %}
                                    <br>
                                    <a href="{{ user.redirect_url }}">{{ user.title|truncatechars:50 }}</a>
                                </p>
                            {% else %}
                                <p class="pb-0 mb-0 mt-2 mb-3">{% trans "You have received a team request to the following project." %}
                                    <br>
                                    <a href="{{ user.redirect_url }}">{{ user.title|truncatechars:50 }}</a>
                                </p>
                                <a href="#qv-user-details" data-toggle="quickview" data-provide="tooltip"
                                   data-placement="bottom" data-original-title="{{ user.profile_name }}"
                                   class="profile-popup"
                                   data-id="{{ user.id }}">
                                    <img class="avatar avatar-lg" src="{{ user.profile_image }}"
                                         alt="{{ user.profile_name }}">
                                </a>
                            {% endif %}


                        {% endif %}


                    {% endfor %}
                    <hr>
                </div>
            </li>
        {% endfor %}
    </ol>
</div>