.header-p {
    padding-right: 50px;
    margin: 10px 0 5px 0 !important;
}

.membership-btn {
    margin-left: 0 !important;
}

.sub-title {
    line-height: 150%;
}

/*.sub-content{*/
/*font-weight:400;*/
/*}*/
.const-height {
    min-height: 300px;
}

.community-statics {
    margin: 15px 0 0 0;
}

.community-statics h4 {

}

.community-statics h5 {

}

.pricing-tables .features ul {
    text-align: left;
    padding-left: 50px;
    padding-right: 50px;
}

.pricing-tables .features ul li {
    line-height: 180%;
}

.spinner-dots{width:70px;text-align:center}.spinner-dots span{width:12px;height:12px;background-color:#02aae3;border-radius:100%;display:inline-block;-webkit-animation:spinner-dots 1.4s infinite ease-in-out both;animation:spinner-dots 1.4s infinite ease-in-out both}.spinner-dots .dot1{-webkit-animation-delay:-0.32s;animation-delay:-0.32s}.spinner-dots .dot2{-webkit-animation-delay:-0.16s;animation-delay:-0.16s}@-webkit-keyframes spinner-dots{0%,80%,100%{-webkit-transform:scale(0);transform:scale(0)}40%{-webkit-transform:scale(1);transform:scale(1)}}@keyframes spinner-dots{0%,80%,100%{-webkit-transform:scale(0);transform:scale(0)}40%{-webkit-transform:scale(1);transform:scale(1)}}.spinner-ball{width:50px;height:50px;-webkit-animation:spinner-ball infinite linear 1s;animation:spinner-ball infinite linear 1s;border-radius:100%;background-color:#02aae3}


.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    z-index: 2000
}