/*-----------------------------------------------------------------------------------

 Theme Name: Moka
 Description: The Multi-Purpose Onepage Template
 Author: ui-themez
 Author URI: http://themeforest.net/user/ui-themez
 Version: 1.0

 Main Color   : #02aae3
 main Font    : Raleway , Poppins

-----------------------------------------------------------------------------------*/
/* ----------------------------------------------------------------

 == Table Of Content

	01 Basics
	02 Buttons
	03 Navbar
	04 Header
	05 Hero
	06 Features
	07 Get Ready
	08 Services
	09 Price
	10 Team
	11 Faq
	12 Testimonials
	13 Blog
	14 Contact
	15 Clients Logo
	16 Footer
	17 Responsive
 

---------------------------------------------------------------- */
/* ----------------------------------------------------------------
     [ 01 Start Basics ]
-----------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  list-style: none;
  word-wrap: break-word;
}

body {
  color: #1D262D;
  line-height: 1.3;
  font-weight: 400;
  font-size: 14px;
  font-family: 'Quicksand', sans-serif;
  overflow-x: hidden !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 400;
}

p {
  font-size: 15px;
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
  color: #888;
  line-height: 1.8;
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

span, a, a:hover {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

ul {
  margin-bottom: 0;
}

.section-padding {
  padding: 120px 0;
}

.section-head {
  margin-bottom: 80px;
  padding-bottom: 30px;
  position: relative;
}
.section-head:before {
  content: '';
  width: 80px;
  height: 2px;
  background-color: #02aae3;
  position: absolute;
  bottom: -2px;
  /*left: calc(50% - 30px);*/
  left:50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  border-radius: 2px;
}
.section-head h6 {
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #02aae3;
  margin-bottom: 5px;
}
.section-head h4 {
  font-size: 38px;
  letter-spacing: 2px;
}
.section-head p {
  font-size: 15px;
  margin-top: 15px;
}

.bg-gray {
  background: #f9f9f9;
}

.o-hidden {
  overflow: hidden;
}

.position-re {
  position: relative;
}

.full-width {
  width: 100% !important;
}

.bg-img {
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-fixed {
  background-attachment: fixed;
}

.valign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.v-middle {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 15px;
  display: inline-block;
}

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  background: rgba(200, 200, 200, 0.4);
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #02aae3;
}

/* ----------------------------------------------------------------
     [ End Basics ]
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
     [ 02 Start Buttons ]
-----------------------------------------------------------------*/
.butn {
  padding: 12px 34px;
  background: #fff;
  border-radius: 4px;
  border: 1px solid transparent;
  font-weight: 500;
  position: relative;
  z-index: 3;
  margin-left: 10px;
  margin-right: 10px;
  -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  -webkit-transition: all .4s;
  transition: all .4s;
  cursor: pointer;
  outline: none !important;
  overflow: hidden;
}
.butn span {
  position: relative;
  z-index: 2;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.butn:before, .butn:after {
  content: '';
  width: 0;
  height: 100%;
  background: #fff;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: width 0.4s;
  transition: width 0.4s;
  z-index: 1;
  opacity: .4;
}
.butn:after {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  background: #fff;
  opacity: 1;
}
.butn:hover:before, .butn:hover:after {
  width: 100%;
}
.butn:hover:after {
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}
.butn:hover span {
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}

.butn-bg {
  background: #02aae3;
  border-color: #02aae3;
  color: #fff;
}
.butn-bg:hover span {
  color: #02aae3;
}

.butn-light {
  background: #fff;
}
.butn-light:before, .butn-light:after {
  background: #02aae3;
}
.butn-light:hover span {
  color: #fff;
}
.butn-light span {
  color: #02aae3;
}

.butn-bord {
  background: transparent;
  border: 1px solid #eee;
}
.butn-bord:before, .butn-bord:after {
  background: #02aae3;
}
.butn-bord:hover {
  border-color: #02aae3;
}
.butn-bord:hover span {
  color: #fff;
}

/* ----------------------------------------------------------------
     [ End Buttons ]
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
     [ 03 Start Navbar ]
-----------------------------------------------------------------*/
.navbar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  border: 0;
  background: transparent;
  z-index: 9;
  min-height: 70px;
}
.navbar .icon-bar {
  color: #fff;
}
.navbar .navbar-nav .nav-link {
  color: #eee;
  font-weight: 600;
  margin: 15px 5px;
  position: relative;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.navbar .navbar-nav .nav-link:after {
  content: '';
  width: 80%;
  height: 2px;
  border-radius: 10px;
  background: #02aae3;
  position: absolute;
  bottom: -2px;
  left: 10%;
  opacity: 0;
  -webkit-transform: translate(50px);
          transform: translate(50px);
  -webkit-transition: all .5s;
  transition: all .5s;
}
.navbar .navbar-nav .active {
  border-color: #02aae3;
}
.navbar .navbar-nav .active:after {
  opacity: 1;
  -webkit-transform: translate(0px);
          transform: translate(0px);
}

.nav-scroll {
  background: #fff;
  -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  padding: 0;
  position: fixed;
  top: -100px;
  left: 0;
  width: 100%;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}
.nav-scroll .icon-bar {
  color: #222;
}
.nav-scroll .navbar-nav .nav-link {
  color: #222;
}
.nav-scroll .navbar-nav .logo {
  padding: 15px 0;
  color: #111;
}

.nav-dark .icon-bar {
  color: #222;
}
.nav-dark .navbar-nav .nav-link {
  color: #222;
}
.nav-dark .navbar-nav .logo {
  padding: 15px 0;
  color: #111;
}

.logo {
  text-decoration: none;
  text-underline: none;
  background: url("../img/logo-dark3.png") no-repeat;
  /*padding: 15px 0;*/
  width: 130px;
  height:27px;
  background-size: cover;
  position:relative;
  top:3px;
}

/* ----------------------------------------------------------------
     [ End Navbar ]
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
     [ 04 Start Header ]
-----------------------------------------------------------------*/
.header {
  min-height: 100vh;
  overflow: hidden;
}
.header .caption {
  position: relative;
  z-index: 4;
}
.header .caption .o-hidden {
  display: inline-block;
}
.header .caption h1 {
  font-size: 38px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.header .caption p {
  color: #eee;
  font-size: 17px;
  margin: 20px 0;
}
.header .caption .butn {
  margin-top: 20px;
}
.header #circle {
  width: 102%;
  height: 160px;
  position: absolute;
  left: -1%;
  bottom: -1px;
  z-index: 3;
}
.header.video:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #02aae3;
  background: -webkit-gradient(linear, right top, left top, from(#02aae3), to(#6022ea));
  background: linear-gradient(to left, #02aae3, #6022ea);
  opacity: .65;
}
.header.video .caption p {
  color: inherit;
}
.header.video .caption .butn-bord {
  border-color: #02aae3;
}
.header .creative {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-image: url(../img/header.png);
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}
.header.vector {
  height: 105vh;
}
.header.vector .caption h1 {
  font-weight: 800;
}
.header.vector .caption p {
  color: inherit;
}
.header.vector .caption .butn-bord {
  border-color: #02aae3;
}

/* ----------------------------------------------------------------
     [ End Header ]
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
     [ 05 Start Hero ]
-----------------------------------------------------------------*/
.hero .intro h6 {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #02aae3;
  margin-bottom: 15px;
}
.hero .intro h5 {
  font-size: 28px;
  margin-bottom: 15px;
}
.hero .feat {
  background-color: #fff;
  border: 1px solid #f5f5f5;
  border-radius: 5px;
  padding: 50px 30px;
}
.hero .feat .icon {
  color: #02aae3;
  font-size: 35px;
  float: left;
}
.hero .feat .cont {
  margin-left: 60px;
}
.hero .feat h6 {
  margin-bottom: 15px;
  font-weight: 500;
}

/* ----------------------------------------------------------------
     [ End Hero ]
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
     [ 06 Start Features ]
-----------------------------------------------------------------*/
.features .content h6 {
  font-size: 14px;
  color: #02aae3;
  margin-bottom: 10px;
}
.features .content h5 {
  margin-bottom: 15px;
  font-size: 32px;
  font-weight: 500;
}
.features .content ul {
  margin-top: 30px;
}
.features .content li {
  margin-bottom: 12px;
}
.features .content li:last-of-type {
  margin-bottom: 0;
}
.features .content li span {
  width: 20px;
  margin-right: 10px;
}

/* ----------------------------------------------------------------
     [ End Features ]
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
     [ 07 Start Get Ready ]
-----------------------------------------------------------------*/
.get-ready h6 {
  font-size: 14px;
  color: #02aae3;
  margin-bottom: 10px;
}
.get-ready h4 {
  font-weight: 500;
  line-height: 1.5;
  padding: 0 30px;
  margin-bottom: 15px;
}

/* ----------------------------------------------------------------
     [ End Get Ready ]
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
     [ 08 Start Services ]
-----------------------------------------------------------------*/
.services .item {
  text-align: center;
  padding: 50px 30px;
  border: 1px solid #eee;
  border-radius: 5px;
  position: relative;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.services .item:hover {
  -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  border-color: transparent;
  margin-top: -5px;
}
.services .item .icon {
  color: #02aae3;
  font-size: 35px;
  margin-bottom: 30px;
}
.services .item h5 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
}

/* ----------------------------------------------------------------
     [ End Services ]
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
     [ 09 Start Price ]
-----------------------------------------------------------------*/
.price .item {
  padding: 50px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  z-index: 3;
}
.price .type h4 {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 30px;
}
.price .value {
  margin-bottom: 50px;
  padding-bottom: 30px;
  color: #02aae3;
  position: relative;
}
.price .value:after {
  content: "";
  width: 50px;
  height: 1px;
  background: #02aae3;
  position: absolute;
  bottom: 0;
  left: calc(50% - 25px);
}
.price .value h3 {
  font-size: 50px;
  font-weight: 800;
  display: inline-block;
  position: relative;
}
.price .value h3 span {
  font-size: 12px;
  position: absolute;
  top: 0;
  left: -10px;
}
.price .features {
  margin-bottom: 40px;
}
.price .features li {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 20px;
}
.price .features li:last-child {
  margin-bottom: 0;
}
.price .active {
  border-color: #02aae3;
  background-color: #fff;
  -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}
.price .butn.butn-bord {
  border-color: #02aae3;
  color: #02aae3;
}

/* ----------------------------------------------------------------
     [ End Price ]
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
     [ 10 Start Team ]
-----------------------------------------------------------------*/
.team .item {
  border-radius: 10px;
  border: 1px solid #eee;
  padding: 15px;
  position: relative;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.team .item:hover {
  -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
  border-color: transparent;
}
.team .info {
  margin-top: 20px;
}
.team .info h6 {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
}
.team .info p {
  color: #02aae3;
  font-size: 14px;
  margin-bottom: 10px;
}
.team .info .social a {
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50%;
  border: 1px solid #eee;
  color: #777;
  margin: 0 5px;
}
.team .info .social a:hover {
  border-color: #02aae3;
  background-color: #02aae3;
  color: #fff;
}
.team.temv2 .info {
  position: relative;
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

/* ----------------------------------------------------------------
     [ End Team ]
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
     [ 11 Start Faq ]
-----------------------------------------------------------------*/
.faq .accordion .item {
  margin-bottom: 30px;
}
.faq .accordion .title {
  padding: 10px 20px;
  border: 1px dashed #ccc;
  border-radius: 30px;
  cursor: pointer;
  position: relative;
}
.faq .accordion .title:after {
  content: '\f067';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 12px;
  position: absolute;
  top: 12px;
  right: 20px;
}
.faq .accordion .title h6 {
  font-size: 16px;
  font-weight: 500;
}
.faq .accordion .accordion-info {
  display: none;
  padding: 0px 15px;
  margin-top: 30px;
  border-left: 1px dotted #ccc;
}
.faq .accordion .active {
  display: block;
}
.faq .accordion .active .title {
  color: #fff;
  background: #02aae3;
  -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  border: 0;
}
.faq .accordion .active .title:after {
  content: '\f068';
}

/* ----------------------------------------------------------------
     [ End Faq ]
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
     [ 12 Start Testimonials ]
-----------------------------------------------------------------*/
.testimonials {
  text-align: center;
}
.testimonials .center .item {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  margin-bottom: 30px;
}
.testimonials .center .item p {
  border-color: #ddd;
}
.testimonials .item {
  -webkit-transform: scale(0.95, 0.95);
          transform: scale(0.95, 0.95);
  -webkit-transition: all .5s;
  transition: all .5s;
}
.testimonials .item p {
  margin-bottom: 15px;
  font-style: italic;
  padding: 30px 30px 50px;
  background-color: #f9f9f9;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
}
.testimonials .client-area {
  margin-top: 20px;
}
.testimonials .client-area .img {
  display: inline-block;
}
.testimonials .client-area .author {
  width: 100px;
  height: 100px;
  border: 8px solid #fff;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  /*margin-top: -50px;*/
  margin-bottom: 15px;
}
.testimonials .client-area h6 {
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 5px;
}
.testimonials .client-area span {
  font-size: 12px;
  letter-spacing: 1px;
  color: #02aae3;
}
.testimonials .owl-carousel {
  overflow: hidden;
}

/* ----------------------------------------------------------------
     [ End Testimonials ]
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
     [ 13 Start Blog ]
-----------------------------------------------------------------*/
.blog .item {
  -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
  text-align: center;
}
.blog .post-img {
  position: relative;
  overflow: hidden;
}
.blog .post-img:hover img {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}
.blog .post-img a {
  display: block;
}
.blog .post-img img {
  -webkit-transition: all .4s;
  transition: all .4s;
}
.blog .post-cont {
  padding: 30px;
  background-color: #fff;
}
.blog .post-cont .tag {
  font-size: 12px;
  color: #02aae3;
  margin-bottom: 10px;
}
.blog .post-cont h5 {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 10px;
}
.blog .post-cont .info {
  margin-top: 20px;
}
.blog .post-cont .info .icon {
  color: #02aae3;
  margin-right: 5px;
}
.blog .post-cont .info a {
  margin: 0 15px;
  font-size: 12px;
  font-style: italic;
  color: #888;
}

/* ----------------------------------------------------------------
     [ End Blog ]
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
     [ 14 Start Contact ]
-----------------------------------------------------------------*/
.contact .contact-info .item {
  margin-top: 30px;
}
.contact .contact-info .item .icon {
  float: left;
  font-size: 25px;
  color: #02aae3;
}
.contact .contact-info .item .cont {
  margin-left: 50px;
}
.contact .contact-info .item .cont h6 {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
}
.contact .contact-info .item .cont p {
  font-size: 13px;
  font-weight: 400;
}
.contact .form {
  background: #fff;
  margin: 15px 0;
}
.contact .form input, .contact .form textarea {
  width: 100%;
  padding: 15px;
  border: 0;
  border-radius: 5px;
  background-color: #fafafa;
}
.contact .form textarea {
  height: 160px;
  max-height: 160px;
  max-width: 100%;
}

/* ----------------------------------------------------------------
     [ End Contact ]
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
     [ 15 Start Clients Logo ]
-----------------------------------------------------------------*/
.clients {
  padding: 40px 0;
}
.clients .owl-carousel {
  margin-bottom: -20px;
}
.clients .client-logo {
  opacity: .7;
}
.clients .client-logo:hover {
  opacity: 1;
}
.clients img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: all .5s;
  transition: all .5s;
}
.clients img:hover {
  -webkit-filter: none;
  filter: none;
}

/* ----------------------------------------------------------------
     [ End Clients Logo ]
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
     [ 16 Start Footer ]
-----------------------------------------------------------------*/
footer {
  padding: 50px 0;
  background-color: #1D262D;
}
footer .social a {
  color: #eee;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background: transparent;
  margin: 15px 5px;
}
footer .social a:hover {
  color: #fff;
  background: #02aae3;
}
footer p {
  color: #888;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* ----------------------------------------------------------------
     [ End Footer ]
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
 	 [ 17 Responsive ]
-----------------------------------------------------------------*/
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
@media screen and (max-width: 991px) {
  .mb-md50 {
    margin-bottom: 50px;
  }

  .mb-md30 {
    margin-bottom: 30px;
  }

  .mb-md0 {
    margin-bottom: 0;
  }

  .hide-md {
    display: none !important;
  }

  .center-md {
    text-align: center;
  }

  .bg-fixed {
    background-attachment: scroll !important;
  }

  .navbar .navbar-collapse {
    max-height: 340px;
    overflow: auto;
    background: #111;
    text-align: center;
    padding: 10px 0;
  }
  .navbar .nav-link {
    margin: 10px auto !important;
    color: #fff !important;
  }
  .navbar .nav-link:after {
    display: none;
  }

  .nav-scroll {
    padding-left: 15px;
    padding-right: 15px;
  }
  .nav-scroll .navbar-collapse .nav-link {
    color: #fff !important;
  }
  .nav-scroll .navbar-collapse .active {
    color: #02aae3 !important;
  }

  .header {
    min-height: 100vh;
    background-attachment: scroll !important;
    background-position: 50% 0% !important;
  }
  .header .caption h1 {
    font-size: 30px;
  }
  .header.video:before {
    opacity: .85;
  }
  .header.video .caption h1 {
    color: #fff;
  }
  .header.video .caption p {
    color: #eee;
  }
  .header.video .caption .butn-bord {
    border-color: #eee;
  }
  .header.video .caption .butn-bord span {
    color: #fff;
  }

  h4, h5, .features .content h5, .hero .intro h5 {
    font-size: 25px;
    font-weight: 500;
  }
}
@media screen and (max-width: 767px) {
  .mb-sm50 {
    margin-bottom: 50px;
  }

  .mb-sm30 {
    margin-bottom: 30px;
  }

  .butn {
    padding: 12px 20px;
    margin-left: 2px;
    margin-right: 2px;
  }

  .section-head h4 {
    font-size: 35px;
  }

  .header .caption h1 {
    font-size: 24px;
    line-height: 1.4;
  }
  .header .caption p {
    font-size: 14px;
  }

  h4, h5, .features .content h5, .hero .intro h5 {
    font-size: 22px;
    line-height: 1.5;
  }
}
@media screen and (max-width: 480px) {
  .section-head p {
    display: none;
  }
}

/*# sourceMappingURL=style-blue.css.map */