{% extends "socialside/base.html" %}
{% load i18n %}
{% block title %} {{ project_title }} {% endblock %}
{% block body %}
    {% include 'socialside/projects/detail/project_header.html' %}
    <div class="main-content">
        {% include 'socialside/projects/detail/project_info.html' %}
        <div class="row">
            <div class="col-12 col-md-12">
                <div class="divider text-uppercase fw-500">{% trans "PROJECT STAGE" %}</div>
            </div>
        </div>
        {% include 'socialside/projects/detail/project_status.html' %}
        <div class="row">
            <div class="col-12 col-md-12">
                <div class="divider text-uppercase fw-500">{% trans "SUPPORT TYPE" %}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-12">
                {% include 'socialside/myprofile/profile_supporttype.html' %}
            </div>
        </div>
    </div>
    {% include 'socialside/projects/feedback.html' %}
{% endblock %}