{% load i18n %}

<div class="modal modal-fill fade" data-backdrop="false" id="modal-feedback" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title mx-auto">{% trans "Send Feedback" %}</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="card mb-0">
            <div class="card-body text-center">
              <div class="row">
                <div class="text-center col-md-5 col-5">
                  <a href="javascript:void(0);" class="current-user-img">
                    <img class="avatar avatar-xl avatar-bordered " src="">
                  </a>
                  <h5 class="mt-2 mb-1 text-light fs-14 text-capitalize current-user"></h5>
                  <h6 class="mt-2 mb-1 text-lighter fs-13 text-capitalize current-user-position"></h6>
                </div>
                <div class="p-15 fs-35 text-secondary col-md-2 col-2"><i class="ti-pencil-alt"></i></div>
                <div class="text-center col-md-5 col-5">
                  <a href="javascript:void(0);" class="request-user-img">
                    <img class="avatar avatar-xl avatar-bordered " src="">
                  </a>
                  <h5 class="mt-2 mb-1 text-light fs-14 text-capitalize request-user"></h5>
                  <h6 class="mt-2 mb-1 text-lighter fs-13 text-capitalize request-user-position"></h6>
                </div>
              </div>
            </div>
            <div class="card-body form-type-combine">
              <div class="row">
                <div class="col-md-12 col-12">
                  <div class="form-group">
                    <label for="input-normal">{% trans "Describe" %}</label>
                    <textarea class="form-control" id="feedback-desc" name="feedback-desc" rows="6" placeholder="{% trans 'You can write your feedback.' %}"></textarea>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-bold btn btn-bold btn-w-xs btn-outline btn-secondary" data-dismiss="modal">{% trans "Close" %}</button>
          <button type="button" data-perform="confirm" data-dismiss="modal" class="btn btn-bold btn-w-xs btn-outline btn-primary send-feedback-desc">{% trans "Send" %}</button>
        </div>
      </div>
    </div>
  </div>
