{% load i18n %}

<aside class="aside aside-expand-md">
    <div class="aside-body">
        <div class="aside-block form-type-line">
            <p>
                <small class="text-uppercase">{% trans "Filter" %}</small>
            </p>
            <div class="custom-controls-stacked" id="filter-projects">
                <label class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" name="filter-option"
                           value="{{ user_city }}">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">{{ user_city }}</span>
                </label>
                <label class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" name="filter-option" value="{{ option_country }}">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">{{ user_country }}</span>
                </label>
                <label class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" name="filter-option" checked="checked" value="all">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">{% trans "All" %}</span>
                </label>

            </div>
            <hr>
            <p>
                <small class="text-uppercase">{% trans "Business Stage" %}</small>
            </p>
            <div class="input-group">
                <select class="form-control" data-provide="selectpicker" name="business-stage-options" id="business-stage-options">
                    {% for step in steps %}
                        <option value="{{ step.id }}">{{ step.title }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="flexbox mt-25">
                <button class="btn btn-sm btn-block btn-info" type="button" id="filter-list-projects">{% trans "Filter" %}</button>
            </div>
        </div>
    </div>

    <button class="aside-toggler"></button>
</aside>