{% extends "socialside/base.html" %}
{% load i18n %}
{% block title %} {{ page_title }} {% endblock %}
{% block body %}
    {% include "socialside/projects/filterbar.html" %}

    <div class="main-content pb-15" id="project-list">
        {% include "socialside/projects/project_list.html" %}
        {% if has_next %}
            <div class="row" id="load-more-projects">
                <div class="col-md-12 col-12 text-center list-result-message py-10">
                    <button type="button" data-page="2"
                            class="btn btn-w-md btn-round btn-primary my-30">{% trans "Load More" %}</button>
                </div>
            </div>
        {% else %}
            <div class="row" id="load-more-projects">
            <div class="col-md-12 col-12 text-center list-result-message py-10">
                <button type="button" data-page="0"
                        class="btn btn-w-md btn-round btn-primary my-30" style="display: none;">{% trans "Load More" %}</button>
            </div>
        </div>
        {% endif %}

    </div>
{% endblock %}