{% load i18n %}

<div class="row" id="projects-list">

    {% if projects|length > 0 %}
        {% for project in projects %}
            <div class="col-md-12 col-lg-12">
                <div class="card b-1 hover-shadow-2 mb-20">
                    <a class="media card-body cursor-default" href="javascript:void(0);">
                        <div class="media-left pr-12">
                            <img class="avatar avatar-xl no-radius" src="{{ project.project_logo }}" alt="...">
                        </div>
                        <div class="media-body">
                            <div class="mb-2">
                                <span class="fs-20 pr-16 text-capitalize">{{ project.project_name }}</span>
                            </div>
                            {% if project.is_feedback %}
                                <span class="badge badge-info text-uppercase no-radius ls-1 opacity-75">
                                {% trans "Collecting Feedbacks" %}
                                </span>
                            {% endif %}

                            {% if project.is_teamrequest %}
                                <span class="badge badge-info text-uppercase no-radius ls-1 opacity-75">
                                {% trans "Collecting Team Requests" %}
                                </span>
                            {% endif %}


                        </div>
                        <div class="media-right text-right d-none d-md-block">
                            <p class="text-fade">
                                <small><i class="fa fa-map-marker pr-1 text-capitalize"></i> {{ project.project_location }}</small>
                            </p>
                        </div>
                    </a>

                    <footer class="card-footer flexbox align-items-center">
                        <div>
                            <strong>{% trans "Business Stage" %}:</strong>
                            <span>{{ project.business_stage }}</span>
                        </div>
                        <div class="card-hover-show">
                            <a class="btn btn-xs fs-10 btn-bold btn-dark"
                               href="/dashboard/projects/detail/{{ project.project_id }}">{% trans "Detail" %}</a>
                        </div>
                    </footer>
                </div>
            </div>
        {% endfor %}
        {% else %}
        <p class="text-center result-message mx-auto">{% trans 'There is no project yet.' %}</p>
    {% endif %}
</div>