{% extends 'socialside/base.html' %}
{% load i18n %}
{% block title %} {{ page_title }} {% endblock %}
{% block body %}
    <div class="main-content pb-15">
        <div class="row show-on-mobile">
            <div class="col-md-12 col-sm-12">
                {% include 'socialside/ideas/ideas_nav_detail_mobile.html' %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-9 col-12 col-sm-12">
                <!-- post -->
                <div class="card" id="post-detail-page" data-post="{{ post_id }}" data-name="{{ profile_username }}">
                    <div class="media bb-1 border-fade ">
                        <a class="avatar avatar-lg profile-popup" data-id="{{ profile_id }}" href="#qv-user-details"
                           data-toggle="quickview"><img src="{{ profile_image }}" alt="{{ profile_username }}">
                        </a>
                        <div class="media-body">
                            <p>
                                <a href="#qv-user-details" data-toggle="quickview" data-id="{{ profile_id }}"
                                   class="text-capitalize profile-popup">
                                    <strong class="fs-14">{{ profile_username }}</strong>
                                </a>
                                <time class="float-right text-lighter"
                                      datetime="{{ created_date }}">{{ created_date }}</time>
                            </p>
                            <p class="text-capitalize">
                                <small>{{ profile_position_title }}</small>
                            </p>
                        </div>
                    </div>
                    <!--header -->

                    <div class="card-body bb-1 border-fade">
                        {{ post_content|safe }}
                        <div class="flexbox align-items-center mt-2 post-buttons">
                            <div class="gap-items-4 fs">
                                <a class="text-lighter hover-danger" href="#">
                                    <i class="fa fa-heart pr-1"></i> {{ like_count }}
                                </a>
                                <a class="text-lighter hover-dark main-answer-btn" href="javascript:void(0);"
                                   data-toggle="modal" data-target="#modal-answer">
                                    <i class="fa fa-comments-o pr-1"></i> {{ answer_count }}
                                </a>
                            </div>
                            <div class="dropdown">
                                <a data-toggle="dropdown" href="#" aria-expanded="false">
                                    <i class="ti-more-alt rotate-90 text-muted"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end">
                                    <a class="dropdown-item" href="#">
                                        <i class="fa fa-bookmark-o"></i> {% trans "Save" %}
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <i class="fa fa-check-circle-o"></i> {% trans "Follow" %}
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">
                                        <i class="fa fa-times-circle-o"></i> {% trans "Complain" %}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- post content -->

                    {% if main_answers|length > 0 %}
                        <div class="media-list media-list-divided bg-lighter" id="post-answers-detail">
                            {% for main_answer in main_answers %}
                                <div class="media main-answers" data-answers="{{ main_answer.answer_id }}"
                                     data-name="{{ main_answer.profile_name }}">
                                    <a class="avatar avatar-lg profile-popup" href="#qv-user-details"
                                       data-toggle="quickview" data-id="{{ main_answer.profile_id }}">
                                        <img src="{{ main_answer.profile_image }}" alt="{{ main_answer.profile_name }}">
                                    </a>
                                    <div class="media-body">
                                        <p>
                                            <a href="#qv-user-details" data-toggle="quickview"
                                               data-id="{{ main_answer.profile_id }}"
                                               class="pr-1 hover-primary text-capitalize profile-popup">
                                                <strong>{{ main_answer.profile_name }}</strong>
                                            </a>
                                            <time class="float-right text-fade"
                                                  datetime="{{ main_answer.created_date }}">{{ main_answer.created_date }}</time>
                                        </p>
                                        <p class="text-capitalize">
                                            <small>{{ main_answer.position_title }}</small>
                                        </p>

                                        <!-- cevabın gösterileceği yer -->
                                        {% if '<' in main_answer.answer_content or '/>' in main_answer.main_content %}
                                            {{ main_answer.answer_content|safe }}
                                        {% else %}
                                            <p>
                                                {{ main_answer.answer_content }}
                                            </p>
                                        {% endif %}

                                        <!-- cevabın gösterileceği yer -->
                                        <div class="flexbox align-items-center mt-2 post-buttons">
                                            <div class="gap-items-4 fs">
                                                <a class="text-lighter hover-danger" href="#">
                                                    <i class="fa fa-heart pr-1"></i> {{ main_answer.like_count }}
                                                </a>
                                                <a class="text-lighter hover-dark sub-answer-btn"
                                                   href="javascript:void(0);"
                                                   data-toggle="modal" data-target="#modal-answer">
                                                    <i class="fa fa-comments-o pr-1"></i> {{ main_answer.answers_count }}
                                                </a>
                                            </div>
                                            <div class="dropdown">
                                                <a data-toggle="dropdown" href="#" aria-expanded="false">
                                                    <i class="ti-more-alt rotate-90 text-muted"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end">
                                                    <a class="dropdown-item" href="#">
                                                        <i class="fa fa-bookmark-o"></i> {% trans "Save" %}
                                                    </a>
                                                    <a class="dropdown-item" href="#">
                                                        <i class="fa fa-check-circle-o"></i> {% trans "Follow" %}
                                                    </a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item" href="#">
                                                        <i class="fa fa-times-circle-o"></i> {% trans "Report" %}
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        {% if main_answer.sub_answers|length > 0 %}
                                            {% for sub_answer in main_answer.sub_answers %}
                                                <div class="media px-0" data-answers="{{ sub_answer.sub_answer_id }}" data-name="{{ sub_answer.profile_name }}" data-id="{{ sub_answer.ans_ans_id }}">
                                                    <a class="avatar avatar-lg" href="#qv-user-details"
                                                       data-toggle="quickview" data-id="{{ sub_answer.profile_id }}">
                                                        <img src="{{ sub_answer.profile_image }}" alt="">
                                                    </a>
                                                    <div class="media-body">
                                                        <p><a href="#qv-user-details" data-toggle="quickview"
                                                              data-id="{{ sub_answer.profile_id }}"
                                                              class="hover-primary text-capitalize profile-popup">
                                                            <strong>{{ sub_answer.profile_name }}</strong>
                                                        </a>
                                                            <time class="float-right text-fade"
                                                                  datetime="{{ sub_answer.created_date }}">
                                                                {{ sub_answer.created_date }}
                                                            </time>
                                                        </p>
                                                        <p>
                                                            <small class="text-capitalize">{{ sub_answer.position_title }}</small>
                                                        </p>
                                                        <!-- asnwers içerik -->
                                                        {% if '<' in sub_answer.answer_content or '/>' in sub_answer.answer_content %}
                                                            {{ sub_answer.answer_content|safe }}
                                                        {% else %}
                                                            <p>{{ sub_answer.answer_content }}</p>
                                                        {% endif %}

                                                        <!-- asnwers içerik -->
                                                        <div class="flexbox align-items-center mt-2 post-buttons">
                                                            <div class="gap-items-4 fs">
                                                                <a class="text-lighter hover-danger" href="#">
                                                                    <i class="fa fa-heart pr-1"></i> {{ sub_answer.like_count }}
                                                                </a>
                                                                <a class="text-lighter hover-dark sub-answer-btn"
                                                                   href="javascript:void(0);" data-toggle="modal"
                                                                   data-target="#modal-answer">
                                                                    <i class="fa fa-comments-o pr-1"></i> {{ sub_answer.answers_count }}
                                                                </a>
                                                            </div>
                                                            <div class="dropdown">
                                                                <a data-toggle="dropdown" href="#"
                                                                   aria-expanded="false">
                                                                    <i class="ti-more-alt rotate-90 text-muted"></i>
                                                                </a>
                                                                <div class="dropdown-menu dropdown-menu-right"
                                                                     x-placement="bottom-end">
                                                                    <a class="dropdown-item" href="#">
                                                                        <i class="fa fa-bookmark-o"></i> {% trans "Save" %}
                                                                    </a>
                                                                    <a class="dropdown-item" href="#">
                                                                        <i class="fa fa-check-circle-o"></i> {% trans "Follow" %}
                                                                    </a>
                                                                    <div class="dropdown-divider"></div>
                                                                    <a class="dropdown-item" href="#">
                                                                        <i class="fa fa-times-circle-o"></i> {% trans "Report" %}
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                            {% if main_answer.sub_hasnext %}
                                                <div class="media">
                                                    <div class="media-body text-left">
                                                        <p class="text-lighter">
                                                            <button class="fs-13 fs-13 btn btn-pure btn-secondary text-light fw-400 load-more-subanswers"
                                                                    data-page="2">
                                                                <i class="fa fa-mail-forward mr-1 text-light"></i> {% trans "Load More" %}
                                                            </button>
                                                        </p>
                                                    </div>
                                                </div>
                                            {% endif %}

                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                            {% if main_hasnext %}
                                <div class="media">
                                    <div class="media-body text-center">
                                        <p class="text-lighter">
                                            <button class="fs-13 fs-13 btn btn-pure btn-secondary text-light fw-400 load-more-mainanswers"
                                                    data-page="2">
                                                <i class="fa fa-mail-forward mr-1 text-light"></i>
                                                {% trans "Load More" %}
                                            </button>
                                        </p>
                                    </div>
                                </div>
                            {% endif %}

                        </div>
                    {% endif %}

                    <!-- post-answers -->
                </div>
                <!-- post -->
            </div>
            <div class="col-md-3 col-lg-3 col-3 hide-dsktp-right">
                {% include 'socialside/ideas/ideas_nav_detail.html' %}
            </div>
        </div>
    </div>
    {% include "socialside/ideas/smilarprojects.html" %}
{% endblock %}
