{% load i18n %}

<aside class="aside aside-expand-md">
    <div class="aside-body">
        <div class="aside-block form-type-line">
            <p>
                <small class="text-uppercase">{% trans "Filter" %}</small>
            </p>
            <div class="custom-controls-stacked" id="filter-ideas">
                <label class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" value="{{ user_city }}" data-option="city">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description text-capitalize">{{ user_city }}</span>
                </label>

                <label class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" value="{{ option_country }}" data-option="country">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description text-capitalize">{{ user_country }}</span>
                </label>

                <label class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" value="unanswered" data-option="unanswered">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">{% trans "Unanswered" %}</span>
                </label>

                <label class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" checked="checked" data-option="all" value="all">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">{% trans "All" %}</span>
                </label>

            </div>
            <div class="flexbox mt-25">
                <button class="btn btn-sm btn-block btn-info" type="button" id="filter-results">{% trans "Filter" %}</button>
            </div>
        </div>
    </div>

    <button class="aside-toggler"></button>
</aside>