{% load i18n %}
<aside class="ideas-nav-detail">
    <button type="button" data-toggle="modal" data-target="#modal-answer"
            class="btn btn-block btn-primary btn-outline write-answer">{% trans "Write an Answer" %}</button>
    <button type="button" class="btn btn-block btn-info btn-outline smilar-project" data-toggle="modal"
            data-target="#modal-smilar-project">{% trans "Add Smilar Project" %}</button>
    <button type="button" class="btn btn-block btn-dark btn-outline send-teamrequest" data-toggle="modal"
            data-target="#modal-team-request">{% trans "Send Team Request" %}</button>


    <div class="card card-body bg-info mb-10 mt-10" id="post-smilarprojects">
        <h6 class="text-uppercase text-white">{% trans "Similar Projects" %}</h6>
        <div class="flexbox mt-2">
            <span class="ti-pencil-alt fs-30"></span>
            <span class="fs-30 counter-text">{{ smilarproject_count }}</span>
        </div>
    </div>

    <div class="card card-body bg-dark mb-10 mt-10" id="post-teamrequests">
        <h6 class="text-uppercase text-white">{% trans "Team Requests" %}</h6>
        <div class="flexbox mt-2">
            <span class="ti-comments-smiley fs-30"></span>
            <span class="fs-30 counter-text">{{ teamrequest_count }}</span>
        </div>
    </div>
</aside>