{% load i18n %}
<aside class="ideas-nav-detail mb-70 ">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-6 hidden-down">
            <div class="card-body br-1 border-light bg-white card-shadowed" id="post-smilarprojects">
                <div class="flexbox mb-1">
                      <span>
                        <i class="ti-pencil-alt fs-25"></i><br>
                        {% trans "Similar Projects" %}
                      </span>
                    <span class="text-dark fs-40 counter-text">{{ smilarproject_count }}</span>
                </div>

            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-6 hidden-down">
            <div class="card-body br-1 border-light bg-white card-shadowed" id="post-teamrequests">
                <div class="flexbox mb-1">
                      <span>
                        <i class="ti-comments-smiley fs-25"></i><br>
                        {% trans "Team Requests" %}
                      </span>
                    <span class="text-dark fs-40 counter-text">{{ teamrequest_count }}</span>
                </div>

            </div>
        </div>

    </div>
</aside>

<div class="fab fab-fixed">
            <button class="btn btn-float btn-dark" data-toggle="button" aria-pressed="false">
                <i class="fab-icon-default ti-panel"></i>
                <i class="fab-icon-active ti-close"></i>
            </button>

            <ul class="fab-buttons">
                <li><a class="btn btn-float btn-sm btn-success write-answer" data-toggle="modal"
                       data-target="#modal-answer" href="javascript:void(0);"><i class="fa fa-commenting"></i></a>
                </li>

                <li><a class="btn btn-float btn-sm btn-info smilar-project" data-toggle="modal"
                       data-target="#modal-smilar-project" href="javascript:void(0)"><i class="fa fa-pencil"></i></a>
                </li>

                <li><a class="btn btn-float btn-sm btn-dark send-teamrequest" data-toggle="modal"  data-target="#modal-team-request" href="javascript:void(0);"><i class="fa fa-user-plus"></i></a></li>

            </ul>
        </div>

