{% extends 'socialside/base.html' %}
{% load i18n %}
{% block title %} {{ page_title }} {% endblock %}
{% block body %}
    {% include "socialside/ideas/filterbar.html" %}

    <div class="main-content pb-15" id="ideas-list">

        {% include "socialside/ideas/posts.html" %}

        {% if True in has_next %}
            <div class="row" id="load-more-ideas">
                <div class="col-md-12 col-12 text-center py-10">
                    <button type="button" class="btn btn-w-md btn-round btn-primary my-30" data-page="2">
                        {% trans "Load More" %}
                    </button>
                </div>
            </div>
        {% else %}
            {% if posts|length > 0 %}
                <div class="row" id="load-more-ideas">
                    <div class="col-md-12 col-12 text-center py-10">
                        <p class="text-center result-message">{% trans "End of the list or you have to sign up paid membership." %}</p>
                        <button type="button" class="btn btn-w-md btn-round btn-primary my-30" data-page="2"
                                style="display: none;">{% trans "Load More" %}</button>
                    </div>
                </div>
            {% endif %}

        {% endif %}

    </div>

{% endblock %}