{% load i18n %}

<div class="row" id="users-ideas-list">
    {% if posts|length > 0 %}
        {% for post in posts %}
            <div class="col-md-12 col-lg-12 post-item" data-post="{{ post.post_id }}">

                <div class="card card-shadowed">
                    <div class="media bb-1 border-fade profile-popup" data-id="{{ post.profile_id }}">
                        <a href="#qv-user-details" data-toggle="quickview"><img class="avatar avatar-lg"src="{{ post.profile_picture }}" alt="..."></a>
                        <div class="media-body">
                            <p>
                                <a href="#qv-user-details" class="hover-primary" data-toggle="quickview"><strong
                                        class="fs-14">{{ post.username }}</strong></a>
                                <time class="float-right text-lighter"
                                      datetime="{{ post.created_date|timesince }}">{{ post.created_date|timesince }}</time>
                            </p>
                            <p class="text-capitalize">
                                <small>{{ post.position_title }}</small>
                            </p>
                        </div>
                    </div>

                    <div class="card-body bb-1 border-fade cursor-pointer" data-target="#qv-post-detail"
                         data-toggle="quickview">

                        {% if '<' in post.post_content or '/>' in post.post_content %}
                            {{ post.post_content|safe|truncatechars_html:200 }}
                        {% else %}
                            <p>{{ post.post_content|truncatechars:200 }}</p>
                        {% endif %}

                        <div class="gap-items-4 mt-2">
                            <i class="fa fa-heart mr-1"></i> {{ post.like_count }}
                            <i class="fa fa-user-plus mr-1"></i> {{ post.teamrequest_count }}
                            <i class="fa fa-newspaper-o mr-1"></i> {{ post.smilarproject_count }}
                            <i class="fa fa-comments-o mr-1"></i> {{ post.answer_count }}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="col-md-12 col-12">
            <p class="text-center">{% trans "It has not been shared any idea in your location. <br/>You can select your country from the left filter menu." %}</p>
        </div>
    {% endif %}
</div>

{% include "socialside/ideas/smilarprojects.html" %}