
{% load i18n %}
<div class="modal modal-fill fade" data-backdrop="false" id="modal-smilar-project" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mx-auto">{% trans "Add Similar Project" %}</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card mb-0">
                    <div class="card-body text-center">
                        <div class="row">
                            <div class="text-center col-md-5 col-5">
                                <a href="javascript:void(0);" class="current-user-img">
                                    <img class="avatar avatar-xl avatar-bordered" src="">
                                </a>
                                <h5 class="mt-2 mb-1 text-light fs-14 current-user text-capitalize"></h5>
                                <h6 class="mt-2 mb-1 text-lighter fs-13 current-user-position text-capitalize"></h6>
                            </div>
                            <div class="p-15 fs-35 text-secondary col-md-2 col-2"><i class="ti-pencil-alt"></i></div>
                            <div class="text-center col-md-5 col-5">
                                <a href="javascript:void(0);" class="request-user-img">
                                    <img class="avatar avatar-xl avatar-bordered" src="">
                                </a>
                                <h5 class="mt-2 mb-1 text-light fs-14 request-user text-capitalize"></h5>
                                <h6 class="mt-2 mb-1 text-lighter fs-13 request-user-position text-capitalize"></h6>
                            </div>
                        </div>
                    </div>

                    <div class="card-body form-type-combine">
                        <div class="row">
                            <div class="col-md-12 col-12">
                                <div class="form-group">
                                    <label for="input-normal">{% trans "Web Address" %}</label>
                                    <input type="text" class="form-control" id="project-link"
                                           placeholder="{% trans "Project website link" %}" value="">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-12">
                                <div class="form-group">
                                    <label for="input-normal">{% trans "Describe" %}</label>
                                    <textarea class="form-control" id="project-describe" rows="4"
                                            maxlength="350"  placeholder="{% trans "You can write info about of similar project if you want." %}"></textarea>
                                    <div class="invalid-feedback lefted-character fw-400"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-bold btn btn-bold btn-w-xs btn-outline btn-secondary"
                        data-dismiss="modal">{% trans "Close" %}
                </button>
                <button type="button" data-perform="confirm" data-dismiss="modal" class="btn btn-bold btn-w-xs btn-outline btn-primary" id="similar-confirm">{% trans "Send" %}</button>
            </div>
        </div>
    </div>
</div>