{% load i18n %}

{% if my_projects|length > 0 %}
    {% include 'socialside/myteams/projectteams.html' %}

{% else %}
    <div class="col-mg-12 col-lg-12 col-12">
        <p class="result-message">{% trans "You don't have any project team yet." %}</p>
    </div>
{% endif %}

