{% load i18n %}

<div class="card form-type-combine tab-pane fade card-shadowed" role="tabpanel" id="my-requests">
    <div class="card-header">
        <h5 class="card-title m-auto text-center">
            <strong><span class="text-capitalize">{{ project_name }}</span> {% trans "Project" %}</strong><br/>
            <span class="fs-12 text-fade">{% trans "Private team requests who you sent" %}</span>
        </h5>
    </div>
    <div class="card-body bl-3 border-success bg-pale-secondary">
        <div>
            <p class="mx-auto text-center">{% trans "If you have these colors in the listed rows, we would like you to consider not to waste your time." %}</p>
        </div>
        <div>
            <ul class="list-inline text-center gap-items-4 mx-auto">
            <li class="list-inline-item">
                <span class="badge badge-dot badge-danger mr-1"></span>
                <span>{% trans "Give Up" %}</span>
            </li>
            <li class="list-inline-item">
                <span class="badge badge-dot badge-info mr-1"></span>
                <span>{% trans "Convince Up" %}</span>
            </li>
            <li class="list-inline-item">
                <span class="badge badge-dot badge-success mr-1"></span>
                <span>{% trans "Success" %}</span>
            </li>
        </ul>
        </div>

    </div>

    <table class="table table-hover dm-requests-table">
        <thead>
        <tr>
            <th>{% trans "Name, Lastname" %}</th>
            <th class="support-info">{% trans "Support Type" %}</th>
            <th class="prj-hours-info">{% trans "Project Hours" %}</th>
            <th class="hour-cost-info">{% trans "Hour Cost" %}</th>
            <th class="level-info">{% trans "Profile Level" %}</th>
            <th class="w-60px text-center">{% trans "Options" %}</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>