{% load i18n %}

{% if team_members|length > 0 %}
    <div class="card tab-pane fade active show card-shadowed" role="tabpanel" id="my-team">
        <div class="card-header">
            <h5 class="card-title m-auto text-center">
                <strong><span class="text-capitalize">{{ project_name }}</span> {% trans "Project" %}</strong><br/>
                <span class="fs-12 text-fade">{% trans "Team Members" %}</span>
            </h5>
        </div>
        <div class="card-body bl-3 border-success flexbox flex-center bg-pale-secondary">
            <div>
                <div class="fs-14 text-muted"><i class="ti-time mr-1"></i> {% trans "Total Weekly Hours" %}</div>
                <div class="fs-16 text-success">{{ total_hours }}</div>
            </div>

            <div>
                <div class="fs-14 text-muted"><i class="ti-id-badge"></i> {% trans "Total Paid Support" %}</div>
                <div class="fs-16 text-danger">{{ total_paid_supports }}</div>
            </div>

            <div>
                <div class="fs-14 text-muted"><i class="ti-comments-smiley"></i> {% trans "Total Requests" %}</div>
                <div class="fs-16 text-danger">{{ total_requests }}</div>
            </div>

        </div>
        <table class="table table-hover team-members-table">
            <thead>
            <tr>
                <th>{% trans "Name, Lastname" %}</th>
                <th class="support-info ">{% trans "Support Type" %}</th>
                <th class="prj-hours-info">{% trans "Project Hours" %}</th>
                <th class="hour-cost-info">{% trans "Hour Cost" %}</th>
                <th class="level-info">{% trans "Profile Level" %}</th>
                <th class="w-60px text-center">{% trans "Options" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for profile in team_members %}
                <tr>
                    <td>

                        {% if profile.project_owner %}
                            <a class="avatar avatar-pill bg-pale-purple avatar-sm profile-popup" href="#qv-user-details"
                               data-toggle="quickview" data-id="{{ profile.profile_id }}">
                                <img src="{{ profile.profile_image }}">
                                <span class="text-capitalize text-truncate">{{ profile.profile_name }}</span>
                            </a>
                        {% else %}
                            <a class="avatar avatar-pill avatar-sm profile-popup" href="#qv-user-details"
                               data-toggle="quickview" data-id="{{ profile.profile_id }}">
                                <img src="{{ profile.profile_image }}">
                                <span class="text-capitalize text-truncate">{{ profile.profile_name }}</span>
                            </a>
                        {% endif %}
                    </td>
                    <td class="support-info text-truncate">{{ profile.support_type }}</td>
                    <td class="prj-hours-info">{{ profile.project_hours }}</td>
                    <td class="hour-cost-info">{{ profile.hour_cost }}</td>
                    <td class="align-middle level-info">
                        <div class="progress mb-0">
                            <div class="progress-bar {{ profile.point_css }}" role="progressbar"
                                 style="width: {{ profile.profile_points }}%"
                                 aria-valuenow="{{ profile.profile_points }}"
                                 aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </td>
                    <td>
                        <nav class="nav no-gutters gap-2 fs-16">
                            <a class="nav-link hover-danger mx-auto delete-member" href="javascript:void(0);"
                               data-delete="{{ profile.profile_id }}" data-provide="tooltip" title=""
                               data-original-title="{% trans "Delete" %}"><i class="ti-trash"></i></a>
                        </nav>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if has_next %}
            <div class="row">
                <div class="col-md-12 col-12 text-center py-10">
                    <button type="button" class="btn btn-w-md btn-round btn-primary my-30 loadmore-detail"
                            data-page="2">{% trans "Load More" %}</button>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-md-12 col-12 text-center py-10">
                    <p class="result-message">{% trans "You are viewing all the members in your team." %}</p>
                </div>
            </div>
        {% endif %}

    </div>
{% else %}
    <div class="card tab-pane fade active show card-shadowed" role="tabpanel" id="my-team">
        <p class="result-message text-center fs-16 py-5">{% trans "You don't have a team yet." %}</p>
    </div>
{% endif %}