{% load i18n %}
<div class="modal modal-center fade" id="modal-answer" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{% trans "An answer to " %} <span class="text-light"></span></h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pt-0">
                <textarea class="form-control b-0" id="answer-content" rows="6" data-placeholder="{% trans "Write an answer..." %}" name="answer-content" data-toolbar="light-video" data-height="180" data-provide="summernote"></textarea>
            </div>
{#            <div class="sticker-btn-position">#}
{#                <div class="dropdown sticker-dropdown">#}
{#                    <span class="topbar-btn fs-20 sticker-btn" data-toggle="dropdown" aria-expanded="false"><i class="ti-face-smile"></i></span>#}
{#                    <div class="dropdown-menu dropdown-grid cols-3 sticker-list scrollable " style="height: 200px;">#}
{#                        {% if "tr" in LANGUAGE_CODE %}#}
{#                            <div class="sticker-inbox">#}
{#                            <input placeholder="Bir kelime yaz.." class="form-control mb-2" id="search-sticker-answer" type="text" />#}
{#                            </div>#}
{#                        {% else %}#}
{#                            <div class="sticker-inbox">#}
{#                            <input placeholder="Write a word..." class="form-control mb-2" id="search-sticker-answer"#}
{#                                   type="text" />#}
{#                            </div>#}
{#                        {% endif %}#}
{##}
{##}
{#                    </div>#}
{##}
{#                </div>#}
{#            </div>#}
            <div class="modal-footer">
                <button type="button" class="btn btn-bold btn-pure btn-secondary" data-dismiss="modal">{% trans "Cancel" %}</button>
                <button type="button" class="btn btn-bold btn-pure btn-primary send-answer" data-btn-role="" data-perform="confirm" data-dismiss="modal">{% trans "Send" %}</button>
            </div>
        </div>
    </div>
</div>