{% load i18n %}
<div class="modal modal-top fade" id="modal-edit" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{% trans "Edit your idea " %} <span class="text-light"></span></h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pt-0">
                <textarea class="form-control b-0" id="edit-content" rows="6" name="edit-content" data-toolbar="light-video" data-height="350" data-provide="summernote"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-bold btn-pure btn-secondary" data-dismiss="modal" >{% trans "Cancel" %}</button>
                <button type="button" class="btn btn-bold btn-pure btn-primary save-edit-btn" data-btn-role="" data-perform="confirm" data-dismiss="modal">{% trans "Edit" %}</button>
            </div>
        </div>
    </div>
</div>