{% load i18n %}

<header class="topbar">
    <div class="topbar-left">
        <span class="topbar-btn sidebar-toggler"><i>&#9776;</i></span>
        <a class="topbar-btn d-none d-md-block" href="#" data-provide="fullscreen tooltip"
           title="{% trans 'Full Screen' %}">
            <i class="material-icons fullscreen-default">fullscreen</i>
            <i class="material-icons fullscreen-active">fullscreen_exit</i>
        </a>
    </div>

    <div class="topbar-right show-on-mobile">
        <ul class="topbar-btns">
            <li class="dropdown">
          <span class="topbar-btn" data-toggle="dropdown">

                    <img class="avatar" id="profile-header-img-mobile" src="" alt="..."></span>

                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="/dashboard/myprofile/{{ request.session.user_fullprofile }}/"><i
                            class="ti-user"></i> {% trans "My Profile" %}</a>
                    <a class="dropdown-item" href="/dashboard/memberships/">
                        <div class="flexbox">
                            <i class="ti-crown"></i>
                            <span class="flex-grow">{% trans "Paid Membership" %}</span>
                        </div>
                    </a>
                    <a class="dropdown-item" href="/dashboard/profiles/edit/{{ request.session.user_fullprofile }}/"><i
                            class="ti-settings"></i> {% trans "Options" %}</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item logout-btn" onclick="logout_btn();" href="javascript:void(0);"><i
                            class="ti-power-off"></i> {% trans "Log Out" %}</a>
                </div>
            </li>
            <li class="dropdown general-notifications">
                <a href="/dashboard/notifications/general/" class="topbar-btn btn-outline">
                    <i class="ti-bell"></i>
                </a>
            </li>
            <li class="dropdown notification-messages">
                <a href="/dashboard/messages/inbox/" class="topbar-btn btn-outline">
                    <i class="ti-email"></i>
                </a>
            </li>
            <li class="dropdown notification-teamrequest">
                <a href="/dashboard/notifications/teamrequests/" class="topbar-btn btn-outline">
                    <i class="ti-comments-smiley"></i>
                </a>
            </li>
            <li class="dropdown ">
                <a href="/dashboard/myprojects/new-project/" class="topbar-btn btn-outline btn-purple" id="add-project"
                   data-provide="tooltip" data-placement="bottom" title="{% trans "Add new project" %}"><i
                        class="ti-rocket"></i></a>
            </li>
            <li class="dropdown ">
                <button class="topbar-btn btn-outline btn-primary" id="share-idea" data-toggle="modal"
                        data-target="#modal-idea" data-provide="tooltip" data-placement="bottom"
                        title="{% trans "Share an idea" %}"><i class="ti-comment-alt"></i></button>
            </li>
        </ul>
    </div>

    <div class="topbar-right hide-dsktp-right">
        <ul class="topbar-btns">
            <li class="dropdown">
          <span class="topbar-btn" data-toggle="dropdown">
              <img class="avatar" id="profile-header-img" src="/media/profiles/default.png" alt="..."></span>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="/dashboard/myprofile/{{ request.session.user_fullprofile }}/"><i
                            class="ti-user"></i> {% trans "My Profile" %}</a>
                    <a class="dropdown-item" href="/dashboard/memberships/">
                        <div class="flexbox">
                            <i class="ti-crown"></i>
                            <span class="flex-grow">{% trans "Paid Membership" %}</span>
                        </div>
                    </a>
                    <a class="dropdown-item" href="/dashboard/profiles/edit/{{ request.session.user_fullprofile }}/"><i
                            class="ti-settings"></i> {% trans "Options" %}</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item logout-btn" onclick="logout_btn();" href="javascript:void(0);"><i
                            class="ti-power-off"></i> {% trans "Log Out" %}</a>
                </div>
            </li>

            <!-- Notifications -->
            <li class="dropdown d-none d-md-block general-notifications">
                <span class="topbar-btn" data-toggle="dropdown"><i class="ti-bell"></i></span>
                <div class="dropdown-menu dropdown-menu-right">
                    <div class="media-list media-list-divided media-list-hover media-list-xs scrollable notification-content"
                         style="height: 290px;">

                    </div>
                    <div class="dropdown-footer">
                        <a href="/dashboard/notifications/general/"
                           class="mx-auto">{% trans "Read all notifications" %}</a>
                    </div>
                </div>
            </li>
            <!-- END Notifications -->

            <!-- Messages -->
            <li class="dropdown d-none d-md-block notification-messages">
                <span class="topbar-btn" data-toggle="dropdown"><i class="ti-email"></i></span>
                <div class="dropdown-menu dropdown-menu-right">

                    <div class="media-list message-notification-content media-list-divided media-list-hover media-list-xs scrollable"
                         style="height: 290px">

                    </div>

                    <div class="dropdown-footer">
                        <a href="/dashboard/messages/inbox/" class="mx-auto">{% trans "Read All Messages" %}</a>
                    </div>
                </div>
            </li>

            <!-- team requests -->
            <li class="dropdown d-none d-md-block notification-teamrequest">
                <span class="topbar-btn" data-toggle="dropdown"><i class="ti-comments-smiley"></i></span>
                <div class="dropdown-menu dropdown-menu-right card-shadowed">

                    <div class="media-list media-list-divided media-list-hover media-list-xs scrollable notification-content"
                         style="height: 290px">
                        <!-- teamrequest-item -->
                    </div>

                    <div class="dropdown-footer">
                        <a href="/dashboard/notifications/teamrequests/"
                           class="mx-auto">{% trans "All Team Requests" %}</a>
                    </div>
                </div>
            </li>
            <!-- team requests -->

            <!-- END Messages -->
            <li class="dropdown d-none d-md-block">
                <a href="/dashboard/myprojects/new-project/" class="topbar-btn btn-outline btn-purple" id="add-project"
                   data-provide="tooltip" data-placement="bottom" title="{% trans "Add new project" %}"><i
                        class="ti-rocket"></i></a>
            </li>
            <li class="dropdown d-none d-md-block">
                <button class="topbar-btn btn-outline btn-primary" id="share-idea" data-toggle="modal"
                        data-target="#modal-idea" data-provide="tooltip" data-placement="bottom"
                        title="{% trans "Share an idea" %}"><i class="ti-comment-alt"></i></button>
            </li>
        </ul>

    </div>
</header>