{% load static %}
{% load i18n %}
<div id="qv-post-detail" class="quickview quickview-2xxl backdrop-dark">
    <header class="quickview-header">
        <div class="right">
            <span class="close cursor-pointer"><i class="ti-angle-double-left fs-14"></i> <span class="pl-2">{% trans "Back to ideas" %}</span></span>
        </div>
    </header>
    <div class="quickview-body  bg-light ps-container ps-theme-default">
        <div class="quickview-block form-type-material">
            <div class="row">
                <div class="col-md-9 col-lg-9">
                    <!-- post -->
                    <div class="card" id="post-detail">

                    </div>
                    <!-- post -->
                </div>
                <div class="col-md-3 col-lg-3">
                    {% include 'socialside/ideas/ideas_nav.html' %}
                </div>
            </div>
        </div>
    </div>
</div>