{% load i18n %}
<div class="row">
    <div class="col-12 col-md-12">
        <div class="card card-shadowed">
        <h4 class="card-title"><strong>Cepten Tamir</strong></h4>

        <div class="card-body">
            <ul class="nav nav-process nav-process-iconic">
                <li class="nav-item complete">
                    <span class="nav-title">Fikir</span>
                    <a class="nav-link" href="#"><i class="fa fa-flash"></i></a>
                </li>
                <li class="nav-item processing">
                    <span class="nav-title">İş Planı</span>
                    <a class="nav-link" href="#"><i class="fa fa-file-o"></i></a>
                </li>
                <li class="nav-item">
                    <span class="nav-title">Takım</span>
                    <a class="nav-link" href="#"><i class="fa fa-users"></i></a>
                </li>
                <li class="nav-item">
                    <span class="nav-title">MVP Ürün</span>
                    <a class="nav-link" href="#"><i class="fa fa-cubes"></i></a>
                </li>
                <li class="nav-item">
                    <span class="nav-title">Ödeyen Müşteriler</span>
                    <a class="nav-link" href="#"><i class="fa fa-child"></i></a>
                </li>
            </ul>
        </div>
    </div>
    </div>
</div>