{% load i18n %}

<div class="modal modal-top fade" id="modal-quick-answer" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-body">


                <hr class="my-2"/>

                <textarea class="form-control b-0" id="quick-answer-content" rows="6" data-placeholder="{% trans "Write an answer..." %}" name="quick-answer-content" data-toolbar="light-video" data-height="180" data-provide="summernote"></textarea>

            </div>

{#            <div class="sticker-btn-position">#}
{#                <div class="dropdown sticker-dropdown">#}
{#                    <span class="topbar-btn fs-20 sticker-btn" data-toggle="dropdown" aria-expanded="false"><i class="ti-face-smile"></i></span>#}
{#                    <div class="dropdown-menu dropdown-grid cols-3 sticker-list scrollable " style="height: 200px;">#}
{#                        {% if "tr" in LANGUAGE_CODE %}#}
{#                            <div class="sticker-inbox">#}
{#                            <input placeholder="Bir kelime yaz.." class="form-control mb-2" id="search-sticker-quick-answer" type="text" />#}
{#                            </div>#}
{#                        {% else %}#}
{#                            <div class="sticker-inbox">#}
{#                            <input placeholder="Write a word..." class="form-control mb-2" id="search-sticker-quick-answer"#}
{#                                   type="text" />#}
{#                            </div>#}
{#                        {% endif %}#}
{##}
{##}
{#                    </div>#}
{##}
{#                </div>#}
{#            </div>#}

            <div class="modal-footer">
                <button type="button" class="btn btn-bold btn-pure btn-secondary" data-dismiss="modal">{% trans "Cancel" %}</button>
                <button type="button" data-perform="confirm" data-dismiss="modal" class="btn btn-bold btn-pure btn-primary send-answer">{% trans "Send" %}</button>
            </div>
        </div>
    </div>
</div>