{% load static %}
{% load i18n %}

<aside class="sidebar sidebar-icons-right sidebar-icons-boxed sidebar-expand-lg">
    <header class="sidebar-header">
      <span class="logo">
          <a href="javascript:void(0);"><img src="{% static 'socialside/img/logo-light.png' %}" alt="logo"></a>
        </span>
        <span class="sidebar-toggle-fold"></span>
    </header>

    <nav class="sidebar-navigation" id="vue-sidebar">
        <ul class="menu">
            <li class="menu-item active" data-item="dashboard">
                <a class="menu-link" href="/dashboard/">
                    <span class="icon ti-layout-media-center-alt"></span>
                    <span class="title">{% trans 'Leap Panel' %}</span>
                </a>
            </li>
            <li class="menu-category">{% trans 'COMMUNITY' %}</li>
            <li class="menu-item" data-item="ideas">
                <a class="menu-link" href="/dashboard/ideas">
                    <span class="icon ti-comment-alt"></span>
                    <span class="title">{% trans 'Ideas' %}</span>
                </a>
            </li>
            <li class="menu-item" data-item="profiles">
                <a class="menu-link" href="/dashboard/profiles/">
                    <span class="icon ti-layout-list-thumb"></span>
                    <span class="title">{% trans "Profiles" %}</span>
{#                    <span class="arrow"></span>#}
                </a>

            </li>
            <li class="menu-item" data-item="projects">
                <a class="menu-link" href="/dashboard/projects/">
                    <span class="icon ti-bolt"></span>
                    <span class="title">{% trans 'Projects' %}</span>
                </a>
            </li>
            <li class="menu-category">{% trans 'INITIATIVE MOVEMENTS' %}</li>
            <li class="menu-item" data-item="myideas">
                <a href="/dashboard/myideas" class="menu-link">
                    <span class="icon fa ti-book"></span>
                    <span class="title">{% trans 'My Ideas' %}</span>
                </a>
            </li>
            <li class="menu-item" data-item="myprojects">
                <a class="menu-link" href="/dashboard/myprojects">
                    <span class="icon ti-rocket"></span>
                    <span class="title">{% trans 'My Projects' %}</span>
                </a>
            </li>
            <li class="menu-item" data-item="myteams">
                <a href="/dashboard/myteams" class="menu-link">
                    <span class="icon ti-id-badge"></span>
                    <span class="title">{% trans 'My Teams' %}</span>
                </a>
            </li>
            <li class="menu-category">LEAPCROWD</li>
            <li class="menu-item" data-item="updates">
                <a class="menu-link update-item" href="/dashboard/updates">
                    <span class="icon ti-announcement"></span>
                    <span class="title">{% trans 'Updates' %}</span>
                </a>
            </li>
            <li class="menu-item" data-item="faq">
                <a class="menu-link" href="/dashboard/faq">
                    <span class="icon ti-help"></span>
                    <span class="title">{% trans 'FAQ' %}</span>
                </a>
            </li>
        </ul>
    </nav>
</aside>


