{% load static %}
{% load i18n %}
{#<div class="row">#}
{#        <div class="col-md-12 col-12">#}
{#          <div class="callout callout-success" role="alert">#}
{#            <button type="button" class="close" data-dismiss="callout" aria-label="Close">#}
{#                <span>×</span>#}
{#            </button>#}
{#            <h5>Tebrikler!</h5>#}
{#            <!-- takım isteklerinin yanıtlanması -->#}
{#            <p class="pt-15">#}
{#              <a class="avatar avatar-pill avatar-sm" href="#qv-user-details" data-toggle="quickview" data-provide="tooltip" data-placement="bottom" data-original-title="Kadir Cebel">#}
{#                  <img src="{% static 'socialside/img/avatar/1.jpg' %}">#}
{#              </a>#}
{#              <a class="avatar avatar-pill avatar-sm" href="#qv-user-details" data-toggle="quickview" data-provide="tooltip" data-placement="bottom" data-original-title="lorem ipsum">#}
{#                  <img src="{% static 'socialside/img/avatar/2.jpg' %}">#}
{#              </a>#}
{#              <a class="avatar avatar-pill avatar-sm" href="#qv-user-details" data-toggle="quickview" data-provide="tooltip" data-placement="bottom" data-original-title="Lorem ipsum lorem">#}
{#                  <img src="{% static 'socialside/img/avatar/3.jpg' %}">#}
{#              </a>#}
{#            </p>#}
{#            <!-- takım isteklerinin yanıtlanması -->#}
{#            <p>Kişiler takım isteğinizi yanıtladı. <a href="my_teams_custom.html">Hemen İletişime geçin</a>.</p>#}
{#            <p>Takımınıza ait özel bir sayfa oluşturmak isterseniz, <a href="my_teams.html">burdan</a> tek tıkla oluşturabilirsiniz.</p>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
<div class="row">
    <div class="col-md-12 col-12" id="option-messages">

    </div>
</div>
