{% load i18n %}
<div class="row">
    <div class="col-md-12 col-12">
        <div class="card card-shadowed">
            <h4 class="card-title"><strong>Bir Projeye Sunacağınız Hizmetler</strong></h4>
            <div class="card-body">
                <ul class="flexbox flex-justified text-center">
                    <li class="br-1 botder-light">
                        <div class="fs-18">10 - 15</div>
                        <small>Saat/Hafta</small>
                    </li>

                    <li class="br-1 botder-light">
                        <div class="fs-18">15 TL</div>
                        <small>Saatlik Ücret</small>
                    </li>

                    <li>
                        <div class="fs-18">Emek Karşılığı Hisse</div>
                        <!-- 5000 - 15000 TL Eşit Yatırım -->
                        <!-- Ücretli Destek : saatlik ücreti yazılacak -->
                        <!-- Tek Yatırımcı Olma -->
                        <!--
                            * teknik kişi : bir projeye emek karşılığı hisse ile,
                            * veya bir projeye, ücretli destek ile
                          -->
                        <small>Destek Türü</small>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>