{% load static %}
{% load i18n %}
<div class="modal modal-fill fade" data-backdrop="false" id="modal-team-request" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mx-auto">{% trans "Send Team Request" %}</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- content -->
                <div class="card">
                    <div class="card-body text-center">
                        <div class="row">
                            <div class="text-center col-md-5 col-5">
                                <a href="javascript:void(0);" class="current-user-img">
                                    <img class="avatar avatar-xl avatar-bordered" src="">
                                </a>
                                <h5 class="mt-2 mb-1 text-light fs-14 current-user text-capitalize"></h5>
                                <h6 class="mt-2 mb-1 text-lighter fs-13 current-user-position text-capitalize"></h6>
                            </div>
                            <div class="p-15 fs-35 text-secondary col-md-2 col-2"><i class="fa fa-exchange"></i></div>
                            <div class="text-center col-md-5 col-5">
                                <a href="javascript:void(0);" class="request-user-img">
                                    <img class="avatar avatar-xl avatar-bordered" src="">
                                </a>
                                <h5 class="mt-2 mb-1 text-light fs-14 request-user text-capitalize"></h5>
                                <h6 class="mt-2 mb-1 text-lighter fs-13 request-user-position text-capitalize"></h6>
                            </div>
                        </div>
                    </div>
                    <h5 class="card-title text-center pb-25 text-capitalize">
                        <strong>{% trans "Support Type for This Project" %}</strong></h5>
                    <div class="card-body">
                        <ul class="flexbox flex-justified text-center current-user-options">
                            <li class="br-1 botder-light">
                                <div class="fs-18 selected-hour" data-hour=""></div>
                                <small>{% trans "Hour/Week" %}</small>
                                <div class="flexbox flex-justified text-center">
                                    <a href="javascript:void(0);"
                                       class="btn btn-bold btn-pure btn-danger text-uppercase set-hours">{% trans "Set" %}</a>
                                </div>
                            </li>
                            <li>
                                <div class="fs-18 text-capitalize selected-investment" data-investment=""></div>
                                <small>{% trans "Support Type" %}</small>
                                <div class="flexbox flex-justified text-center">
                                    <a href="javascript:void(0);"
                                       class="btn btn-bold btn-pure btn-danger set-support text-uppercase">{% trans "Set" %}</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- content -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-bold btn btn-bold btn-w-xs btn-outline btn-secondary"
                        data-dismiss="modal">{% trans "Close" %}</button>
                <button type="button" data-perform="confirm" data-dismiss="modal"
                        class="btn btn-bold btn-w-xs btn-outline btn-primary send-team-request">{% trans "Send" %}</button>
            </div>
        </div>
    </div>
</div>