
{% load i18n %}
<div id="qv-user-details" class="quickview quickview-lg backdrop-dark" data-user-id="">
    <div class="quickview-body ps-container ps-theme-default">
        <div class="card card-inverse bg-img" style="">
            <div class="card-body text-center pb-50">
                <div data-provide="easypie" data-percent="" data-size="100" data-line-width="3" class="profile-points">
            <span class="easypie-data">
                <img class="avatar avatar-xxl" src="">
              </span>
                </div>
                <h4 class="mt-2 mb-0 profile-name text-capitalize"></h4>
                <h5 class="mt-2 mb-1 position-title text-capitalize"></h5>
                <span class="location"></span>
            </div>
        </div>

        <div class="quickview-block form-type-material ">
            <div class="form-group do-float">
                <p class="form-control-plaintext company"></p>
                <label>{% trans "Experience" %}</label>
            </div>
            <div class="form-group do-float">
                <div class="bootstrap-tagsinput no-border px-0">
                </div>
                <label>{% trans "Skills" %}</label>
            </div>

            <div class="form-group do-float users-investments">
                <p class="form-control-plaintext invest-type"></p>
                <label>{% trans "Support Type" %}</label>
            </div>

            <div class="form-group do-float hour-costs">
                <p class="form-control-plaintext"></p>
                <label>{% trans "Hour Cost" %}</label>
            </div>


            <div class="form-group do-float">
                <p class="form-control-plaintext startup-history">Var</p>
                <label>{% trans "Startup History" %}</label>
            </div>

            <div class="form-group do-float project-infos">
                <p class="form-control-plaintext">
                    <a href="#!" class="hover-primary project-title"></a>
                </p>
                <label>{% trans "Last Project" %}</label>
            </div>
            <div class="form-group do-float project-progress">
                <div class="progress mt-2">
                    <div class="progress-bar project-point" role="progressbar" aria-valuenow="" aria-valuemin="0"
                         aria-valuemax="100" style="width: 10%;height:16px;"><strong></strong></div>
                </div>
                <label>{% trans "Description of the Project" %}</label>
            </div>
        </div>

    </div>

    <footer class="p-12 text-right">
        <button class="btn btn-bold btn-sm btn-secondary" type="button" data-toggle="quickview">{% trans "Close" %}</button>
        <button class="btn btn-bold btn-sm btn-dark member-detail" type="button" >{% trans "Detail" %}</button>
    </footer>
</div>