{% extends 'socialside/base.html' %}
{% load static %}
{% load i18n %}

{% block body %}
    {% include 'socialside/myprojects/project_header_info.html' %}
    <div class="main-content">
        <div class="col-md-12 col-12">
            <div class="card card-body card-shadowed">
                <ol class="timeline timeline-activity timeline-sm timeline-content-right w-100 py-20 pr-20">
                    <li class="timeline-block">
                    <div class="timeline-point">
                      <a href="#qv-user-details" data-toggle="quickview" class="avatar">
                          <img src="{% static 'socialside/img/avatar/4.jpg' %}" alt="...">
                      </a>
                    </div>
                    <div class="timeline-content">
                      <time datetime="2018">Biraz önce</time>
                      <p><a href="#">http://linkedin.com</a></p>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                      <hr>
                    </div>
                  </li>
                  <li class="timeline-block">
                    <div class="timeline-point">
                      <a href="#qv-user-details" data-toggle="quickview" class="avatar">
                          <img src="{% static 'socialside/img/avatar/2.jpg' %}" alt="...">
                      </a>
                    </div>
                    <div class="timeline-content">
                      <time datetime="2018">1 saat önce</time>
                      <p><a href="#">http://hepsiburada.com</a></p>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                      <hr>
                    </div>
                  </li>
                  <li class="timeline-block">
                    <div class="timeline-point">
                      <a href="#qv-user-details" data-toggle="quickview" class="avatar">
                          <img src="{% static 'socialside/img/avatar/3.jpg' %}" alt="...">
                      </a>
                    </div>
                    <div class="timeline-content">
                      <time datetime="2018">2 gün önce</time>
                      <p><a href="#">http://twitter.com</a></p>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                      <hr>
                    </div>
                  </li>
                </ol>
            </div>
        </div>
    </div>
{% endblock %}