{% load i18n %}

<div class="row">
    <div class="col-md-12 col-12">
        <div class="tab-content">
            {% if section|length < 1 %}
                <div class="tab-pane fade show active" id="tab-projects" role="tabpanel">
                    {% if projects|length > 0 %}
                        <div class="row mb-20 text-right">
                            <div class="col-md-12 col-12">
                                <a href="/dashboard/myprojects/new-project/"
                                   class="btn btn-md btn-primary-outline">{% trans "New Project" %}</a>
                            </div>
                        </div>
                        <div class="project-list">
                            {% include 'socialside/myprojects/projects_list.html' %}
                        </div>
                        {% if has_next %}
                            <div class="row" id="loadmore-myprojects">
                                <div class="col-md-12 col-lg-12 col-12 text-center">
                                    <button type="button" class="btn btn-w-md btn-round btn-primary my-30" data-page="2"
                                    >{% trans "Load More" %}</button>
                                </div>
                            </div>
                        {% else %}
                            <div class="row" id="loadmore-myprojects">
                                <div class="col-md-12 col-lg-12 col-12 text-center">
                                    <button type="button" class="btn btn-w-md btn-round btn-primary my-30" data-page="2"
                                            style="display: none;"
                                    >{% trans "Load More" %}</button>
                                </div>
                            </div>
                        {% endif %}

                    {% else %}
                        <div class="mb-20 card b-1">
                            <div class="card-body p-0">
                                <div class="alert alert-light" role="alert">
                                    {#        <h4 class="alert-heading text-center py-10">Henüz bir proje eklememişsiniz!</h4>#}
                                    <h4 class="alert-heading text-center py-10">{% trans "You have not added a project yet!" %}</h4>
                                    <p>{% trans "You can add your venture project whom you can get feedback and team request from people. In this way, you can give right direction the venture project or you could collect the right team. Never hesitate to be honest. <u>We built our team on this unchangeable criterion.</u>" %}</p>
                                    <hr/>
                                    <p class="mb-0 text-danger">{% trans 'If you fear the idea will be stolen, you can check <a href="#!">our paid membership packets</a>. In this way, you can choose who will see the project.' %}</p>

                                    <p class="text-center pt-20">
                                        <a href="/dashboard/myprojects/new-project/"
                                           class="btn btn-primary btn-outline btn-w-xl"
                                           id="add-new-project">{% trans "Add New Project" %}</a>
                                    </p>

                                </div>
                            </div>
                        </div>
                    {% endif %}

                </div>
                <div class="tab-pane fade" id="tab-feedbacks" role="tabpanel">
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-12 project-list">

                        </div>
                    </div>
                    <div class="row" id="loadmore-mp-feedbacks">
                        <div class="col-md-12 col-lg-12 col-12 text-center">
                            <button type="button" class="btn btn-w-md btn-round btn-primary my-30" data-page="2"
                                    data-id="{{ id }}">{% trans "Load More" %}</button>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="tab-cofunded" role="tabpanel">
                    <div class="project-list">
                        {% include 'socialside/myprojects/cofunded_projects.html' %}
                    </div>
                    <div class="row" id="loadmore-cofunded">
                        <div class="col-md-12 col-lg-12 col-12 text-center">
                            <button type="button" class="btn btn-w-md btn-round btn-primary my-30"
                                    data-page="2">{% trans "Load More" %}</button>
                        </div>
                    </div>
                </div>
{#                <div class="tab-pane fade" id="tab-customprojects" role="tabpanel">#}
{#                    <div class="project-list">#}
{#                        {% include 'socialside/myprojects/projects_customprojectpages.html' %}#}
{#                    </div>#}
{#                </div>#}
            {% elif "teamrequest" in section %}
                <div class="tab-pane fade " id="tab-projects" role="tabpanel">
                    <div class="project-list">
                        {% include 'socialside/myprojects/projects_list.html' %}
                    </div>
                    <div class="row" id="loadmore-myprojects">
                        <div class="col-md-12 col-lg-12 col-12 text-center">
                            <button type="button" class="btn btn-w-md btn-round btn-primary my-30"
                                    data-page="2">{% trans "Load More" %}</button>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade show active" id="tab-feedbacks" role="tabpanel">
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-12 project-list">

                        </div>
                    </div>
                    <div class="row" id="loadmore-mp-feedbacks">
                        <div class="col-md-12 col-lg-12 col-12 text-center">
                            <button type="button" class="btn btn-w-md btn-round btn-primary my-30" data-page="2"
                                    data-id="{{ id }}">{% trans "Load More" %}</button>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="tab-cofunded" role="tabpanel">
                    <div class="project-list">
                        {% include 'socialside/myprojects/cofunded_projects.html' %}
                    </div>
                    <div class="row" id="loadmore-cofunded">
                        <div class="col-md-12 col-lg-12 col-12 text-center">
                            <button type="button" class="btn btn-w-md btn-round btn-primary my-30"
                                    data-page="2">{% trans "Load More" %}</button>
                        </div>
                    </div>
                </div>
{#                <div class="tab-pane fade" id="tab-customprojects" role="tabpanel">#}
{#                    {% include 'socialside/myprojects/projects_customprojectpages.html' %}#}
{#                </div>#}
            {% elif "cofunded" in section %}
                <div class="tab-pane fade " id="tab-projects" role="tabpanel">
                    <div class="project-list">
                        {% include 'socialside/myprojects/projects_list.html' %}
                    </div>

                    <div class="row" id="loadmore-myprojects">
                        <div class="col-md-12 col-lg-12 col-12 text-center">
                            <button type="button" class="btn btn-w-md btn-round btn-primary my-30" data-page="2"
                            >{% trans "Load More" %}</button>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="tab-feedbacks" role="tabpanel">
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-12 project-list">

                        </div>
                    </div>
                    <div class="row" id="loadmore-mp-feedbacks">
                        <div class="col-md-12 col-lg-12 col-12 text-center">
                            <button type="button" class="btn btn-w-md btn-round btn-primary my-30" data-page="2"
                                    data-id="{{ id }}">{% trans "Load More" %}</button>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade show active" id="tab-cofunded" role="tabpanel">
                    {% if projects|length > 0 %}
                        <div class="project-list">
                            {% include 'socialside/myprojects/cofunded_projects.html' %}
                        </div>
                        {% if has_next %}
                            <div class="row" id="loadmore-cofunded">
                                <div class="col-md-12 col-lg-12 col-12 text-center">
                                    <button type="button" class="btn btn-w-md btn-round btn-primary my-30"
                                            data-page="2">{% trans "Load More" %}</button>
                                </div>
                            </div>
                        {% else %}
                            <div class="row" id="loadmore-cofunded">
                                <div class="col-md-12 col-lg-12 col-12 text-center">
                                    <button type="button" class="btn btn-w-md btn-round btn-primary my-30"
                                            style="display: none;" data-page="2">{% trans "Load More" %}</button>
                                </div>
                            </div>
                        {% endif %}
                    {% else %}
                        <div class="project-list text-center">
                            <p>{% trans "You are not a partner in another project yet." %}</p>
                        </div>
                    {% endif %}


                </div>
{#                <div class="tab-pane fade" id="tab-customprojects" role="tabpanel">#}
{#                    {% include 'socialside/myprojects/projects_customprojectpages.html' %}#}
{#                </div>#}
            {% else %}
                <div class="tab-pane fade " id="tab-projects" role="tabpanel">
                    <div class="project-list">
                        {% include 'socialside/myprojects/projects_list.html' %}
                    </div>
                    <div class="row" id="loadmore-myprojects">
                        <div class="col-md-12 col-lg-12 col-12 text-center">
                            <button type="button" class="btn btn-w-md btn-round btn-primary my-30" data-page="2"
                            >{% trans "Load More" %}</button>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="tab-feedbacks" role="tabpanel">
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-12 project-list">

                        </div>
                    </div>
                    <div class="row" id="loadmore-mp-feedbacks">
                        <div class="col-md-12 col-lg-12 col-12 text-center">
                            <button type="button" class="btn btn-w-md btn-round btn-primary my-30" data-page="2"
                                    data-id="{{ id }}">{% trans "Load More" %}</button>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="tab-cofunded" role="tabpanel">
                    <div class="project-list">
                        {% include 'socialside/myprojects/cofunded_projects.html' %}
                    </div>
                    <div class="row" id="loadmore-cofunded">
                        <div class="col-md-12 col-lg-12 col-12 text-center">
                            <button type="button" class="btn btn-w-md btn-round btn-primary my-30"
                                    data-page="2">{% trans "Load More" %}</button>
                        </div>
                    </div>
                </div>
{#                <div class="tab-pane fade show active" id="tab-customprojects" role="tabpanel">#}
{#                    {% include 'socialside/myprojects/projects_customprojectpages.html' %}#}
{#                </div>#}
            {% endif %}


        </div>
    </div>
</div>