{% load i18n %}

<header class="header card-shadowed mb-25">
    <div class="header-info mt-30 mb-0">
        <h2 class="header-title"><strong>{% trans "My Projects" %}</strong></h2>
    </div>
    <div class="header-info m-0">
        <p>
            {#          <small>Bu bölümde leapcrowd sistemine eklemiş olduğunuz projeleri görebilir, projelerinize gelen geri bildirimleri ve takım isteklerini görebilirsiniz.</small>#}
            <small>{% trans "You can see your own projects, project feedbacks, review or evaluate incoming team requests." %}</small>
        </p>
    </div>

    <div class="header-action" id="myproject-nav">
        <ul class="nav nav-tabs" role="tablist">
            {% if section|length < 1 %}
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#tab-projects"
                       role="tab">{% trans "MY PROJECTS" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#tab-feedbacks" data-toggle="tab"
                       role="tab">{% trans "FEEDBACKS AND TEAMREQUESTS" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#tab-cofunded" data-toggle="tab"
                       role="tab">{% trans "CO-FUNDED PROJECTS" %}
                        <small>(0)</small>
                    </a>
                </li>
{#                <li class="nav-item">#}
{#                    <a class="nav-link" href="#tab-customprojects" data-toggle="tab"#}
{#                       role="tab">{% trans "Special Project Pages" %}</a>#}
{#                </li>#}
            {% elif "teamrequest" in section %}
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tab-projects"
                       role="tab">{% trans "MY PROJECTS" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#tab-feedbacks" data-toggle="tab"
                       role="tab">{% trans "FEEDBACKS AND TEAMREQUESTS" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#tab-cofunded" data-toggle="tab"
                       role="tab">{% trans "CO-FUNDED PROJECTS" %}
                        <small>(0)</small>
                    </a>
                </li>
{#                <li class="nav-item">#}
{#                    <a class="nav-link" href="#tab-customprojects" data-toggle="tab"#}
{#                       role="tab">{% trans "Special Project Pages" %}</a>#}
{#                </li>#}
            {% elif "cofunded" in section %}
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tab-projects"
                       role="tab">{% trans "MY PROJECTS" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#tab-feedbacks" data-toggle="tab"
                       role="tab">{% trans "FEEDBACKS AND TEAMREQUESTS" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#tab-cofunded" data-toggle="tab"
                       role="tab">{% trans "CO-FUNDED PROJECTS" %}
                        <small>(0)</small>
                    </a>
                </li>
{#                <li class="nav-item">#}
{#                    <a class="nav-link" href="#tab-customprojects" data-toggle="tab"#}
{#                       role="tab">{% trans "Special Project Pages" %}</a>#}
{#                </li>#}
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tab-projects"
                       role="tab">{% trans "MY PROJECTS" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#tab-feedbacks" data-toggle="tab"
                       role="tab">{% trans "FEEDBACKS AND TEAMREQUESTS" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#tab-cofunded" data-toggle="tab"
                       role="tab">{% trans "CO-FUNDED PROJECTS" %}
                        <small>(0)</small>
                    </a>
                </li>
{#                <li class="nav-item">#}
{#                    <a class="nav-link active" href="#tab-customprojects" data-toggle="tab"#}
{#                       role="tab">{% trans "Special Project Pages" %}</a>#}
{#                </li>#}
            {% endif %}


        </ul>
    </div>
</header>