{% load i18n %}

<header class="header card-shadowed mb-25">
    <div class="header-info mt-30 mb-25">
        <div class="left">
            <h2 class="header-title">{{ ph_title }}</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/dashboard/myprojects/">{% trans "projects" %}</a></li>
                <li class="breadcrumb-item active">{{ ph_title|lower }}</li>
            </ol>
            <small class="text-fade mb-12"><i class="fa fa-map-marker pr-1"></i> {{ po_location }}</small>
        </div>
        <div class="right">
            <!-- project info -->
            <h5 class="mt-30 header-title"><strong>{{ project_situation }}</strong></h5>
            <!-- project info -->
        </div>
    </div>

    {% if nav_buttons %}
        <div class="header-action" id="project-requests-nav" data-id="{{ id }}">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#users-requests"
                       role="tab">{% trans "Team Requests" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#undecided-requests"
                       role="tab">{% trans "Undecided Requests" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#feedbacks"
                       role="tab">{% trans "Feedbacks" %}</a>
                </li>
            </ul>
        </div>
    {% endif %}
</header>