{% load i18n %}
<!-- bu kısım her seferinde ajax ile çekilecek -->
{#<div class="card card-body text-center {{ point_score_css }} card-shadowed" id="user-points">#}
{#    <div class="fs-40 fw-100 point-value">%{{ profile_score }}</div>#}
{#    <div class="point-text">{{ point_score_text }}</div>#}
{#</div>#}
<div class="card card-body text-center bg-danger card-shadowed" id="project-points">
    <div class="fs-40 fw-100 point-value">%0</div>
    <div class="point-text">{% trans "NOT COMPLETED" %}</div>
</div>