{% load i18n %}

{% for prj in projects %}
    <div class="card b-1 hover-shadow-2 mb-20">
        <a class="media card-body" href="javascript:void(0);">
            <div class="media-left pr-12">
                <img class="avatar avatar-xl no-radius" src="{{ prj.project_logo }}" alt="...">
            </div>
            <div class="media-body">
                <div class="mb-2">
                    <span class="fs-20 pr-16">{{ prj.title }}</span>
                </div>
                {% for prj_option in prj.project_options %}
                    {% if prj_option.situation == True %}
                        {% if "give-feedback" in prj_option.project_options.title_code or "send-teamrequest" in prj_option.project_options.title_code %}
                            {% if "tr" in request.LANGUAGE_CODE %}
                                <span class="badge badge-info text-uppercase no-radius ls-1 opacity-75">
                                {{ prj_option.project_options.name }}
                                </span>
                            {% else %}
                                <span class="badge badge-info text-uppercase no-radius ls-1 opacity-75">
                                {{ prj_option.project_options.name_eng }}
                                </span>
                            {% endif %}
                        {% endif %}


                    {% endif %}
                {% endfor %}
            </div>
            <div class="media-right text-right d-none d-md-block">
                <p class="text-fade">
                    <small><i class="fa fa-map-marker pr-1"></i> {{ prj.project_locations }}</small>
                </p>
                {% if prj.isOnline == True %}
                    <span class="badge badge-success">{% trans "Online" %}</span>
                {% else %}
                    <span class="badge badge-danger">{% trans "Draft" %}</span>
                {% endif %}
            </div>
        </a>

        <footer class="card-footer flexbox align-items-center">
            <div>
                <strong>{% trans "Business Stage" %}:</strong>
                <span>{{ prj.steps }}</span>
            </div>
            <div class="card-hover-show">
                <a class="btn btn-xs fs-10 btn-bold btn-dark"
                   href="/dashboard/myprojects/edit/{{ prj.id }}">{% trans "Options" %}</a>
            </div>
        </footer>
    </div>
{% endfor %}
