{% load static %}
{% load i18n %}

<div class="col-md-5 col-5">
    <figure class="teaser teaser-julia">
        <img src="{% static 'socialside/img/gallery/thumb/14.jpg' %}" alt="Julia image hover effect">
        <figcaption>
            <h2>Cepten <span>Tamir</span></h2>
            <div>
                <p>Julia dances in the deep dark</p>
                <p>She loves the smell of the ocean</p>
                <p>And dives into the morning light</p>
            </div>
            <a href="projectpages/monster/image-light.html">Detaylar</a>
        </figcaption>
    </figure>
</div>