{% extends 'socialside/base.html' %}
{% load i18n %}
{% block title %} {{ page_title }} {% endblock %}
{% block body %}
    {% include 'socialside/myprojects/project_header_info.html' %}
    <div class="main-content">

        {% if "success" in message_type %}
            <div class="row">
                <div class="col-lg-9 col-9 col-md-9 col-sm-12 col-12 tab-content">
                    {% include 'socialside/myprojects/project_info_content.html' %}
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                    {% include 'socialside/myprojects/project_right_menu.html' %}
                    {% include 'socialside/myprojects/project_points.html' %}
                </div>
            </div>
        {% else %}
        <div class="row">
            <div class="col-md-12 col-12">
                <p style="font-size: 200px;" class="text-center text-fader"><i class="fa fa-exclamation-circle"></i></p>
                <p class="result-message text-center fs-20 px-90 lh-2">{{ message }}</p>
                <p class="text-center">
                    <a href="/dashboard/memberships/" class="btn btn-outline btn-info">{% trans "Our Paid Memberships" %}</a>
                </p>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}