{% load static %}
{% load i18n %}

<div class="card b-1 hover-shadow-2 mb-20">
    <a class="media card-body" href="#!">
        <div class="media-left pr-12">
            <img class="avatar avatar-xl no-radius" src="assets/img/logo-envato.png" alt="...">
        </div>
        <div class="media-body">
            <div class="mb-2">
                <span class="fs-20 pr-16">Cepten Tamir</span>
                <span style="position:relative;bottom:3px;"
                      class="badge badge-danger text-uppercase no-radius ls-1 opacity-75">Geri Bildirim Topluyor</span>
                <span style="position:relative;bottom:3px;"
                      class="badge badge-success text-uppercase no-radius ls-1 opacity-75">Takım İsteği Topluyor</span>
            </div>
            <small class="fs-14 fw-300 ls-1">Yayında</small>
        </div>
        <div class="media-right text-right d-none d-md-block">
            <p class="text-fade">
                <small><i class="fa fa-map-marker pr-1"></i> Aydın, Türkiye</small>
            </p>
            <span class="text-fade fs-12">Takım Başvurusu: <strong>15</strong></span>
        </div>
    </a>

    <footer class="card-footer flexbox align-items-center">
        <div>
            <strong>Proje Aşaması:</strong>
            <span>İş Planı Hazır</span>
        </div>
        <div class="card-hover-show">
            <a class="btn btn-xs fs-10 btn-bold btn-dark" href="requests">İncele</a>
        </div>
    </footer>
</div>