{% load i18n %}

<div class="card" id="project-nav-menu">
          <ul class="nav nav-lg nav-tabs flex-column card-shadowed" role="tablist">
            <li class="nav-item">
              <a class="nav-link text-left pl-15 pr-15 active" href="#project1" data-toggle="tab" role="tab">{% trans "General Informations" %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-left pl-15 pr-15" href="#project2" data-toggle="tab" role="tab">{% trans "Business Model" %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-left pl-15 pr-15" href="#project3" data-toggle="tab" role="tab">{% trans "Requirements" %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-left pl-15 pr-15" href="#project4" data-toggle="tab" role="tab">{% trans "Competitors" %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-left pl-15 pr-15" href="#project5" data-toggle="tab" role="tab">{% trans "Business Stage" %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-left pl-15 pr-15" href="#project6" data-toggle="tab" role="tab">{% trans "Project Options" %}</a>
            </li>
          </ul>
        </div>