{% load i18n %}

{% if "warning" not in message_type %}
    {% for prj_req in requests %}
        <div class="col-md-6 col-lg-4 col-sm-6">
            <div class="card">
                <div class="flexbox align-items-center px-20 pt-20">
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" value="{{ prj_req.id }}">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description"></span>
                    </label>
                </div>
                <div class="card-body text-center pt-1 pb-20">
                    <a href="#qv-user-details" class="profile-popup" data-id="{{ prj_req.id }}" data-toggle="quickview">
                        <img class="avatar avatar-xxl" src="{{ prj_req.profile_img }}">
                    </a>
                    <h5 class="mt-2 mb-0"><a class="hover-primary profile-popup text-capitalize" data-id="{{ prj_req.id }}" href="#qv-user-details" data-toggle="quickview">{{ prj_req.profile_name }}</a></h5>
                    <span class="text-capitalize">{{ prj_req.position_title }}</span>
                    <div class="my-15">
                        <span class="bg-lighter d-inline-block text-center px-3">{{ prj_req.hour_info }} {% trans "h/w" %}</span>
                    </div>
                    <span class="bg-lighter d-inline-block text-center px-3">{{ prj_req.support_type }}</span>
                </div>

                <footer class="card-footer flexbox">
                    <div>
                        <i class="fa fa-map-marker pr-1"></i>
                        <span>{{ prj_req.location }}</span>
                    </div>
                    {% if prj_req.hour_cost|length > 0 %}
                        <div>
                            <i class="fa fa-money pr-1"></i>
                            <span>{{ prj_req.hour_cost }} / {% trans "hour" %}</span>
                        </div>
                    {% endif %}
                </footer>
            </div>
        </div>
    {% endfor %}

{% endif %}



