{% extends 'socialside/base.html' %}
{% load i18n %}
{% block title %} {{ page_title }} {% endblock %}
{% block body %}
    {% include 'socialside/myprojects/project_header_info.html' %}
    <div class="main-content">

        <div class="tab-content">
            <div class="tab-pane active fade show" id="users-requests" role="tabpanel">
                {% if team_message|length > 0 %}
                    <div class="alert alert-danger alert-dismissible fade show fw-400 fs-12 pr-35" role="alert">
                        <button type="button" class="close cursor-pointer" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                        {{ team_message }}
                    </div>
                {% endif %}
                <div class="row project-requests-lists">
                    {% include 'socialside/myprojects/request_list.html' %}
                </div>

                {% if has_next == True %}
                    <div class="row" id="load-more-requests">
                        <div class="col-md-12 col-12 text-center py-10">
                            {#                            <span class="list-result-message"></span>#}
                            <button type="button" class="btn btn-w-md btn-round btn-primary my-30" data-page="2"
                                    data-id="{{ id }}">{% trans "Load More" %}</button>
                        </div>
                    </div>
                {% else %}
                    <div class="row" id="load-more-requests" style="display: none;">
                        <div class="col-md-12 col-12 text-center py-10">
                            {#                            <span class="list-result-message"></span>#}
                            <button type="button" class="btn btn-w-md btn-round btn-primary my-30"
                                    data-page="2">{% trans "Load More" %}</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-12">
                            <p class="text-center">{{ message }}</p>
                        </div>
                    </div>
                {% endif %}
                {% include 'socialside/myprojects/fixmenu.html' %}
            </div>
            <div class="tab-pane fade" id="undecided-requests" role="tabpanel">
                <div class="row undecided-list">

                </div>
                <div class="row" id="load-more-undecided">
                    <div class="col-md-12 col-12 text-center py-10">
                        <button type="button" class="btn btn-w-md btn-round btn-primary my-30" data-id="{{ id }}"
                                data-page="2">{% trans "Load More" %}</button>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="feedbacks">
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-12 feedback-list">

                    </div>
                </div>
                <div class="row" id="loadmore-feedbacks">
                    <div class="col-md-12 col-12 text-center py-10">
                        <button type="button" class="btn btn-w-md btn-round btn-primary my-30" data-id="{{ id }}"
                                data-page="2">{% trans "Load More" %}</button>
                    </div>
                </div>
            </div>

        </div>

    </div>
{% endblock %}