{% load i18n %}

<div class="card">
                <h5 class="card-title">
                    <a data-toggle="collapse" data-parent="#accordion-2" href="#collapse-2-2">{% trans "Business Model" %}</a>
                </h5>

                <div id="collapse-2-2" class="collapse">
                    <div class="card-body">
                        <div>
                            <h5 class="pl-0 fs-13 mb-2">{% trans "Target Group" %}</h5>
                            <p>{{ target_group|safe }}</p>
                        </div>
                        <div>
                            <h5 class="pl-0 fs-13 mb-2">{% trans "Revenue Model" %}</h5>
                            <p>{{ revenue_model|safe }}</p>
                        </div>
                    </div>
                </div>
            </div>