{% load i18n %}

<div class="card">
    <h5 class="card-title">
        <a data-toggle="collapse" data-parent="#accordion-2" href="#collapse-2-4">{% trans "Competitors" %}</a>
    </h5>

    <div id="collapse-2-4" class="collapse">
        <div class="card-body">
            {{ competitors|safe }}
        </div>
    </div>
</div>