{% load i18n %}

<div class="card">
    <h5 class="card-title">
        <a data-toggle="collapse" data-parent="#accordion-2" href="#collapse-2-1">{% trans "General Infos" %}</a>
    </h5>

    <div id="collapse-2-1" class="collapse show">
        <div class="card-body">
            <div>
                <h5 class="pl-0 fs-13 mb-2">{% trans "Project Area/Sector" %}</h5>
                <p>
                    {% for sector in project_sectors %}
                        {{ sector.title }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
            </div>
            <div>
                <h5 class="pl-0 fs-13 mb-2">{% trans "Usage Type" %}</h5>
                <p>
                    {% for usage_type in usage_types %}
                        {{ usage_type.title }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
            </div>
            <div>
                <h5 class="pl-0 fs-13 mb-2">{% trans "Project Summary" %}</h5>
                <p>{{ project_summary }}</p>
            </div>
            <div>
                <h5 class="pl-0 fs-13 mb-2">
                    {% trans "Project Website" %}
                </h5>
                <p>{{ website }}</p>
            </div>
        </div>
    </div>
</div>