{% load i18n %}

<div class="card">
    <h5 class="card-title">
        <a data-toggle="collapse" data-parent="#accordion-2" href="#collapse-2-3">{% trans "Requirements" %}</a>
    </h5>

    <div id="collapse-2-3" class="collapse">
        <div class="card-body">
            <div>
                <h5 class="pl-0 fs-13 mb-2">{% trans "What will project owner provide for the project?" %}</h5>
                <p>{{ existing_requirements|safe }}</p>
            </div>
            <div>
                <h5 class="pl-0 fs-13 mb-2">{% trans "What will project owner need for the project?" %}</h5>
                <p>{{ needed_requirements|safe }}</p>
            </div>
        </div>
    </div>
</div>