{% load i18n %}

<!-- fix button -->
<div class="fab fab-fixed" id="ideas-fix-filter">
    <button class="btn btn-float btn-dark" data-toggle="button" aria-pressed="false">
        <i class="fab-icon-default ti-panel"></i>
        <i class="fab-icon-active ti-close"></i>
    </button>

    <ul class="fab-buttons">
        <li>
            <a class="btn btn-float btn-sm btn-info" data-page="1" data-id="{{ id }}" data-btn-type="show-all" href="javascript:void(0);" data-provide="tooltip" data-placement="left"
               data-original-title="{% trans "Show All" %}">
                <i class="fa fa-unsorted"></i>
            </a>
        </li>
        <li>
            <a class="btn btn-float btn-sm btn-info" data-page="1" data-id="{{ id }}" data-btn-type="paid-support" href="javascript:void(0);" data-provide="tooltip" data-placement="left"
               data-original-title="{% trans "Paid support requests" %}">
                <i class="fa fa-money"></i>
            </a>
        </li>
        <li>
            <a class="btn btn-float btn-sm btn-info" data-page="1" data-id="{{ id }}" data-btn-type="work-support" data-provide="tooltip" data-placement="left"
               data-original-title="{% trans "WorfForce partnership requests" %}" href="javascript:void(0);">
                <i class="fa fa-users"></i>
            </a>
        </li>
        <li>
            <a class="btn btn-float btn-sm btn-info" data-page="1" data-id="{{ id }}" data-btn-type="equal-paid" data-provide="tooltip" data-placement="left"
               data-original-title="{% trans "Equal amount of support requests" %}" href="javascript:void(0);">
                <i class="fa fa-balance-scale"></i>
            </a>
        </li>
        <li>
            <a class="btn btn-float btn-sm btn-success" data-id="{{ id }}" data-btn-type="send-requests" href="javascript:void(0);" data-provide="tooltip"
               data-placement="left" data-original-title="Seçilen kişilere istek gönder">
                <i class="fa fa-paper-plane"></i>
            </a>
        </li>
    </ul>
</div>