{% load i18n %}


<div class="tab-content">
    <div class="tab-pane fade show active" id="tab-smilar" role="tabpanel">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-12">
                {% include 'socialside/myideas/smilarprojects.html' %}
            </div>
        </div>

        {% if has_next == True %}
            <div class="row" id="load-more-similars">
                <div class="col-md-12 col-12 text-center py-10 text-center">
                    <button type="button" class="btn btn-w-md btn-round btn-primary my-30" data-page="2"
                            data-id="{{ id }}">{% trans "Load More" %}</button>
                </div>
            </div>
        {% else %}
            <div class="row" id="load-more-similars" style="display: none;">
                <div class="col-md-12 col-12 text-center py-10 text-center">
                    <button type="button" class="btn btn-w-md btn-round btn-primary my-30"
                            data-page="2">{% trans "Load More" %}</button>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="tab-pane fade" id="tab-team" role="tabpanel">
        <div class="row requests-list">

        </div>
        <div class="row" id="loadmore-ideasrequest">
            <div class="col-md-12 col-lg-12 text-center">
                <button type="button" class="btn btn-w-md btn-round btn-primary my-30" data-page="2"
                        data-id="{{ id }}">{% trans "Load More" %}</button>
            </div>
        </div>
        {% include "socialside/myideas/fixmenu.html" %}
    </div>
    <div class="tab-pane fade" id="tab-undecided" role="tabpanel">
        <div class="row undecided-list">

        </div>

        <div class="row" id="loadmore-ideas-undecided">
            <div class="col-md-12 col-lg-12 text-center">
                <button type="button" class="btn btn-w-md btn-round btn-primary my-30" data-page="2"
                        data-id="{{ id }}">{% trans "Load More" %}</button>
            </div>
        </div>
    </div>

</div>