{% load i18n %}

<header class="header card-shadowed mb-25">
    <div class="header-info mt-30 mb-0">
        <button class="btn btn-sm btn-outline btn-primary mb-15 post-item" data-post="{{ id }}"
                data-target="#qv-post-detail" data-toggle="quickview">{% trans "View My Idea" %}</button>
    </div>
    <div class="header-info mt-0 mb-0">
        <p>{{ post_content|truncatechars:200 }}</p>
    </div>
    <div class="header-action" id="myideas-nav" data-id="{{ id }}">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#tab-smilar"
                   role="tab">{% trans "Similar Projects" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#tab-team" data-toggle="tab" role="tab">{% trans "Team Requests" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#tab-undecided" data-toggle="tab" role="tab">{% trans "Undecided Team Requests" %}</a>
            </li>
        </ul>
    </div>
</header>