{% load static %}
{% load i18n %}

<div class="row">
    {% include 'socialside/myideas/team_request_list.html' %}
</div>

<!-- loading image -->
<div class="row">
    <div class="col-md-12 col-12 pt-25 pb-25">
        <div class="spinner-circle center-h mx-auto"></div>
    </div>
</div>
{% include 'socialside/myideas/fixmenu.html' %}
