{% load i18n %}
<!-- döngü -->

<div class="row">

    <div class="col-md-12 col-12">
        {% if "success" in message_type %}
            <div class="media-list media-list-divided media-list-hover" data-provide="selectall">
                <div class="media-list-body bg-white b-1 card-shadowed" id="users-posts-list">
                    {% for post in posts %}
                        <div class="media align-items-center">
                            <img class="avatar avatar-lg" src="{{ post.profile_img }}" alt="...">
                            <a class="media-body text-truncate" href="{{ post.redirect_url }}">
                                <h5 class="fs-15 mb-1">{{ post.post_content|truncatechars:85 }}</h5>
                                <small class="opacity-65 fw-400 mr-3">
                                    <strong>{% trans "Team Request : " %}</strong> {{ post.teamrequest_count }}
                                </small>
                                <small class="opacity-65 fw-400">
                                    <strong>{% trans "Smilar Project : " %}</strong> {{ post.smilarproject_count }}
                                </small>
                            </a>
                            <div class="fs-20 text-fade">{{ forloop.revcounter }}</div>
                        </div>
                    {% endfor %}
                </div>

            </div>
            {% else %}
            <p class="text-center result-message">{% trans "You didn't share any idea yet." %}</p>
        {% endif %}
    </div>
</div>
