{% load i18n %}

{% if "success" in message_type %}


    {% if similar_projects|length > 0 %}
        <div class="card card-body card-shadowed ">
            <ol class="timeline timeline-activity timeline-sm timeline-content-right w-100 py-20 pr-20"
                id="smilar-projects">
                {% for similar_project in similar_projects %}
                    <li class="timeline-block">
                        <div class="timeline-point">
                            <a href="#qv-user-details" data-toggle="quickview" class="avatar profile-popup"
                               data-id="{{ similar_project.profile_id }}">
                                <img src="{{ similar_project.profile_img }}" alt="{{ similar_project.profile_name }}">
                            </a>
                        </div>
                        <div class="timeline-content">
                            <time>{{ similar_project.created_date }}</time>
                            <p>{{ similar_project.similar_content_link|safe }}</p>
                            <p>{{ similar_project.similar_content }}</p>
                            <hr>
                        </div>
                    </li>
                {% endfor %}


            </ol>
        </div>
    {% else %}
        <p class="text-center">{% trans "You have not received any similar project yet." %}</p>
    {% endif %}


{% endif %}
