{% load i18n %}

<header class="header card-shadowed mb-25">
    <div class="header-info mt-30 mb-0">
        <h2 class="header-title">{% trans 'Introduction' %}</h2>
    </div>
    <div class="header-info m-0">
        <p>
            <small>{% trans "TheAdmin makes front-end web development faster and easier. It's made for folks of all skill levels, devices of all shapes, and projects of all sizes." %}</small>
        </p>
    </div>
</header>