{% load i18n %}

<div class="row gap-y">
    <div class="col-md-12 col-12 text-center">
        <h5 class="card-title b-0">{{ message }}</h5>
    </div>
{#    <div class="col-lg-6">#}
{#        <a class="media bg-white align-items-center hover-shadow-2 transition-5s" href="#">#}
{#            <div class="media-left">#}
{#                <i class="fa fa-file-text-o fs-35 text-secondary"></i>#}
{#            </div>#}
{#            <div class="media-body">#}
{#                <p class="lead fw-400">Introduction</p>#}
{#                <p>#}
{#                    <small>Article</small>#}
{#                </p>#}
{#            </div>#}
{##}
{#            <div class="media-right"><i class="ti-angle-right text-primary"></i></div>#}
{#        </a>#}
{#    </div>#}
{#    <div class="col-lg-6">#}
{#        <a class="media bg-white align-items-center hover-shadow-2 transition-5s" href="#">#}
{#            <div class="media-left">#}
{#                <i class="fa fa-file-text-o fs-35 text-secondary"></i>#}
{#            </div>#}
{##}
{#            <div class="media-body">#}
{#                <p class="lead fw-400">Directory structure</p>#}
{#                <p>#}
{#                    <small>Article</small>#}
{#                </p>#}
{#            </div>#}
{##}
{#            <div class="media-right"><i class="ti-angle-right text-primary"></i></div>#}
{#        </a>#}
{#    </div>#}
{#    <div class="col-lg-6">#}
{#        <a class="media bg-white align-items-center hover-shadow-2 transition-5s" href="#">#}
{#            <div class="media-left">#}
{#                <i class="fa fa-file-text-o fs-35 text-secondary"></i>#}
{#            </div>#}
{##}
{#            <div class="media-body">#}
{#                <p class="lead fw-400">HTML Structure</p>#}
{#                <p>#}
{#                    <small>Article</small>#}
{#                </p>#}
{#            </div>#}
{##}
{#            <div class="media-right"><i class="ti-angle-right text-primary"></i></div>#}
{#        </a>#}
{#    </div>#}
{#    <div class="col-lg-6">#}
{#        <a class="media bg-white align-items-center hover-shadow-2 transition-5s" href="#">#}
{#            <div class="media-left">#}
{#                <i class="fa fa-file-text-o fs-35 text-secondary"></i>#}
{#            </div>#}
{##}
{#            <div class="media-body">#}
{#                <p class="lead fw-400">Quick start</p>#}
{#                <p>#}
{#                    <small>Article</small>#}
{#                </p>#}
{#            </div>#}
{##}
{#            <div class="media-right"><i class="ti-angle-right text-primary"></i></div>#}
{#        </a>#}
{#    </div>#}
{#    <div class="col-lg-6">#}
{#        <a class="media bg-white align-items-center hover-shadow-2 transition-5s" href="#">#}
{#            <div class="media-left">#}
{#                <i class="fa fa-file-text-o fs-35 text-secondary"></i>#}
{#            </div>#}
{##}
{#            <div class="media-body">#}
{#                <p class="lead fw-400">Build tools</p>#}
{#                <p>#}
{#                    <small>Article</small>#}
{#                </p>#}
{#            </div>#}
{##}
{#            <div class="media-right"><i class="ti-angle-right text-primary"></i></div>#}
{#        </a>#}
{#    </div>#}
{#    <div class="col-lg-6">#}
{#        <a class="media bg-white align-items-center hover-shadow-2 transition-5s" href="#">#}
{#            <div class="media-left">#}
{#                <i class="fa fa-file-text-o fs-35 text-secondary"></i>#}
{#            </div>#}
{##}
{#            <div class="media-body">#}
{#                <p class="lead fw-400">Dependency injectoin</p>#}
{#                <p>#}
{#                    <small>Article</small>#}
{#                </p>#}
{#            </div>#}
{##}
{#            <div class="media-right"><i class="ti-angle-right text-primary"></i></div>#}
{#        </a>#}
{#    </div>#}
</div>