{% extends 'socialside/base.html' %}

{% load i18n %}

{% block body %}
    {% include 'socialside/faq/detail_header.html' %}
    <div class="main-content">
        <div class="card p-3 p-md-5 article">
          <div class="container-article">

            <p class="lead text-center">TheAdmin is a responsive, professional, and multipurpose admin template powered with Bootstrap 4. TheAdmin is a powerful and super flexible tool, which suits best for any kind of web applications such as: app admin, eCommerce websites, CMS backends, CRM, SAAS, web applications, support &amp; social portals, personal business, corporate websites, etc. TheAdmin is definitely a great kick starter for your web project.</p>

            <hr class="w-50px">
            <br>
            <h4>Overview</h4>
            <p>TheAdmin design is harmonious, clean and user friendly. Even though the template has a lot of content, it doesn’t looks messy and all files and code are well structured, commented and divided. TheAdmin has a huge collection of plugins and UI components and works seamlessly on all major web browsers, tablets and phones.</p>
            <p>TheAdmin is fully based on SASS pre-processor css language, includes 140+ commented SCSS files. Each file corresponds to a single component, layout, page, plugin or extension – so you can easily find necessary piece of code and edit it for your needs. The package includes both normal and minified CSS files, compiled from SCSS.</p>
          </div>
        </div>
    </div>

{% endblock %}