{% load i18n %}

<header class="header card-shadowed mb-25">
    <div class="header-info mt-30 mb-0">
        <h2 class="header-title">{% trans 'Frequently Asked <strong>Questions</strong>' %}</h2>
    </div>
    <div class="header-info m-0">
        <p>
            <small>{% trans 'Frequently asked questions regards the product.' %}</small>
        </p>
    </div>
</header>