{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Leapcrowd {% trans "Change Password" %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no,user-scalable=no"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <link href="{% static 'socialside/css/main.css' %}" rel="stylesheet"/>
    <link rel="apple-touch-icon" href="{% static 'frontside/old_templates/images/apple-touch-icon.png' %}"/>
    <link rel="icon" href=" {% static 'frontside/old_templates/images/favicon.png' %}"/>
</head>
<body>
<div class="preloader">
    <div class="spinner-dots">
        <span class="dot1"></span>
        <span class="dot2"></span>
        <span class="dot3"></span>
    </div>
</div>
<div class="row no-gutters min-h-fullscreen bg-white">
    <div class="col-md-6 col-lg-7 col-xl-8 d-none d-md-block bg-img"
         style="background-image: url({% static 'socialside/img/gallery/leadership.jpg' %})" data-overlay="6">

        <div class="row h-100 pl-50">
            <div class="col-md-10 col-lg-8 align-self-end">
                <img src="{% static 'socialside/img/leapcrowd_logo.png' %}" alt="...">
                <br><br>
                <!-- Benim kahramanlarım, hayallerini hiçbir şeye satmayan kişilerdir. -->
                <h4 class="text-white">{% trans 'My heroes are those who do not sell their dreams to anything.' %}</h4>
                <p class="text-white">Mustafa Kemal ATATÜRK</p>
                <br><br>
            </div>
        </div>

    </div>


    <div class="col-md-6 col-lg-5 col-xl-4 align-self-center">
        <div class="px-80 py-30 text-center">
            <div>
                <img class="avatar avatar-xxl" src="{{ profile_img }}" alt="{{ user_firstname }}">
                <br><br>
                <h5 class="lead">{{ user_firstname }}</h5>
                <small>{% trans 'Enter your new password to change' %}</small><br>
                <small class="text-danger">{% trans 'You must enter minimum 8 characters' %}</small>
            </div>

            <hr class="w-30px">

            <form class="form-type-material" id="change-pass-form">
                {% csrf_token %}
                <div class="form-group">
                    <input type="password" class="form-control" id="password" minlength="8" required>
                    <label for="password">{% trans 'Password' %}</label>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="repassword" minlength="8" required>
                    <label for="repassword">{% trans 'Password Confirm' %}</label>
                </div>
                <br>
                <button class="btn btn-bold btn-block btn-primary" id="change-pass-btn" type="button">{% trans 'UPDATE AND GO TO DASHBOARD' %}</button>
            </form>

            <p class="text-center text-muted fs-13 mt-20">{% trans "You're not" %} <b>{{ user_firstname }}</b>? <a class="text-primary fw-500"
                                                                                       href="/register/">{% trans 'Sign in' %}</a></p>
        </div>
    </div>
</div>
<script src="{% static 'socialside/js/core.min.js' %}"></script>
<script src="{% static 'socialside/js/app.min.js' %}"></script>
<script src="{% static 'socialside/js/script.min.js' %}"></script>
<script src="{% static 'socialside/js/plugin_functions.js' %}"></script>
<script src="{% static 'socialside/js/orionapp.js' %}"></script>
</body>
</html>