{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<footer class="text-center">
    <div class="container">

        <div class="social">
            <a href="https://www.facebook.com/leapcrowd/"><i class="fab fa-facebook-f"></i></a>
            <a href="https://twitter.com/leapcrowd"><i class="fab fa-twitter"></i></a>
            <a href="https://www.linkedin.com/company/leapcrowd/"><i class="fab fa-linkedin-in"></i></a>
            <a href="https://www.instagram.com/leapcrowd/"><i class="fab fa-instagram"></i></a>
        </div>
        {% if "tr" in LANGUAGE_CODE %}
            <p>Copyright © leapcrowd 2018. <br>Tüm Hakları Saklıdır.</p>
        {% else %}
            <p>Copyright © leapcrowd 2018. <br>All Rights Reserved.</p>
        {% endif %}


    </div>
</footer>