{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<div class="modal fade" id="policyModal" tabindex="-1" role="dialog" aria-labelledby="policyModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="policyModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                {% if "tr" in LANGUAGE_CODE %}
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                {% else %}
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                {% endif %}

            </div>
        </div>
    </div>
</div>