{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<nav class="navbar nav-dark navbar-expand-lg">
    <div class="container">
        <!-- Logo -->
        <a class="logo" href="javascript:void(0);">
            {#            <img src="{% static "frontside/img/logo-dark3.png" %}" alt="logo">#}
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"><i class="fas fa-bars"></i></span>
        </button>

        <!-- navbar links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                {% if "tr" in LANGUAGE_CODE %}
                    <li class="nav-item">
                        <a class="nav-link active" href="#" data-scroll-nav="0">Anasayfa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-scroll-nav="1">Nedir?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-scroll-nav="2">Topluluk</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-scroll-nav="3">Ücret</a>
                    </li>
{#                    <li class="nav-item">#}
{#                        <a class="nav-link" href="#" data-scroll-nav="4">Team</a>#}
{#                    </li>#}
{#                    <li class="nav-item">#}
{#                        <a class="nav-link" href="#" data-scroll-nav="5">Blog</a>#}
{#                    </li>#}
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-scroll-nav="6">İletişim</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link active" href="#" data-scroll-nav="0">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-scroll-nav="1">What's About?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-scroll-nav="2">Crowd</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-scroll-nav="3">Pricing</a>
                    </li>
{#                    <li class="nav-item">#}
{#                        <a class="nav-link" href="#" data-scroll-nav="4">Team</a>#}
{#                    </li>#}
{#                    <li class="nav-item">#}
{#                        <a class="nav-link" href="#" data-scroll-nav="5">Blog</a>#}
{#                    </li>#}
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-scroll-nav="6">Contact</a>
                    </li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>