{% load i18n %}

{% if project_list|length > 0 %}
    {% for prj in project_list %}
        {% if prj.isOnline %}
            <div class="col-md-12 col-12">
                <div class="card b-1 hover-shadow-2 mb-20">
                    <a class="media card-body" href="javascript:void(0);">
                        <div class="media-left pr-12">
                            <img class="avatar avatar-xl no-radius" src="{{ prj.project_logo }}" alt="...">
                        </div>
                        <div class="media-body">
                            <div class="mb-2">
                                <span class="fs-20 pr-16">{{ prj.title }}</span>
                            </div>
                            {% for prj_option in prj.project_options %}
                                {% if prj_option.situation == True %}
                                    {% if "give-feedback" in prj_option.project_options.title_code or "send-teamrequest" in prj_option.project_options.title_code %}
                                        {% if "tr" in request.LANGUAGE_CODE %}
                                            <span class="badge badge-info text-uppercase no-radius ls-1 opacity-75">
                                {{ prj_option.project_options.name }}
                                </span>
                                        {% else %}
                                            <span class="badge badge-info text-uppercase no-radius ls-1 opacity-75">
                                {{ prj_option.project_options.name_eng }}
                                </span>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="media-right text-right d-none d-md-block">
                            <p class="text-fade">
                                <small><i class="fa fa-map-marker pr-1"></i> {{ prj.project_locations }}</small>
                            </p>
                            <span class="badge badge-success">{% trans "Online" %}</span>
                        </div>
                    </a>

                    <footer class="card-footer flexbox align-items-center">
                        <div>
                            <strong>{% trans "Business Stage" %}:</strong>
                            <span>{{ prj.steps }}</span>
                        </div>
                        <div class="card-hover-show">
                            <a class="btn btn-xs fs-10 btn-bold btn-dark"
                               href="/dashboard/projects/detail/{{ prj.id }}/">{% trans "Detail" %}</a>
                        </div>
                    </footer>
                </div>
            </div>

        {% else %}
            {% if forloop.counter == 1 %}
                {% if request.LANGUAGE_CODE == "tr" %}
                    <div class="col-md-12 col-12">
                        <p class="text-center">Bu kullanıcı {{ project_list|length }} projenin ortağıdır. Proje, proje
                            sahibi tarafından aktif edildiğinde burada gözükecektir.</p>
                    </div>
                {% else %}
                    <div class="col-md-12 col-12">
                        {% if project_list|length > 1 %}
                            <p class="text-center">This user is partner to {{ project_list|length }} projects. The
                                project will be seen here when activated by the project owner.</p>
                        {% else %}
                            <p class="text-center">This user is partner to {{ project_list|length }} project. The
                                project will be seen here when activated by the project owner.</p>
                        {% endif %}

                    </div>
                {% endif %}
            {% endif %}
        {% endif %}
    {% endfor %}


{% else %}
    <div class="col-md-12 col-12">
        <div class="card b-1 hover-shadow-2 mb-20">
            <h4 class="text-center py-5">{% trans "There is not project yet." %}</h4>
        </div>
    </div>
{% endif %}