{% load i18n %}

<div class="card card-shadowed">
    <div class="card-body row">
        <div class="col-md-6 ">
            <h5 class="fs-13"><strong>{% trans "Profile Summary" %}</strong></h5>
            <p>{{ summary }}</p>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <h5 class="fs-13"><strong>{% trans "Profile Completion Level" %}</strong></h5>
                    <div class="progress" id="profile-level">
                        <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                             aria-valuemax="100" style="width: 50%;height:16px;"><strong class="level-text"></strong></div>
                    </div>
                </div>
            </div>
            {% if startup_history|length > 0 %}
                <div class="row mt-15">
                    <div class="col-md-12">
                        <h5 class="fs-13"><strong>{% trans "Startup History" %}</strong></h5>
                        <p>{{ startup_history }}</p>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

</div>