{% load i18n %}
{% load static %}

<div class="card card-shadowed" id="invest-type">
    <h5 class="card-title"><strong>{% trans "Project Support Informations" %}</strong></h5>

    <div class="card-body">
        <ul class="flexbox flex-justified text-center">
        </ul>
    </div>
</div>