{% load i18n %}


<div class="card card-inverse bg-img" id="bg-img" style="background-image: url('{{ cover_photo }}');"
     data-overlay="2">
    <div class="flexbox px-20 pt-20">
        <label class="toggler text-white"></label>
        <div class="dropdown">

            <a data-toggle="dropdown" href="javascript:void(0);"><i class="ti-more-alt rotate-90 text-white"></i></a>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="#"><i class="fa fa-times-circle-o"></i> {% trans "Complain" %}</a>
                <a class="dropdown-item" href="#"><i class="fa fa-ban"></i> {% trans "Block" %}</a>
            </div>
        </div>
    </div>
    <div class="card-body text-center pb-50">
        <a href="#!">
            <img class="avatar avatar-xxl avatar-bordered" src="{{ profile_image }}">
        </a>
        <h4 class="mt-2 mb-0 text-capitalize"><a class="hover-primary text-white" href="#">{{ profile_name }}</a></h4>
        <h5 class="mt-2 mb-1 text-capitalize">{{ industry }}</h5>
        <span>{{ profile_location }}</span>
    </div>
    <div class="card-body text-left flexbox flex-justified" data-overlay="4">
        <p class="fs-14">
            <i class="fa fa-star pr-10"></i> {{ headline }}
        </p>
    </div>
    <div class="header-action bg-white px-0">
        <nav class="nav">
            {% if "general" == section %}
                <a class="nav-link active" href="{{ header_generals }}">{% trans "General" %}</a>
                <a class="nav-link" href="{{ header_projects }}">{% trans "Projects" %}</a>
                <a class="nav-link" href="{{ header_cofunded }}">{% trans "Co-Funded Projects" %}</a>
            {% elif "project" == section %}
                <a class="nav-link" href="{{ header_generals }}">{% trans "General" %}</a>
                <a class="nav-link active" href="{{ header_projects }}">{% trans "Projects" %}</a>
                <a class="nav-link" href="{{ header_cofunded }}">{% trans "Co-Funded Projects" %}</a>
            {% elif "cofunded" == section %}
                <a class="nav-link" href="{{ header_generals }}">{% trans "General" %}</a>
                <a class="nav-link" href="{{ header_projects }}">{% trans "Projects" %}</a>
                <a class="nav-link active" href="{{ header_cofunded }}">{% trans "Co-Funded Projects" %}</a>
            {% endif %}
        </nav>
    </div>
</div>
