{% load i18n %}

<div class="card card-shadowed" id="profile-skills">
    <h5 class="card-title"><strong>{% trans "Skills" %}</strong></h5>
    <div class="card-body">
        <div class="bootstrap-tagsinput no-border px-0">

        </div>
    </div>
</div>