{% load i18n %}
<div class="tab-pane fade" id="project-info2">
    <div class="media-list media-list-divided">
        <div class="media">
            <span class="title col-md-3 col-lg-3 p-0 col-sm-3 col-4">{% trans "Target Group" %}</span>
            <span class="col-md-9 col-lg-9 p-0 col-sm-9 col-8">{{ target_group|safe }}</span>
        </div>
        <div class="media">
            <span class="title p-0 col-md-3 col-lg-3 col-sm-3 col-4">{% trans "Revenue Model" %}</span>
            <span class="col-md-9 col-lg-9 p-0 col-sm-9 col-8">
                {{ revenue_model|safe }}
            </span>
        </div>
    </div>

</div>