{% load i18n %}

<div class="tab-pane fade" id="project-info4">
    <div class="media-list-divided media-list">
        <div class="media">
            <span class="col-md-12 col-lg-12 p-0 col-12">
                {{ competitors|safe }}
            </span>
        </div>

    </div>
</div>