{% load i18n %}

<div class="tab-pane fade active show" id="project-info1">
    <!-- Genel bilgiler -->
    <div class="media-list media-list-divided">

        <div class="media">
            <span class="title p-0 col-md-3 col-lg-3 col-sm-3 col-4">{% trans "Project Area/Sector" %}</span>
            <span class="col-md-9 col-lg-9 p-0 col-sm-9 col-8">
                {% for sector in project_sectors %}
                    {{ sector.title }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </span>
        </div>

        <div class="media">
            <span class="title p-0 col-md-3 col-lg-3 col-sm-3 col-4">{% trans "Usage Type" %}</span>
            <span class="p-0 col-md-9 col-lg-9 col-sm-9 col-8">
            {% for usage_type in usage_types %}
                {{ usage_type.title }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
            </span>
        </div>

        <div class="media">
            <span class="title p-0 col-md-3 col-lg-3 col-sm-3 col-4">{% trans "Project Summary" %}</span>
            <span class="p-0 col-md-9 col-lg-9 col-sm-9 col-8">{{ project_summary }}</span>
        </div>

        <div class="media">
            <span class="title col-md-3 col-lg-3 p-0 col-sm-3 col-4">{% trans "Project Website" %}</span>
            <span class="col-md-9 col-lg-9 p-0 col-sm-9 col-8">{{ website }}</span>
        </div>

    </div>

    <!-- Genel bilgiler -->
</div>