{% load i18n %}

<div class="tab-pane fade" id="project-info3">
    <div class="media-list-divided media-list">
        <div class="media">
            <span class="col-md-12 col-lg-12 p-0 col-12">
                <h5 class="fs-14">{% trans "What will project owner provide for the project?" %}</h5>
                {{ existing_requirements|safe }}
            </span>
        </div>
        <div class="media">
            <span class="col-md-12 col-lg-12 p-0 col-12">
                <h5 class="fs-14">{% trans "What will project owner need for the project?" %}</h5>
                {{ needed_requirements|safe }}
            </span>
        </div>
    </div>
</div>