.fab-buttons {
    height: 25px;
}

.IN-widget {
    display: none !important;
}

.loading-page {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    background: #fff;
    text-align: center;
    z-index: 9999;
    background-image: url('/static/frontside/img/loading.gif');
    background-repeat: no-repeat;
    background-position: center 120px;
    padding-top: 25%;
    font-size: 16px;
}

.loading-page p {

}

.no-border {
    border: none !important;
}

.bootstrap-tagsinput {
    height: auto;
    min-height: auto;
}

#skill-list {
    height: 345px;
}

.positions-result {
    position: absolute;
    z-index: 9999 !important;
    background: #fff;
    width: 100%;
    height: 200px;
    /*display: none;*/
    top: -15px;
}

.positions-result-container {
    position: relative;
}

.image-messages, .add-positions-result, .lefted-character, .positions-result-container, #skill-container, #project-hours-container, #profile-skills, #invest-type, #experiences-header, #profile-experiences-header, .spinner-circle, #new-message-btn {
    display: none;
}

.position-item, .ptitle-item {
    text-transform: capitalize;
}

#saved-experience-list .media-list {
    height: 250px;
    display: none;
}

#saved-experience-list .card-title, .hour-costs {
    display: none;
}

.toast .text {
    margin-right: 15px;
}

#search-sticker,#search-sticker-answer {
    height: 38px;
    /*position: fixed;*/
    /*width: 282px;*/
}

.sticker-inbox {
    width: 280px;
    position: fixed;
}

.sticker-btn-position {
    position: absolute;
    bottom: 0;
    left: 15px;
}
.sticker-msg-position{
    position: relative;
}
.sticker-inbox-msg{
    position: absolute !important;
}

/*General Informations : Profile - Position Title*/
#position-title-list {
    height: 180px;
    display: none;
}

#position-title-list > .positions-result {
    height: 285px;
}

/*General Informations : Profile - Position Title*/

/*Ideas aside Menu*/
.ideas-nav {
    position: fixed;
    width: 235px;
    z-index: 991;
}

/*Ideas aside Menu*/

.hide-dsktp-right {
    display: block;
}

.show-on-mobile {
    display: none;
}