@import url("core.min.css");
@import url("app.min.css");
@import url("style.min.css");
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400,500&subset=latin-ext');
@import url('common.css');

@import url("phone-and-potrait-tablet1024.css") only screen and (max-width:1024px), only screen and (max-device-width:1024px);

@import url("phone-and-potrait-tablet812.css") only screen and (max-width:812px), only screen and (max-device-width:812px);

@import url("phone-and-potrait-tablet768.css") only screen and (max-width:768px), only screen and (max-device-width:768px);

@import url("phone-and-potrait-tablet736.css") only screen and (max-width:736px), only screen and (max-device-width:736px);

@import url("phone-and-potrait-tablet732.css") only screen and (max-width:732px), only screen and (max-device-width:732px);

@import url("phone-and-potrait-tablet684.css") only screen and (max-width:684px), only screen and (max-device-width:684px);

@import url("phone-and-potrait-tablet667.css") only screen and (max-width:667px), only screen and (max-device-width:667px);

@import url("phone-and-potrait-tablet640.css") only screen and (max-width:640px), only screen and (max-device-width:640px);

@import url("phone-and-potrait-tablet568.css") only screen and (max-width:568px), only screen and (max-device-width:568px);

@import url("phone-and-potrait-tablet480.css") only screen and (max-width:480px), only screen and (max-device-width:480px);

@import url("phone-and-potrait-tablet414.css") only screen and (max-width:414px), only screen and (max-device-width:414px);

@import url("phone-and-potrait-tablet384.css") only screen and (max-width:384px), only screen and (max-device-width:384px);

@import url("phone-and-potrait-tablet375.css") only screen and (max-width:375px), only screen and (max-device-width:375px);

@import url("phone-and-potrait-tablet320.css") only screen and (max-width:320px), only screen and (max-device-width:320px);