/*ideas detail page - not popup*/

.ideas-nav-detail .fab-dir-bottom{
    top:110px;
}
/*ideas detail page - not popup*/

.hide-dsktp-right{
    display: block;
}
.show-on-mobile{
    display: none;
}
#my-team .level-info,.dm-requests-table .level-info{
    display: none;
}