#project-steps{
    display: block !important;
}
#project-steps .nav-link::before{
    background: none !important;
}

#project-steps .nav-item.complete .nav-link::before, #project-steps .nav-item.processing .nav-link::before{
    background: none !important;
}
#my-team .level-info,.dm-requests-table .level-info{
    display: none;
}