/*ideas detail page - not popup*/

.ideas-nav-detail .fab-dir-bottom{
    top:110px;
    right:30px;
}
/*ideas detail page - not popup*/

#my-team .hour-cost-info,.dm-requests-table .hour-cost-info{
    display: none;
}