/*ideas detail page - not popup*/

.ideas-nav-detail .fab-dir-bottom{
    top:110px;
    right:20px;
}
/*ideas detail page - not popup*/

#myideas-nav .nav-tabs,#project-requests-nav .nav-tabs{
    overflow-x: scroll;
}

#my-team .hour-cost-info, #my-team .prj-hours-info, .dm-requests-table .hour-cost-info, .dm-requests-table .prj-hours-info{
    display: none;
}