{% load static %}
{% load i18n %}

<div class="row">
    <div class="col-md-12 col-12">
        <div class="card card-body card-shadowed">
            <ol class="timeline timeline-activity timeline-sm timeline-content-right w-100 py-20 pr-20">
                <li class="timeline-block">
                    <div class="timeline-point">
                        <a href="#qv-user-details" data-toggle="quickview" class="avatar">
                            <img src="{% static 'socialside/img/avatar/4.jpg' %}" alt="...">
                        </a>
                    </div>
                    <div class="timeline-content">
                        <time datetime="2018">Biraz önce</time>
                        <p><a href="#">http://linkedin.com</a></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <hr>
                    </div>
                </li>
                <li class="timeline-block">
                    <div class="timeline-point">
                        <a href="#qv-user-details" data-toggle="quickview" class="avatar">
                            <img src="{% static 'socialside/img/avatar/2.jpg' %}" alt="...">
                        </a>
                    </div>
                    <div class="timeline-content">
                        <time datetime="2018">1 saat önce</time>
                        <p><a href="#">http://hepsiburada.com</a></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <hr>
                    </div>
                </li>
                <li class="timeline-block">
                    <div class="timeline-point">
                        <a href="#qv-user-details" data-toggle="quickview" class="avatar">
                            <img src="{% static 'socialside/img/avatar/3.jpg' %}" alt="...">
                        </a>
                    </div>
                    <div class="timeline-content">
                        <time datetime="2018">2 gün önce</time>
                        <p><a href="#">http://twitter.com</a></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <hr>
                    </div>
                </li>
                <li class="timeline-block">
                    <div class="timeline-point">
                        <span class="avatar bg-danger"><i class="fa fa-gear"></i></span>
                    </div>
                    <div class="timeline-content">
                        <time datetime="2017">3 gün önce</time>
                        <p>Projenizde yer alacağınız takım arkadaşlarınız gruba eklendi.</p>

                        <div class="avatar-list">
                            <img class="avatar" src="{% static 'socialside/img/avatar/1.jpg' %}">
                            <img class="avatar" src="{% static 'socialside/img/avatar/2.jpg' %}">
                            <img class="avatar" src="{% static 'socialside/img/avatar/3.jpg' %}">
                            <a class="avatar avatar-more" href="#" data-provide="more-avatar"
                               data-url="../assets/data/avatars.html">
                                <img src="{% static 'socialside/img/avatar/4.jpg' %}">
                                <span>+3</span>
                            </a>
                        </div>
                    </div>
                </li>
            </ol>
        </div>
    </div>
</div>