{% load static %}
{% load i18n %}

<div class="row">
    <div class="col-md-12 col-12">
        <!-- <div class="card card-body card-shadowed"> -->
        <div class="publisher publisher-multi bg-white b-1 mb-30 card-shadowed">
            <div class="flexbox">
                <img class="flex-top avatar" src="{% static 'socialside/img/avatar/1.jpg' %}" alt="...">
                <textarea class="publisher-input auto-expand" rows="3"
                          placeholder="Aklındakini takım arkadaşlarınla paylaş."></textarea>
            </div>
            <div class="flexbox">
                <div class="gap-items">
                  <span class="publisher-btn file-group">
                    <i class="fa fa-paperclip file-browser"></i>
                    <input type="file">
                  </span>
                </div>
                <button class="btn btn-sm btn-bold btn-primary">PAYLAŞ</button>
            </div>
        </div>
        <!-- </div> -->
    </div>
</div>