{% load static %}
{% load i18n %}

<div class="row">
    <div class="col-md-5 col-5">
        <figure class="teaser teaser-milo">
            <img src="{% static 'socialside/img/gallery/thumb/8.jpg' %}" alt="Milo image hover effect">
            <figcaption>
                <h3>DARKSIDE <span>TAKIMI</span></h3>
                <p>Milo went to the woods. He took a fun ride and never came back.</p>
                <a href="teampage/index.html">Sayfaya Git</a>
            </figcaption>
        </figure>
    </div>
</div>