{% load i18n %}

<header class="header card-shadowed mb-25">
    <div class="header-info mt-30 mb-0">
        <h2 class="header-title"><strong>{% trans "My Projects" %}</strong></h2>
    </div>
    <div class="header-info m-0">
        <p>
            <small>{% trans "You can see your own projects, project feedbacks, review or evaluate incoming team requests." %}</small>
        </p>
    </div>

    <div class="header-action" id="my-teams-nav">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#my-team" role="tab">{% trans "MY TEAM" %}</a>
            </li>
            {% if is_owner %}
                <li class="nav-item">
                    <a class="nav-link" href="#my-requests" data-toggle="tab"
                       role="tab">{% trans "PRIVATE TEAM REQUESTS" %}</a>
                </li>
            {% endif %}
        </ul>
    </div>
</header>