{% extends 'socialside/base.html' %}
{% load i18n %}
{% block title %} {{ page_title }} {% endblock %}
{% block body %}
    {% include "socialside/myteams/detail_header.html" %}
    <div class="main-content">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="tab-content">
                    {% include "socialside/myteams/tab/my_team.html" %}
                    {% include "socialside/myteams/tab/my_requests.html" %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}