{% load i18n %}
<header class="header card-shadowed mb-25">
      <div class="header-info mt-30 mb-0">
        <h2 class="header-title">Proje <strong>Ekiplerim</strong></h2>
      </div>
      <div class="header-info m-0">
        <p>
          <small>Bu bölümde sistem üzerindeki projelerde yer alan takım arkadaşlarınızı görebilir ve ortak güncel olayları takip edebilirsiniz.</small>
        </p>
      </div>

      <div class="header-action">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#tab-teamprojects" role="tab">PROJE TAKIMLARIM</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#tab-teams" data-toggle="tab" role="tab">ÖZEL TAKIM SAYFALARIM<small>(2)</small></a>
            </li>
          </ul>
      </div>
    </header>