<div class="row">
    <div class="col-md-12 col-12">
        <div class="tab-content">
            <div class="tab-pane fade show active" id="tab-teamprojects" role="tabpanel">
                {% include 'socialside/myteams/projectteams.html' %}
            </div>
            <div class="tab-pane fade" id="tab-teams" role="tabpanel">
                {% include 'socialside/myteams/customteampages.html' %}
            </div>
        </div>
    </div>
</div>