{% extends 'socialside/base.html' %}
{% load i18n %}
{% block title %} {{ page_title }} {% endblock %}
{% block body %}
    {% include 'socialside/myteams/new_header.html' %}
    <div class="main-content">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="tab-content">
                    <div class="tab-pane fade show active" role="tabpanel" id="tab-founded">
                        {% include 'socialside/myteams/tab/founded_projects.html' %}
                    </div>
                    <div class="tab-pane fade " role="tabpanel" id="tab-cofounded">
                        {% include 'socialside/myteams/tab/co_founded_projects.html' %}
                    </div>
                    {% if has_next %}
                        <div class="row" id="loadmore-myteams">
                            <div class="col-md-12 col-12 text-center py-10">
                                <button type="button" class="btn btn-w-md btn-round btn-primary my-30"
                                        data-page="{{ page }}">{% trans "Load More" %}</button>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>


    </div>
{% endblock %}