{% load i18n %}
<header class="header card-shadowed mb-25">
    <div class="header-info mt-30 mb-0">
        <h2 class="header-title">{% trans "Project <strong>Teams</strong>" %}</h2>
    </div>
    <div class="header-info m-0">
        <p>
            <small>{% trans "In this section, you can see your team members and edit your team requests." %}</small>
            {#          <small>Bu bölümde sistem üzerindeki projelerde yer alan takım arkadaşlarınızı görebilir ve ortak güncel olayları takip edebilirsiniz.</small>#}
        </p>
    </div>
    <div class="header-action" id="myteams-nav">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#tab-founded" role="tab">{% trans "MY PROJECTS" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#tab-cofounded" data-toggle="tab" role="tab">{% trans "CO-FUNDED PROJECTS" %}
                    <small>({{ cofunded_count }})</small>
                </a>
            </li>
        </ul>
    </div>
</header>