{% load i18n %}

{% for prj in my_projects %}
    <div class="card b-1 hover-shadow-2 mb-20">
        <a class="media card-body" href="javascript:void(0);">
            <div class="media-left pr-12">
                <img class="avatar avatar-xl no-radius" src="{{ prj.project_image }}" alt="{{ prj.project_title }}">
            </div>
            <div class="media-body">
                <div class="mb-2">
                    <span class="fs-20 pr-16 text-capitalize">{{ prj.project_title }}</span>
                </div>
                <p class="my-1 pr-4">{{ prj.project_describe|truncatechars:140 }}</p>
            </div>
            <div class="media-right text-right d-none d-md-block">
                <p class="text-fade">
                    <small><i class="fa fa-map-marker pr-1"></i> {{ prj.project_location }}</small>
                </p>
            </div>
        </a>

        <footer class="card-footer flexbox align-items-center">
            {% if prj.project_members|length > 0 %}
                <div class="avatar-list">
                    {% for members in prj.project_members %}
                        <img class="avatar" src="{{ members.profile_image }}"/>
                    {% endfor %}
                </div>
            {% else %}
                <div>
                    <span>{% trans "You don't have any team member yet." %}</span>
                </div>
            {% endif %}

            <div class="card-hover-show">
                <a class="btn btn-xs fs-10 btn-bold btn-dark"
                   href="/dashboard/myteams/detail/{{ prj.project_id }}/">{% trans "Detail" %}</a>
            </div>
        </footer>
    </div>
{% endfor %}



