{% load static %}
{% load i18n %}
<aside class="aside aside-expand-lg">
      <div class="aside-body pt-0">
        <div class="media-list media-list-divided media-list-hover">
          <h4 class="page-title bb-1 text-center pt-15 pb-15 mb-0">Cepten Tamir <strong>Takımı</strong></h4>
          <div class="media-list-body">
            <a class="media align-items-center" href="#">
              <span class="avatar">
                <img src="../assets/img/avatar/1.jpg" alt="...">
              </span>
              <div class="media-body">
                <div class="flexbox align-items-center">
                  <strong class="title">Maryam Amiri</strong>
                  <time datetime="2017-07-14 20:00">12:11</time>
                </div>
                <small class="text-fader">Developer</small>
              </div>
            </a>
            <a class="media align-items-center" href="#">
              <span class="avatar">
                <img src="../assets/img/avatar/2.jpg" alt="...">
              </span>
              <div class="media-body">
                <div class="flexbox align-items-center">
                  <strong class="title">Patric Johnson</strong>
                  <time datetime="2017-07-14 20:00">09:34</time>
                </div>
                <small class="text-fader">Art Director</small>
              </div>
            </a>
            <a class="media align-items-center" href="#">
              <span class="avatar">
                <img src="../assets/img/avatar/3.jpg" alt="...">
              </span>
              <div class="media-body">
                <div class="flexbox align-items-center">
                  <strong class="title">Amanda Johnson</strong>
                  <time datetime="2017-07-14 20:00">09:34</time>
                </div>
                <small class="text-fader">Copywriter</small>
              </div>
            </a>
          </div>
        </div>
      </div>

      <button class="aside-toggler"></button>
    </aside>
