{% extends 'socialside/base.html' %}
{% load static %}
{% load i18n %}

{% block body %}
    <div class="main-content">
        <div class="row">
            <div class="col-md-12 col-12 col-lg-12">
                {% include 'socialside/myprofile/profile_cover.html' %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-12">
                <div class="card card-shadowed">
                    {% include 'socialside/myprofile/profile_experiences.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}