{% extends 'socialside/base.html' %}
{% load i18n %}
{% block title %} {{ page_title }} {% endblock %}
{% block body %}
    <div class="main-content">
        <div class="row">
            <div class="col-md-12 col-12 col-lg-12">
                {% include 'socialside/myprofile/profile_cover.html' %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-12 col-lg-12">
                {% include 'socialside/myprofile/profile_about.html' %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-12 col-lg-12">
                {% include 'socialside/myprofile/profile_skills.html' %}
            </div>
        </div>
        <div class="row" id="experiences-header">
            <div class="col-12">
                <div class="divider text-uppercase fw-500">{% trans "Experiences" %}</div>
            </div>
        </div>

        {% include 'socialside/myprofile/profile_experiences.html' %}

        <div class="row">
            <div class="col-12">
                <div class="divider text-uppercase fw-500">{% trans "Support Type" %}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-12 col-lg-12">
                {% include 'socialside/myprofile/profile_supporttype.html' %}
            </div>
        </div>

    </div>

{% endblock %}