{% load i18n %}

<div class="card card-inverse bg-img" id="bg-img" style="background-image: url('{{ cover_photo }}');"
     data-overlay="2">
    <div class="flexbox px-20 pt-20">
        <label class="toggler toggler-danger text-white"></label>
        <div class="dropdown">
            <a data-toggle="dropdown" href="#!"><i class="ti-more-alt rotate-90 text-white"></i></a>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="/dashboard/profiles/edit/{{ request.session.user_fullprofile }}/"><i
                        class="fa fa-user"></i> {% trans "Options" %}</a>
                <form method="post" enctype="multipart/form-data" id="upload-cover">
                    <a class="dropdown-item file-group file-browser" href="javascript:void(0);" id="cover-photo"><i
                            class="fa fa-picture-o"></i> <input type="file" name="coverfile"
                                                                id="upload-cover-file">{% trans "Cover photo" %}</a>
                </form>
{#                <div class="dropdown-divider"></div>#}
{#                <a class="dropdown-item" href="#"><i class="fa fa-times-circle-o"></i> {% trans "Complain" %}</a>#}
{#                <a class="dropdown-item" href="#"><i class="fa fa-ban"></i> {% trans "Block" %}</a>#}
            </div>
        </div>
    </div>
    <div class="card-body text-center pb-50">
        <a href="javascript:void(0);">
            <img class="avatar avatar-xxl avatar-bordered" src="{{ profile_image }}">
        </a>
        <h4 class="mt-2 mb-0"><a class="hover-primary text-white" href="javascript:void(0);">{{ profile_name }}</a></h4>
        <h5 class="mt-2 mb-1 text-capitalize">{{ industry }}</h5>
        <span>{{ profile_location }}</span>
    </div>
    <div class="card-body text-left flexbox flex-justified" data-overlay="4">
        <p class="fs-14">
            <i class="fa fa-star pr-10"></i> {{ headline }}
        </p>
    </div>
    <div class="header-action bg-white px-0">
        <nav class="nav">
            {% if "general" == section %}
                <a class="nav-link active"
                   href="/dashboard/myprofile/{{ request.session.user_fullprofile }}/">{% trans "General" %}</a>
                <a class="nav-link"
                   href="/dashboard/myprofile/projects/{{ request.session.user_fullprofile }}/">{% trans "Projects" %}</a>
            {% elif "projects" == section %}
                <a class="nav-link"
                   href="/dashboard/myprofile/{{ request.session.user_fullprofile }}/">{% trans "General" %}</a>
                <a class="nav-link active"
                   href="/dashboard/myprofile/projects/{{ request.session.user_fullprofile }}/">{% trans "Projects" %}</a>
            {% endif %}
        </nav>
    </div>
</div>