{% extends 'socialside/base.html' %}
{% load i18n %}
{% block title %} {{ page_title }} {% endblock %}
{% block body %}
    <div class="main-content">
        <div class="row">
            <div class="col-md-12 col-12 col-lg-12">
                {% include 'socialside/myprofile/profile_cover.html' %}
            </div>
        </div>
        <div class="row">
            {% include 'socialside/myprofile/project_list.html' %}
        </div>
    </div>
{% endblock %}