{% load i18n %}
{% load static %}

<div class="row">
    <div class="col-md-12 col-12">
        <div class="card card-shadowed">
            <h4 class="card-title"><strong>Proje Aşaması</strong></h4>
            <div class="card-body">
                <ul class="nav nav-process nav-process-iconic">
                    <li class="nav-item complete">
                        <span class="nav-title">Fikir</span>
                        <a class="nav-link" href="#"><i class="fa fa-flash"></i></a>
                    </li>
                    <li class="nav-item processing">
                        <span class="nav-title">İş Planı</span>
                        <a class="nav-link" href="#"><i class="fa fa-file-o"></i></a>
                    </li>
                    <li class="nav-item">
                        <span class="nav-title">Takım</span>
                        <a class="nav-link" href="#"><i class="fa fa-users"></i></a>
                    </li>
                    <li class="nav-item">
                        <span class="nav-title">MVP Ürün</span>
                        <a class="nav-link" href="#"><i class="fa fa-cubes"></i></a>
                    </li>
                    <li class="nav-item">
                        <span class="nav-title">Ödeyen Müşteriler</span>
                        <a class="nav-link" href="#"><i class="fa fa-child"></i></a>
                    </li>
                </ul>
            </div>
            <!-- team members -->
            <footer class="card-footer pt-15">
              <div class="avatar-list">
                <a href="#qv-user-details" class="avatar avatar-md" title="" data-toggle="quickview">
                  <img src="{% static 'socialside/img/avatar/1.jpg' %}">
                </a>
                <a href="#qv-user-details" class="avatar avatar-md" title="" data-toggle="quickview">
                  <img src="{% static 'socialside/img/avatar/2.jpg' %}">
                </a>
                <!-- bu kısımda more kısmına tıklandıktan sonra;
                     otomatik olarak; href="#qv-user-details" data-toggle="quickview"
                     eklenecek.
                -->
                <a class="avatar avatar-md avatar-more" href="javascript:void(0);" data-provide="more-avatar" >
                    <img src="{% static 'socialside/img/avatar/4.jpg' %}">
                    <span>+3</span>
                </a>
                <a href="#qv-user-details" class="avatar avatar-md" title="" data-toggle="quickview">
                  <img src="{% static 'socialside/img/avatar/3.jpg' %}">
                </a>
                <a href="#qv-user-details" class="avatar avatar-md" title="" data-toggle="quickview">
                  <img src="{% static 'socialside/img/avatar/4.jpg' %}">
                </a>
                <a href="javascript:void(0);" data-toggle="quickview" class="avatar avatar-md" title="">
                  <img src="{% static 'socialside/img/avatar/5.jpg' %}">
                </a>
              </div>
            </footer>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 col-4 offset-2">
        <a href="#" class="card card-shadowed card-body text-gray">
            <h6 class="text-uppercase text-gray">Cepten Tamir</h6>
            <div class="flexbox mt-2">
                <span class="fa fa-link text-primary fs-30"></span>
                <span class="fs-30">68</span>
            </div>
            <div class="text-right">
                Kişi Takip Ediyor
            </div>
        </a>
    </div>
    <div class="col-md-4 col-4">
        <a href="#" class="card card-shadowed card-body text-gray">
            <h6 class="text-uppercase text-gray">Dark Forces Takımı</h6>
            <div class="flexbox mt-2">
                <span class="fa fa-group text-purple fs-30"></span>
                <span class="fs-30">158</span>
            </div>
            <div class="text-right">
                Kişi Takip Ediyor
            </div>
        </a>
    </div>
</div>