{% load static %}
{% load i18n %}

<header class="header card-shadowed mb-25">
    <div class="header-info mt-30 mb-25">
        <div class="left">
            <h2 class="header-title"><strong>{{ project_title }}</strong></h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a
                        href="/dashboard/profiles/details/{{ profile_id }}">{{ url_username }}</a></li>
                <li class="breadcrumb-item"><a
                        href="/dashboard/profiles/projects/{{ profile_id }}">{% trans "projects" %}</a></li>
                <li class="breadcrumb-item active">{{ url_project_title }}</li>
            </ol>
            <small class="text-fade mb-12"><i class="fa fa-map-marker pr-1"></i> {{ profile_location }}</small>
        </div>
        <div class="right">
            <!-- project info -->
            {% if feedback|length > 0 %}
                <span class="badge badge-info text-uppercase no-radius ls-1 opacity-75">
               {{ feedback }}
            </span><br>
            {% endif %}
            {% if teamrequest|length > 0 %}
                <span class="badge badge-info text-uppercase no-radius ls-1 opacity-75">
               {{ teamrequest }}
            </span>
            {% endif %}
            <!-- project info -->
        </div>
    </div>
    {% if button_grp == True %}
        {% if teamrequest|length > 0 and feedback|length > 0 %}
            <div class="header-action">
                <div class="buttons">
                    <div class="fab fab-dir-left">
                        <button class="btn btn-float btn-dark" data-toggle="button" aria-pressed="false">
                            <i class="fab-icon-default ti-plus"></i>
                            <i class="fab-icon-active ti-close"></i>
                        </button>
                        <ul class="fab-buttons">
                            {% if teamrequest|length > 0 %}
                                <li><a class="btn btn-float btn-sm btn-info" id="send-prj-teamrequest"
                                       data-provide="tooltip" data-placement="bottom"
                                       data-original-title="{% trans "Send Team Request" %}" href="javascript:void(0);"
                                       data-target="#modal-team-request" data-toggle="modal"><i class="fa fa-users"></i></a>
                                </li>
                            {% endif %}
                            {% if feedback|length > 0 %}
                                <li><a class="btn btn-float btn-sm btn-info" id="send-feedback" data-provide="tooltip"
                                       data-placement="bottom"
                                       data-original-title="{% trans "Send Feedback" %}" href="javascript:void(0);"
                                       data-target="#modal-feedback" data-toggle="modal"><i
                                        class="fa fa-pencil"></i></a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        {% elif teamrequest|length > 0 %}
            <div class="header-action">
                <div class="buttons">
                    <div class="fab fab-dir-left">
                        <button class="btn btn-float btn-dark" data-toggle="button" aria-pressed="false">
                            <i class="fab-icon-default ti-plus"></i>
                            <i class="fab-icon-active ti-close"></i>
                        </button>
                        <ul class="fab-buttons">
                            {% if teamrequest|length > 0 %}
                                <li><a class="btn btn-float btn-sm btn-info" id="send-prj-teamrequest"
                                       data-provide="tooltip" data-placement="bottom"
                                       data-original-title="{% trans "Send Team Request" %}" href="javascript:void(0);"
                                       data-target="#modal-team-request" data-toggle="modal"><i class="fa fa-users"></i></a>
                                </li>
                            {% endif %}

                        </ul>
                    </div>
                </div>
            </div>
        {% elif feedback|length > 0 %}
            <div class="header-action">
                <div class="buttons">
                    <div class="fab fab-dir-left">
                        <button class="btn btn-float btn-dark" data-toggle="button" aria-pressed="false">
                            <i class="fab-icon-default ti-plus"></i>
                            <i class="fab-icon-active ti-close"></i>
                        </button>
                        <ul class="fab-buttons">
                            {% if feedback|length > 0 %}
                                <li><a class="btn btn-float btn-sm btn-info" id="send-feedback" data-provide="tooltip"
                                       data-placement="bottom"
                                       data-original-title="{% trans "Send Feedback" %}" href="javascript:void(0);"
                                       data-target="#modal-feedback" data-toggle="modal"><i
                                        class="fa fa-pencil"></i></a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
</header>