{% load i18n %}


<div class="row">
    <div class="col-md-12 col-12">
        <div class="card card-shadowed">
            <h4 class="card-title"><strong>{% trans "Level of Progress" %}</strong></h4>
            <div class="card-body">
                <ul class="nav nav-process nav-process-iconic" id="project-steps"
                    data-project-id="{{ project_id }}">
                    <li class="nav-item idea">
                        <span class="nav-title fw-500">{% trans "Idea" %}</span>
                        <a class="nav-link" href="#"><i class="fa fa-flash"></i></a>
                    </li>
                    <li class="nav-item business-model">
                        <span class="nav-title fw-500">{% trans "Business Plan" %}</span>
                        <a class="nav-link" href="#"><i class="fa fa-file-o"></i></a>
                    </li>
                    <li class="nav-item teammates">
                        <span class="nav-title fw-500 ">{% trans "Team" %}</span>
                        <a class="nav-link" href="#"><i class="fa fa-users"></i></a>
                    </li>
                    <li class="nav-item mvp-product">
                        <span class="nav-title fw-500">{% trans "MVP Product" %}</span>
                        <a class="nav-link" href="#"><i class="fa fa-cubes"></i></a>
                    </li>
                    <li class="nav-item paying-customers">
                        <span class="nav-title fw-500">{% trans "Paying Customers" %}</span>
                        <a class="nav-link" href="#"><i class="fa fa-child"></i></a>
                    </li>
                </ul>


            </div>
            <!-- team members -->
            <footer class="card-footer pt-15">
                <div class="avatar-list" id="project-persons">

                </div>
            </footer>
        </div>
    </div>
</div>



