{% load i18n %}

<div class="row hide-dsktp-right">
    <div class="col-md-12 col-lg-12">
        <div class="card card-body card-shadowed">
            <ul class="nav nav-tabs nav-justified nav-tabs-info">
                <li class="nav-item ">
                    <a class="nav-link active" data-toggle="tab" href="#project-info1">{% trans "General Infos" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#project-info2">{% trans "Business Plan" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#project-info3">{% trans "Requirements" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " data-toggle="tab" href="#project-info4">{% trans "Competitors" %}</a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content pt-20">
                {% include 'socialside/projects/detail/tabs/general_info.html' %}
                {% include 'socialside/projects/detail/tabs/business_model.html' %}
                {% include 'socialside/projects/detail/tabs/requirements.html' %}
                {% include 'socialside/projects/detail/tabs/competitors.html' %}
            </div>
        </div>
    </div>
</div>

<div class="row show-on-mobile">
    <div class="col-12">
        <div class="accordion accordion-connected" id="accordion-2">
            {% include 'socialside/projects/detail/mobile_tabs/general_info.html' %}
            {% include 'socialside/projects/detail/mobile_tabs/business_model.html' %}
            {% include 'socialside/projects/detail/mobile_tabs/requirements.html' %}
            {% include 'socialside/projects/detail/mobile_tabs/competitors.html' %}
        </div>
    </div>
</div>