{% extends 'socialside/base.html' %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}{{ page_title }} {% endblock %}
{% block body %}
    {% include "socialside/ideas/smilarprojects.html" %}
    <div class="main-content">
        {% include "socialside/supermessage.html" %}
        <div class="row">
            {% include "socialside/dashboard/sharepost.html" %}
            {% include "socialside/dashboard/statics.html" %}
        </div>
        <div class="row">
            <div class="col-12">
                {% if "tr" in LANGUAGE_CODE %}
                    <div class="divider text-uppercase fw-500">Konumunuz Dışındaki Güncellemeler</div>
                {% else %}
                    <div class="divider text-uppercase fw-500">Updates Outside Your Location</div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            {% include "socialside/dashboard/ouside_updates.html" %}
        </div>
        <div class="row">
            <div class="col-12">
                <div class="divider text-uppercase fw-500">{% trans 'Updates In Your Location' %}</div>
            </div>
        </div>
        <div class="row">
            {% include "socialside/dashboard/nearideas.html" %}
            {% include "socialside/dashboard/nearpersons.html" %}


        </div>
        <div class="row">
            <div class="col-12">
                <div class="divider text-uppercase fw-500">{% trans 'Support Type' %}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-12 col-lg-12">
                {% include 'socialside/myprofile/profile_supporttype.html' %}
            </div>
        </div>
    </div>
{% endblock %}