{% load i18n %}

<div class="col-md-5 col-lg-5">
    <div class="card card-shadowed" id="near-persons">
        <h5 class="card-title"><strong>{% trans "People close to you" %}</strong></h5>
        <div class="media-list media-list-hover media-list-divided scrollable" style="height: 345px">

        </div>
        <div class="text-center bt-1 border-light p-2">
            <a class="text-uppercase d-block fs-10 fw-500 ls-1" href="/dashboard/profiles/entrepreneur/">{% trans 'All People' %}</a>
        </div>
    </div>
</div>