{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<div class="col-md-4 offset-md-2 col-lg-4 offset-lg-2">
    <a class="flexbox flex-justified text-center" href="/dashboard/ideas/">
        <div class="no-shrink py-30 bg-primary text-white">
            <span class="fa fa-comments fs-40"></span>
        </div>
        <div class="py-30 bg-lightest text-dark">
            <div class="fs-30">+{{ ideas_count }}</div>
            <span class="text-uppercase">
                {% if "tr" in LANGUAGE_CODE %}
                    Fikirler
                {% else %}
                    Ideas
                {% endif %}
            </span>
        </div>
    </a>
</div>
<div class="col-md-4 col-lg-4 ">
    <a class="flexbox flex-justified text-center" href="/dashboard/projects/">
        <div class="py-30 bg-lightest text-dark">
            <div class="fs-30">+{{ projects_count }}</div>
            <span class="text-uppercase">
                {% if "tr" in LANGUAGE_CODE %}
                    Projeler
                {% else %}
                    Projects
                {% endif %}
            </span>
        </div>
        <div class="no-shrink py-30 bg-purple text-white">
            <span class="fa fa-rocket fs-40"></span>
        </div>
    </a>
</div>