{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}

<div class="col-md-8 col-lg-8">
    <div class="publisher publisher-multi bg-white b-1 mb-30 card-shadowed">
        <textarea class="publisher-input auto-expand mb-2" id="quick-idea" name="quick-idea" rows="6"
                  placeholder="{% trans "Share your question or idea right now! Evaluate incoming team request." %}"></textarea>

        <div class="flexbox">
            <div class="left"></div>
            <div class="right">
                <button class="btn btn-md btn-bold btn-primary" type="button"
                        id="share-quick-idea">{% trans "SHARE" %}</button>
            </div>


        </div>

    </div>
</div>