{% load i18n %}

<div class="col-md-4 col-lg-4">

    {% for member_static in member_statics %}
        {% if "entrepreneur" in member_static.member_type %}
            <div class="card card-body card-shadowed mb-2" id="entrepreneur-statics">
                <div class="fs-16 flexbox align-items-center">
                    <span>{% trans "Entrepreneurs" %}</span>
                    <span>{{ member_static.main_count }}</span>
                </div>
                <div class="progress mt-12 mb-0">
                    <div class="progress-bar" role="progressbar" style="width: {{ member_static.percent_value }}%; height: 4px;" aria-valuenow="{{ member_static.percent_value }}"
                         aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <small class="fw-300">{{ member_static.message }}</small>
            </div>
            {% else %}
            <div class="card card-body card-shadowed mb-2" id="entrepreneur-statics">
                <div class="fs-16 flexbox align-items-center">
                    <span>{% trans "Technicals" %}</span>
                    <span>{{ member_static.main_count }}</span>
                </div>
                <div class="progress mt-12 mb-0">
                    <div class="progress-bar" role="progressbar" style="width: {{ member_static.percent_value }}%; height: 4px;" aria-valuenow="{{ member_static.percent_value }}"
                         aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <small class="fw-300">{{ member_static.message }}</small>
            </div>
        {% endif %}
    {% endfor %}
</div>