{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<section class="blog section-padding bg-gray" data-scroll-index="5">
            <div class="container">
                <div class="row">

                    <div class="section-head text-center col-lg-8 col-md-10 offset-md-1 offset-lg-2">
                        <h6>Latest News</h6>
                        <h4>Our Blog</h4>
                        <p>Nulla metus metus ullamcorper vel tincidunt sed euismod nibh Quisque volutpat condimentum velit class aptent taciti sociosqu ad litora torquent per conubia nostra.</p>
                    </div>

                    <div class="col-lg-4">
                        <div class="item mb-md50">
                            <div class="post-img">
                                <a href="#0">
                                    <img src="img/blog/1.jpg" alt="">
                                </a>
                            </div>
                            <div class="post-cont">
                                <a href="#0"><span class="tag">After Effect</span></a>
                                <h5>
                                    <a href="#0">Top 10 Advertisement Templates for After Effects.</a>
                                </h5>
                                <p>Nulla metus metus vel tincidunt sed euismod nibh volutpat condimentum velit class aptent taciti...</p>
                                <div class="info">
                                    <a href="#0"><span class="icon"><i class="far fa-user"></i></span>Admin</a>
                                    <a href="#0"><span class="icon"><i class="far fa-clock"></i></span> 06 august 2018</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="item mb-md50">
                            <div class="post-img">
                                <a href="#0">
                                    <img src="img/blog/2.jpg" alt="">
                                </a>
                            </div>
                            <div class="post-cont">
                                <a href="#0"><span class="tag">WordPress</span></a>
                                <h5>
                                    <a href="#0">How Ubiquity Became a Liability for Burberry.</a>
                                </h5>
                                <p>Nulla metus metus vel tincidunt sed euismod nibh volutpat condimentum velit class aptent taciti...</p>
                                <div class="info">
                                    <a href="#0"><span class="icon"><i class="far fa-user"></i></span>Admin</a>
                                    <a href="#0"><span class="icon"><i class="far fa-clock"></i></span> 06 august 2018</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="item">
                            <div class="post-img">
                                <a href="#0">
                                    <img src="img/blog/3.jpg" alt="">
                                </a>
                            </div>
                            <div class="post-cont">
                                <a href="#0"><span class="tag">Video</span></a>
                                <h5>
                                    <a href="#0">Top 10 Infographic Video Templates for After Effects.</a>
                                </h5>
                                <p>Nulla metus metus vel tincidunt sed euismod nibh volutpat condimentum velit class aptent taciti...</p>
                                <div class="info">
                                    <a href="#0"><span class="icon"><i class="far fa-user"></i></span>Admin</a>
                                    <a href="#0"><span class="icon"><i class="far fa-clock"></i></span> 06 august 2018</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>