{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<div class="clients text-center bg-gray">
            <div class="container">
                <div class="row">

                    <div class="col-md-12 owl-carousel owl-theme">
                        <div class="client-logo">
                            <a href="#0">
                                <img src="img/clients-logo/1.png" alt="">
                            </a>
                        </div>
                        <div class="client-logo">
                            <a href="#0">
                                <img src="img/clients-logo/2.png" alt="">
                            </a>
                        </div>
                        <div class="client-logo">
                            <a href="#0">
                                <img src="img/clients-logo/3.png" alt="">
                            </a>
                        </div>
                        <div class="client-logo">
                            <a href="#0">
                                <img src="img/clients-logo/4.png" alt="">
                            </a>
                        </div>
                        <div class="client-logo">
                            <a href="#0">
                                <img src="img/clients-logo/5.png" alt="">
                            </a>
                        </div>
                        <div class="client-logo">
                            <a href="#0">
                                <img src="img/clients-logo/6.png" alt="">
                            </a>
                        </div>
                        <div class="client-logo">
                            <a href="#0">
                                <img src="img/clients-logo/7.png" alt="">
                            </a>
                        </div>
                        <div class="client-logo">
                            <a href="#0">
                                <img src="img/clients-logo/8.png" alt="">
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>