{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<section class="contact section-padding" data-scroll-index="6">
    <div class="container">
        <div class="row">

            <div class="section-head text-center col-lg-8 col-md-10 offset-md-1 offset-lg-2">
                {% if "tr" in LANGUAGE_CODE %}
                    <h6>İletişim</h6>
                    <h4 class="sub-title">Fikir ve Görüşlerinizi Bekleriz</h4>
                    <p>Bizimle her konuda istediğiniz zaman iletişime geçebilirsiniz. En kısa sürede cevap vermeye çalışacağız.</p>
                {% else %}
                    <h6>Get In Touch</h6>
                    <h4 class="sub-title">Contact Us</h4>
                    <p>Feel free to contact us for anything about the platform.</p>
                {% endif %}
            </div>

            <div class="col-lg-5">
                <div class="contact-info mb-md50">
                    <div class="item">
                        <span class="icon"><i class="fas fa-envelope"></i></span>
                        <div class="cont">
                            {% if "tr" in LANGUAGE_CODE %}
                                <h6>Eposta : </h6>
                                <p><a href="hello@leapcrowd.co">hello@leapcrowd.co</a></p>
                            {% else %}
                                <h6>Email : </h6>
                                <p><a href="hello@leapcrowd.co">hello@leapcrowd.co</a></p>
                            {% endif %}

                        </div>
                    </div>
                    <div class="item">
                        <span class="icon"><i class="fas fa-map-marker-alt"></i></span>
                        <div class="cont">
                            {% if "tr" in LANGUAGE_CODE %}
                                <h6>Adres : </h6>
                                <p>Aydın, Türkiye</p>
                            {% else %}
                                <h6>Address : </h6>
                                <p>Aydin, Turkey</p>
                            {% endif %}

                        </div>
                    </div>
                    <div class="item mb-0">
                        <span class="icon"><i class="far fa-clock"></i></span>
                        <div class="cont">
                            {% if "tr" in LANGUAGE_CODE %}
                                <h6>Çalışma Saatleri : </h6>
                                <p>8:00 a.m - 24:00 p.m</p>
                            {% else %}
                                <h6>Working Hours : </h6>
                                <p>8:00 a.m - 24:00 p.m</p>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-7">
                <form class="form" id="contact-form" method="post">

                    <div class="messages">
                        <input type="hidden" value="{{ LANGUAGE_CODE }}" id="lang"/>
                    </div>

                    <div class="controls">

                        <div class="row">

                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" name="name" id="name" placeholder="Name"
                                           required="required">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input id="email" type="email" name="email" placeholder="Email"
                                           required="required">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input id="subject" type="text" name="subject" placeholder="Subject">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea id="message" name="message" placeholder="Message" rows="4"
                                              required="required"></textarea>
                                </div>
                            </div>

                            <div class="col-md-12">
                                {% if "tr" in LANGUAGE_CODE %}
                                    <button type="button" id="send-form" class="butn butn-bg"><span>Gönder</span>
                                    </button>
                                {% else %}
                                    <button type="button" id="send-form" class="butn butn-bg"><span>Send Message</span>
                                    </button>
                                {% endif %}

                            </div>

                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>