{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<section class="faq section-padding bg-gray">
    <div class="container">
        <div class="row">

            <div class="section-head text-center col-lg-8 col-md-10 offset-md-1 offset-lg-2">
                <h6>What About People Ask?</h6>
                <h4>FAQ</h4>
                <p>Nulla metus metus ullamcorper vel tincidunt sed euismod nibh Quisque volutpat condimentum velit class
                    aptent taciti sociosqu ad litora torquent per conubia nostra.</p>
            </div>

            <div class="col-lg-6">
                <div class="accordion mb-md50">

                    <div class="item active">
                        <div class="title">
                            <h6>Identifying Problem Source</h6>
                        </div>
                        <div class="accordion-info active">
                            <p>Lorem ipsum dolor sit amet, in quodsi vulputate pro. Ubique maluisset vel te, his dico
                                vituperata ut. in quodsi Ubique maluisset vel te, his dico vituperata ut in quodsi
                                Ubique.</p>
                        </div>
                    </div>

                    <div class="item">
                        <div class="title">
                            <h6>Protecting brand integrity</h6>
                        </div>
                        <div class="accordion-info">
                            <p>Lorem ipsum dolor sit amet, in quodsi vulputate pro. Ubique maluisset vel te, his dico
                                vituperata ut.vituperata ut in quodsi in quodsiUbique maluisset vel te, his dico
                                vituperata ut in quodsiUbique. in quodsi vulputate.</p>
                        </div>
                    </div>

                    <div class="item">
                        <div class="title">
                            <h6>Protecting brand integrity</h6>
                        </div>
                        <div class="accordion-info">
                            <p>Lorem ipsum dolor sit amet, in quodsi vulputate pro. Ubique maluisset vel te, his dico
                                vituperata ut.vituperata ut in quodsi in quodsiUbique maluisset vel te, his dico
                                vituperata ut in quodsiUbique. in quodsi vulputate.</p>
                        </div>
                    </div>

                    <div class="item mb-0">
                        <div class="title">
                            <h6>We Are Creative And Professional</h6>
                        </div>
                        <div class="accordion-info">
                            <p>Lorem ipsum dolor sit amet, in quodsi vulputate pro. Ubique maluisset vel te, his dico
                                vituperata ut. in vituperata ut in quodsi maluisset vel te, his dico vituperata ut in
                                quodsi Ubique. in quodsi vulputate.</p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-6">
                <img src="img/workspace.svg" alt="">
            </div>

        </div>
    </div>
</section>