{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<section class="features section-padding" data-scroll-index="1">
    <div class="container">
        <div class="row">

            <div class="section-head text-center col-lg-8 col-md-10 offset-md-1 offset-lg-2">
                <h6>Features</h6>
                <h4>Our Features</h4>
                <p>Nulla metus metus ullamcorper vel tincidunt sed euismod nibh Quisque volutpat condimentum velit class
                    aptent taciti sociosqu ad litora torquent per conubia nostra.</p>
            </div>

            <div class="col-lg-6 mb-md50">
                <img src="{% static "frontside/img/working.svg" %}" alt="">
            </div>

            <div class="col-lg-6">
                <div class="content">
                    <h6>Who we are?</h6>
                    <h5>We strive to be the best and make Awesome Work.</h5>
                    <p>Nulla metus metus ullamcorper vel tincidunt sed euismod nibh Quisque volutpat condimentum velit
                        class aptent taciti sociosqu ad litora torquent per conubia nostra.</p>
                    <ul>
                        <li>
                            <p>
                                <span class="icon"><img src="{% static "frontside/img/check-green.png" %}"
                                                        alt=""></span>
                                We love what we do & we do it with passion!</p>
                        </li>
                        <li>
                            <p>
                                <span class="icon"><img src="{% static "frontside/img/check-green.png" %}"
                                                        alt=""></span>
                                Torquent per conubia per, consectetur adipiscing elit.</p>
                        </li>
                        <li>
                            <p>
                                <span class="icon"><img src="{% static "frontside/img/check-green.png" %}"
                                                        alt=""></span>
                                Aenean a arcu ullamco viver blandit dolor sit amet, consectetur elit.</p>
                        </li>
                        <li>
                            <p>
                                <span class="icon"><img src="{% static "frontside/img/check-green.png" %}"
                                                        alt=""></span>
                                We Build Unique Designs And Creat a Creative Websites.</p>
                        </li>
                        <li>
                            <p>
                                <span class="icon"><img src="{% static "frontside/img/check-green.png" %}"
                                                        alt=""></span>
                                Creativity is to Think More Efficiently.</p>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>