{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<div class="get-ready section-padding bg-img bg-fixed" data-overlay-dark="7"
     data-background="{% static "frontside/img/bg_2.jpg" %}">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                <div class="text-center">
                    {% if "tr" in LANGUAGE_CODE %}
                        <h6>Topluluk</h6>
                        <div class="row ">
                            <div class="col-md-6 col-lg-6 community-statics">
                                <h4>Girişimciler</h4>
                                <h5>15</h5>
                            </div>
                            <div class="col-md-6 col-lg-6 community-statics">
                                <h4>Uzmanlar</h4>
                                <h5>25</h5>
                            </div>
                        </div>

                        {#                        <h4>Unique, truly responsive and functional<br> websites that impress!</h4>#}
                        {#                        <p>We’re full service which means we’ve got you covered on design and content right through to#}
                        {#                            digital. You’ll form a lasting relationship with us, collaboration is central to everything#}
                        {#                            we#}
                        {#                            do.</p>#}
                        <a href="#0" class="butn butn-bg mt-30">
                            <span>Get Started</span>
                        </a>
                    {% else %}
                        <h6>Community</h6>
                        <h4>Unique, truly responsive and functional<br> websites that impress!</h4>
                        <p>We’re full service which means we’ve got you covered on design and content right through to
                            digital. You’ll form a lasting relationship with us, collaboration is central to everything
                            we
                            do.</p>
                        <a href="#0" class="butn butn-bg mt-30">
                            <span>Get Started</span>
                        </a>
                    {% endif %}


                </div>
            </div>

        </div>
    </div>
</div>