{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<section class="price section-padding bg-gray" data-scroll-index="3">
    <div class="container">
        <div class="row">

            <div class="section-head text-center col-lg-8 col-md-10 offset-md-1 offset-lg-2">
                {% if "tr" in LANGUAGE_CODE %}
                    <h6>Leapcrowd Üyelik Tipleri</h6>
                    <h4 class="sub-title">Üyelik Paketlerimiz</h4>
                    <p>Platformumuz tamamen paylaşmaya yönelik bir platformdur. Eğer paylaşımcı bir kişiliğe sahipseniz
                        platformumuzdan ücretsiz olarak yararlanabilirsiniz. Konumunuz dışındaki kişilere doğrudan
                        ulaşmak isterseniz eğer ücretli üyeliklerimizden faydalanabilirsiniz.</p>
                {% else %}
                    <h6>Leapcrowd Membership Packages</h6>
                    <h4>Full Access Membership Packages</h4>
                    <p>If you love to share, you can use the platform for free. If you'd like to communicate
                        instantly with people outside your location, you can benefit our paid membership packages.</p>
                {% endif %}


            </div>

            <div class="pricing-tables text-center col-md-12">

                <div class="row">

                    <div class="col-lg-4">
                        <div class="item mb-md50">
                            <div class="type">
                                <h4>Beginner</h4>
                            </div>

                            <div class="value">
                                {% if "tr" in LANGUAGE_CODE %}
                                    <h3><span>₺</span>0</h3>
                                    <span class="per">/ Aylık</span>
                                {% else %}
                                    <h3><span>$</span>0</h3>
                                    <span class="per">/ Month</span>
                                {% endif %}

                            </div>

                            <div class="features">
                                <ul>
                                    {% if "tr" in LANGUAGE_CODE %}
                                        <li>1 adet proje sayfası oluşturabilme</li>
                                        <li>Konumunuzdaki kişilerle anında iletişim kurabilme</li>
                                        <li>Konumunuzdaki kişilere 1 adet takım isteği gönderebilme</li>
                                        <li>
                                            Soru/Fikir paylaşabilme
                                        </li>
                                        <li>Takım isteği toplama ve değerlendirebilme</li>
                                        <li>3 kişilik bir ekip kurabilme</li>
                                        <li>Ekibinizi yönetebilme</li>
                                    {% else %}
                                        <li>Building 1 project page</li>
                                        <li>Communicate instantly with people at your location</li>
                                        <li>Sending a team request to one person in your location</li>
                                        <li>
                                            Share question/idea
                                        </li>
                                        <li>Building team for 3 persons 1 project</li>
                                        <li>Managing your team</li>
                                    {% endif %}

                                </ul>
                            </div>

                            {#                            <div class="order">#}
                            {#                                <a href="#0" class="butn butn-bord">#}
                            {#                                    <span>Order Now</span>#}
                            {#                                </a>#}
                            {#                            </div>#}
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="item active mb-md50">

                            <div class="type">
                                <h4>Growing</h4>
                            </div>

                            <div class="value">
                                {% if "tr" in LANGUAGE_CODE %}
                                    <h3><span>₺</span>60</h3>
                                    <span class="per">/ Aylık</span>
                                {% else %}
                                    <h3><span>$</span>60</h3>
                                    <span class="per">/ Month</span>
                                {% endif %}

                            </div>

                            <div class="features">
                                <ul>
                                    {% if "tr" in LANGUAGE_CODE %}
                                        <li>3 adet proje sayfası oluşturabilme</li>
                                        <li>Konumunuzdaki kişilerle anında iletişim kurabilme</li>
                                        <li>Konumunuz dışındaki kişilerle anında iletişim kurabilme</li>
                                        <li>Konumunuz dışındaki kişilere 50 adet takım isteği gönderebilme</li>
                                        <li>Soru/Fikir paylaşabilme</li>
                                        <li>Takım isteği toplama ve değerlendirebilme</li>
                                        <li>8 kişilik ekip kurabilme</li>
                                        <li>Profil detaylarını görebilme</li>
                                        <li>Ekibinizi yönetebilme</li>
                                    {% else %}
                                        <li>Building 3 project pages</li>
                                        <li>Communicate instantly with people at your location</li>
                                        <li>Communicate instantly with people outside your location</li>
                                        <li>Sending 50 team requests to everyone at outside your location</li>
                                        <li>Share question/idea</li>
                                        <li>Collect and evaluate team requests</li>
                                        <li>Building team for 8 persons per project</li>
                                        <li>View details of contacts</li>
                                        <li>Managing your team</li>
                                    {% endif %}

                                </ul>
                            </div>

                            {#                            <div class="order">#}
                            {#                                <a href="#0" class="butn butn-bg">#}
                            {#                                    <span>Order Now</span>#}
                            {#                                </a>#}
                            {#                            </div>#}
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="item">
                            <div class="type">
                                <h4>Connected</h4>
                            </div>

                            <div class="value">
                                {% if "tr" in LANGUAGE_CODE %}
                                    <h3><span>₺</span>120</h3>
                                    <span class="per">/ Aylık</span>
                                {% else %}
                                    <h3><span>$</span>120</h3>
                                    <span class="per">/ Month</span>
                                {% endif %}

                            </div>

                            <div class="features">
                                <ul>
                                    {% if "tr" in LANGUAGE_CODE %}
                                        <li>Sınırsız sayıda proje ekleyebilme</li>
                                        <li>Platformdaki herkes ile anında iletişim kurabilme</li>
                                        <li>Platformdaki herkese takım isteği gönderebilme</li>
                                        <li>Soru/Fikir paylaşabilme</li>
                                        <li>Takım isteği toplama ve değerlendirebilme</li>
                                        <li>Sınırsız sayıda kişiyle ekip oluşturabilme</li>
                                        <li>Profil detaylarını görebilme</li>
                                        <li>Ekibinizi yönetebilme</li>
                                    {% else %}
                                        <li>Adding unlimited project page</li>
                                        <li>Communicate instantly with everyone</li>
                                        <li>Send team request to everyone</li>
                                        <li>Share question/idea</li>
                                        <li>Collect and evaluate team requests</li>
                                        <li>Team building with an unlimited number of people</li>
                                        <li>View details of contacts</li>
                                        <li>Managing your team</li>
                                    {% endif %}

                                </ul>
                            </div>

{#                            <div class="order">#}
{#                                <a href="#0" class="butn butn-bord">#}
{#                                    <span>Order Now</span>#}
{#                                </a>#}
{#                            </div>#}
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</section>
