{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<section class="services section-padding" data-scroll-index="2">
    <div class="container">
        <div class="row">

            <div class="section-head text-center col-lg-8 col-md-10 offset-md-1 offset-lg-2">
                <h6>Services</h6>
                <h4>Our Services</h4>
                <p>Nulla metus metus ullamcorper vel tincidunt sed euismod nibh Quisque volutpat condimentum velit class
                    aptent taciti sociosqu ad litora torquent per conubia nostra.</p>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="item mb-30">
                    <span class="icon icon-lightbulb"></span>
                    <h5>Creative Design</h5>
                    <p>Nulla metus metus ullamcorper vel tincidunt sed euismod nibh Quisq.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="item mb-30">
                    <span class="icon icon-mobile"></span>
                    <h5>Fully Responsive</h5>
                    <p>Nulla metus metus ullamcorper vel tincidunt sed euismod nibh Quisq.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="item mb-30">
                    <span class="icon icon-pictures"></span>
                    <h5>Retina Ready</h5>
                    <p>Nulla metus metus ullamcorper vel tincidunt sed euismod nibh Quisq.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="item mb-md30">
                    <span class="icon icon-layers"></span>
                    <h5>Easy to customize</h5>
                    <p>Nulla metus metus ullamcorper vel tincidunt sed euismod nibh Quisq.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="item mb-sm30">
                    <span class="icon icon-search"></span>
                    <h5>SEO Optimized</h5>
                    <p>Nulla metus metus ullamcorper vel tincidunt sed euismod nibh Quisq.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="item">
                    <span class="icon icon-gears"></span>
                    <h5>Fast Support</h5>
                    <p>Nulla metus metus ullamcorper vel tincidunt sed euismod nibh Quisq.</p>
                </div>
            </div>

        </div>
    </div>
</section>