{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<section class="team section-padding" data-scroll-index="4">
    <div class="container">
        <div class="row">

            <div class="section-head text-center col-lg-8 col-md-10 offset-md-1 offset-lg-2">
                <h6>Creative Minds</h6>
                <h4>Our Team</h4>
                <p>Nulla metus metus ullamcorper vel tincidunt sed euismod nibh Quisque volutpat condimentum velit class
                    aptent taciti sociosqu ad litora torquent per conubia nostra.</p>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="item mb-30">
                    <div class="img">
                        <img src="img/team/1.jpg" alt="">
                    </div>
                    <div class="info">
                        <div class="text-center">
                            <h6>Alex Smith</h6>
                            <p>UI/UX Designer</p>
                            <div class="social">
                                <a href="#0"><i class="fab fa-facebook-f"></i></a>
                                <a href="#0"><i class="fab fa-twitter"></i></a>
                                <a href="#0"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="item mb-30">
                    <div class="img">
                        <img src="img/team/2.jpg" alt="">
                    </div>
                    <div class="info">
                        <div class="text-center">
                            <h6>Alex Smith</h6>
                            <p>UI/UX Designer</p>
                            <div class="social">
                                <a href="#0"><i class="fab fa-facebook-f"></i></a>
                                <a href="#0"><i class="fab fa-twitter"></i></a>
                                <a href="#0"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="item mb-sm30">
                    <div class="img">
                        <img src="img/team/3.jpg" alt="">
                    </div>
                    <div class="info">
                        <div class="text-center">
                            <h6>Alex Smith</h6>
                            <p>UI/UX Designer</p>
                            <div class="social">
                                <a href="#0"><i class="fab fa-facebook-f"></i></a>
                                <a href="#0"><i class="fab fa-twitter"></i></a>
                                <a href="#0"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="item">
                    <div class="img">
                        <img src="{% static "frontside/img/team/4.jpg" %}" alt="">
                    </div>
                    <div class="info">
                        <div class="text-center">
                            <h6>Alex Smith</h6>
                            <p>UI/UX Designer</p>
                            <div class="social">
                                <a href="#0"><i class="fab fa-facebook-f"></i></a>
                                <a href="#0"><i class="fab fa-twitter"></i></a>
                                <a href="#0"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>