{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<div class="testimonials section-padding" data-scroll-index="2">
    <div class="container">
        <div class="row">
            <div class="section-head text-center col-lg-8 col-md-10 offset-md-1 offset-lg-2">
                {% if "tr" in LANGUAGE_CODE %}
                    <h6>Leapcrowd Topluluğu</h6>
                    <h4 class="sub-title">Girişimciler ve Uzmanlar <br>seni bekliyor.</h4>
                    <p>Dünyanın çeşitli yerlerinde yaşayan girişimci ve uzman kişiler seni bekliyor. <br><b>Tek yapman
                        gereken hemen iletişime geçmek.</b></p>
                {% else %}
                    <h6>Leapcrowd Community</h6>
                    <h4 class="sub-title">Entrepreneurs and Experts are <br>waiting for you.</h4>
                    <p>Entrepreneurs and Experts are waiting for you in around of the world. <br><b>All you have to do
                        is communicate.</b></p>
                {% endif %}

            </div>

            <div class="col-lg-12">

                <div class="owl-carousel owl-theme" id="community-list">
                    {% for prsn in community %}

                        <div class="item">
                            <div class="client-area">
                                <div class="img">
                                    <div class="author">
                                        <img src="{{ prsn.profile_image }}" alt="">
                                    </div>
                                </div>
                                <h6>{{ prsn.profile_name }}</h6>
                                {% if "entrepreneur" in prsn.member_type %}
                                    {% if "tr" in LANGUAGE_CODE %}
                                        <span class="name">Girişimci</span><br>
                                    {% else %}
                                        <span class="name">Entrepreneur</span><br>
                                    {% endif %}

                                {% else %}
                                    {% if "tr" in LANGUAGE_CODE %}
                                        <span class="name">Uzman</span><br>
                                    {% else %}
                                        <span class="name">Expert</span><br>
                                    {% endif %}

                                {% endif %}
                                <span class="member-type">{{ prsn.location_name }}</span>
                            </div>
                        </div>
                    {% endfor %}


                </div>
            </div>
        </div>
    </div>
</div>