{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<section class="hero section-padding bg-gray" data-scroll-index="1">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                <div class="intro text-center mb-80">
                    {% if "tr" in LANGUAGE_CODE %}
                        <h6>Leapcrowd Nedir?</h6>
                        <h5 class="sub-title">Girişimcilere ait konum tabanlı kişisel bir sosyal ağdır.</h5>
                        <p class="sub-content">Startup fikri olan girişimcilerin takım kurabileceği, konumundaki uzman
                            ve girişimci kişilerle ücretsiz olarak anında iletişime geçebileceği kişisel bir sosyal ağ
                            platformdur.</p>
                    {% else %}
                        <h6>What is Leapcrowd?</h6>
                        <h5 class="sub-title">Leapcrowd is a private social network focused on building a team for your startup project.</h5>
                        <p class="sub-content">Leapcrowd is a private social network platform where you can build teams
                            and communicate instantly with the entrepreneurs and experts who close to your location.</p>
                    {% endif %}

                </div>
            </div>

            <div class="col-lg-4">
                <div class="feat mb-md50 const-height">
                    <span class="icon icon-chat"></span>
                    <div class="cont">
                        {% if "tr" in LANGUAGE_CODE %}
                            <h6>Konum Bazlı Etkileşim</h6>
                            <p>Konumunuzda yer alan girişimci ve uzman kişiler ile ücretsiz olarak anında iletişim
                                kurun.</p>
                        {% else %}
                            <h6>Location Based Interaction</h6>
                            <p>Communicate instantly with entrepreneurs and experts who close to your location. </p>
                        {% endif %}

                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="feat mb-md50 const-height">
                    <span class="icon icon-map"></span>
                    <div class="cont">
                        {% if "tr" in LANGUAGE_CODE %}
                            <h6>Startup Ekibi Kurmak</h6>
                            <p>Fikrinizi veya projenizi platformda paylaşarak dünyanın her yerindeki girişimci ve uzman
                                kişilere ulaşın ve startup ekibinizi kurun.</p>
                        {% else %}
                            <h6>Build Startup Team</h6>
                            <p>Share your idea or project on the platform and reach out entrepreneurs and experts around
                                the world. Accept incoming team requests and build your startup team.</p>
                        {% endif %}

                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="feat mb-md50 const-height">
                    <span class="icon icon-layers"></span>
                    <div class="cont">
                        {% if "tr" in LANGUAGE_CODE %}
                            <h6>Geri Bildirim Topla</h6>
                            <p>Startup projeni sisteme gir ve dünyanın her yerindeki girişimci ve uzman kişilerden projenin işleyişi konusunda geri bildirim toplayın.</p>
                        {% else %}
                            <h6>Get Feedback</h6>
                            <p>Enter your startup project on the platform and get feedback about your process from entrepreneurs and experts around the world.</p>
                        {% endif %}

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>